<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ministerio Público &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/ministerio-publico/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>El espionaje en internet no es ciencia ficción</title>
		<link>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/</link>
		<comments>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:01:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[EFF]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Katitza Rodríguez]]></category>
		<category><![CDATA[Ministerio Público]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3138</guid>
		<description><![CDATA[Por Luis Ríos, publicado por Ejempla el 2 de marzo de 2015. Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos. Para poder poner en marcha un [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Por <a href="https://twitter.com/nosoyunvampire" target="_blank">Luis Ríos</a>, <a href="http://ejempla.com/futuro/el-espionaje-en-internet-no-es-ciencia-ficcion" target="_blank">publicado por Ejempla el 2 de marzo de 2015</a>.</strong></p>
<hr />
<p><em>Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos.</em></p>
<p>Para poder poner en marcha un plan de espionaje, se debe obligar a las compañías telefónicas a que retengan los datos, de ahí surge la necesidad de una ley. Es así que en setiembre del año pasado la Cámara de Senadores aprobó un proyecto de Ley que obliga a las operadoras de Internet a almacenar datos de tráfico (IP) por el periodo de un año, a fin de ubicar el origen de las publicaciones.</p>
<p>Según los proyectistas Arnaldo Giuzzio, Fernando Silva, Robert Acevedo y Arnoldo Wiens, se logrará identificar el origen de los mensajes en casos investigados por estafa mediante Internet e incluso ayudará al combate contra Ejército del Pueblo Paraguayo (EPP). Además de que sea una herramienta para reducir la pornografía infantil.</p>
<p>El Ministerio Público <a href="http://ejempla.com/actualidad/aseguran-que-no-habra-espionaje">aclaró</a> que a lo que se tienen acceso son a los metadatos (Conexión, desconexión, horas, duraciones, con quien se habla y cada cuanto, fotografias, vídeos y todo el material que queda almacenado en la nube) que se comparten en las redes (incluyendo inbox o DM) y en los mails que se envían.</p>
<p>Remarcaron que no se tendrá acceso a lo escrito dentro del correo o mensaje privado o público, solamente a los archivos enviados dentro. Así como a la hora de conexión y desconexión de un usuario. Esa sería la forma de controlar si se está incurriendo en algún delito informático.</p>
<h2 class="subh-default">la otra cara</h2>
<p>Desde <a href="http://www.tedic.org/">Tecnología, Educación, Desarrollo, Investigación, Comunicación (Tedic)</a>, organización que lleva a cabo la campaña contra la ley #Pyrawebs, manifestaron la ilegalidad del hecho a raíz de representar una invasión y violación del derecho a la privacidad y a las libertades de expresión y pensamiento.</p>
<p>Hoy el proyecto cuenta con media sanción en el Senado y se espera la vuelta de las sesiones para que sea tratado en diputados para su sanción con fuerza de ley.</p>
<p>Continuando con los puntos de vista al respecto del monitoreo o si se quiere, espionaje estatal, está en Paraguay Javier Pallero, analista de políticas para Latinoamérica de la organización de Derechos Humanos en Internet <a href="https://www.accessnow.org/">Access</a>.</p>
<p>El mismo detalló que los gobiernos tienen distintas formas de espiar a sus ciudadanos, sin que ellos se enteren y es anormal que blanqueen su autoría. Dependiendo del tipo de gobierno, porque existen gobiernos como el ruso o el chino en donde se reprimen y encarcelan activistas. Estos tipos de gobiernos se conocen como opresores.</p>
<p>Antes de las revoluciones ocurridas en Egipto y Libia, el servicio de Internet se cortaba constantemente. En Arabia Saudita se utilizaban servicios de espionaje para identificar a opositores y personas que se expresan en contra de las autoridades a través de un blog o redes sociales. “El espionaje existe y es posible porque gracias a ello encuentran a los autores que muchas veces son anónimos en la red”, explicó Pallero.</p>
<p>En los estados democráticos hace falta una ley para invadir la privacidad de un ciudadano. Pero según el experto, luego de los atentados del 11 de setiembre de 2001, los países le dieron mas poderes y accesibilidad a sus agencias de inteligencia sin que sus habitantes se enteren. “Si bien existían unos organismos por donde tenían que rendir cuentas, estas agencias mentían en sus declaraciones y seguían abusando de su poder”, subrayó.</p>
<p>Consultado sobre la cantidad de casos de espionaje gubernamental, señaló que “son números astronómicos, difíciles de cuantificar porque se recolectan datos en tiempo real de personas alrededor del mundo permanentemente”.</p>
<p>El analista hizo hincapié en que las personas que están bajo vigilancia, se comportan de otra manera. “Uno siente naturalmente cuando lo vigilan. Cuando estás en un lugar con cámaras, no vas a hacer cosas que no querrías que vieran”, ejemplificó.</p>
<p>Relativizó que si en Estados Unidos donde hay un hermetismo de controlar todo, se sigue ‘encontrando una ventana’ para invadir la privacidad, en un país como Paraguay las observaciones serían peores.</p>
<p>Puntualizó que existen distintos tipos de tecnologías que permiten, sin necesidad que exista una ley, espiar las comunicaciones de las personas. “El gobierno de Uruguay entre el 2010 y 2012 compró equipamiento y software de vigilancia a empresas europeas sin que lo apruebe el Congreso, para los servicios secretos de ese país”, afirmó Pallero. ¿Quién dice que esto ya no ocurrió en Paraguay? Considerando que no hay transparencias en las compras que hacen las instituciones gubernamentales.</p>
<p>Ante esta situación lo que Pallero recomienda hacer, primero como sociedad es informar. “Vos cuando usás Internet, dejás rastros. Entonces no hay que poner todo en Internet, no usar el teléfono para todo, pero más que todo se debe pedir al proveedor no formar parte de ningún archivo que después pueda ser usado contra el usuario y que las mismas empresas se pongan del lado de sus usuarios”, recomendó.</p>
<p>Para cuidar las comunicaciones individualmente, Pallero al igual que <a href="http://ejempla.com/actualidad/el-espionaje-en-internet-es-una-realidad">Katitza Rodríguez</a>, recomienda cifrar y encriptar, utilizar servicios diferentes, tener cuidado de con quien se habla y en que forma.</p>
<p>Así también, el representante de Access, refirió que es ideal que los gobiernos impulsen políticas de privacidad en Internet. Expuso que existen países en donde son las mismas empresas proveedoras las que violan la privacidad de sus usuarios, entonces es el Estado el que tiene que ponerles un limite. Más necesarias lo son en países que son fabricantes de teléfonos y que ya vengan cifrados desde su origen.</p>
<p>Si se llegara a aprobar el proyecto de retención en Paraguay, Pallero instó a los paraguayos a manifestarse públicamente al Congreso y pedir su inconstitucionalidad. Posterior a ello, una demanda ante la Corte Suprema de Justicia pidiendo que intervenga porque perjudica el principio de inocencia, el de proporcionalidad, ya que sin hacer nada, se toma a uno como sospechosos y culpable. Si esto no corre, las técnicas para proteger las comunicaciones mencionadas anteriormente son el plan B.</p>
<p>“En <a href="http://www.libertaddigital.com/internet/alemania-prohibe-la-retencion-de-datos-telefonicos-y-de-internet-1276386134/">Alemania esta ley de retención de datos</a> se mantuvo por seis años hasta que la revocaron. Entonces una ONG investigó acerca de la eficiencia de ella en los trabajos policiales y los resultados mostraron que no sirvió para nada”, recalcó Javier Pallero.</p>
<p>También, siempre en el supuesto de aprobación, Paraguay violaría su propia Constitución Nacional ya que en su artículo 33 se garantiza el derecho a la intimidad tanto personal como familiar. Igualmente pasaría por encima al pacto de San José de Costa Rica y la Convención Interamericana de Derechos Humanos.</p>
<p>“El gobierno dice que no se ve el contenido, solo los metadatos, pero esos metadatos están relacionados con la geolocalización y está cruzado con el teléfono, y la conexión de la casa. Entonces se puede sacar mucha información. Espiar los metadatos es igual de grave que espiar el contenido del mensaje”, cerró.</p>
<div class="item-divider"></div>
<div id="themify_builder_content-3138" data-postid="3138" class="themify_builder_content themify_builder_content-3138 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.590 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:01 -->
