<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Cámara de Diputados &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/camara-de-diputados/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Entregan firmas al Congreso paraguayo contra el almacenamiento datos de en internet</title>
		<link>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/</link>
		<comments>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:12:32 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[firmas]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[retención de datos de tráfico]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3142</guid>
		<description><![CDATA[Agencia EFE, Asunción.- La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves. La ley que establece la obligación [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="body">
<p class="summary">Agencia EFE, Asunción.-</p>
<p class="summary">La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves.</p>
<p>La ley que establece la obligación a las empresas proveedoras de internet de conservar los datos de tráfico de los ciudadanos ya fue aprobada por el Senado hace casi seis meses.</p>
<p>Pero la Cámara de Diputados, que debe sancionar o rechazar el texto, postergó la semana pasada la votación definitiva del proyecto después de que parlamentarios oficialistas y opositores reconocieran que desconocían el contenido y las consecuencias del texto.</p>
<p>Tedic, expresó en un comunicado que el proyecto de ley “violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia”, consagrados en la Constitución.</p>
<p>Por ello, piden a los proyectistas de la ley que retiren el texto.</p>
<p>“Condenamos cualquier intento de vigilar todas las comunicaciones sin justificación debida, violando la Constitución Nacional”, destacó Tedic.</p>
<p>La ONG recordó que países como Alemania, Argentina, Austria, Bulgaria, Chipre, República Checa, Rumanía y Eslovenia han declarado inconstitucionales leyes para la retención de datos y también la Gran Sala del Tribunal de Justicia Europea que declaró inválida la Directiva de Retención de Datos de Tráfico.</p>
<p>“La aplicación de esta Ley debería autorizarse únicamente cuando exista riesgo particular de un daño superior al interés general de la sociedad (&#8230;) Este proyecto no contempla esta situación, por lo que es desproporcionado”, insistieron.</p>
<p>Además exigieron que “en vez de realizar una inversión tan importante en infraestructura para la vigilancia, se deberían redoblar esfuerzos para consolidar las telecomunicaciones en Paraguay, mejorando la calidad del acceso así como también los costos para los usuarios más necesitados”.</p>
<p>La ley que prevé almacenar los “metadatos” durante 12 meses cuenta con fuertes apoyos, entre ellos el del Ministerio del Interior, la Fiscalía y una mayoría de congresistas colorados que la creen necesaria para mejorar la seguridad en el país y prevenir los delitos informáticos.</p>
<p>La petición enviada este martes a los diputados la firman periodistas, artistas, intelectuales, activistas de sociedad civil, abogados, y ciudadanos en general que están preocupados por este proyecto de ley, añadió la organización.</p>
<p>La directora de Proyectos de Tedic, Jazmin Acuña, dijo a Efe que “el activismo ciudadano online puede ser un elemento fundamental para cambiar la posición de diputados hacia el rechazo” del texto.</p>
<p>“De hecho ya ha jugado un papel crucial para alertar al resto de la población sobre los peligros de este proyecto de ley”, añadió Acuña.</p>
<p>Tedic ha lanzado a través de las redes sociales una llamada a luchar contra el proyecto al que llaman “pyrawebs”, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní “pyrague”, con el que se conocía a los soplones e infiltrados de la Policía de la dictadura de Alfredo Stroessner (1954-1989).</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido “Archivo del Terror”, toneladas de papel que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p><strong>Fuente:</strong> <a href="http://www.hoy.com.py/nacionales/senado-recibio-mas-de-2.000-firmas-contra-pyrawebs" target="_blank">Hoy, 10 de marzo de 2015</a>.</p>
</div>
<div class="category_related"></div>
<div id="themify_builder_content-3142" data-postid="3142" class="themify_builder_content themify_builder_content-3142 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El Espectador Colombia: Todos somos culpables</title>
		<link>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/</link>
		<comments>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:43:07 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[intimidad]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3134</guid>
		<description><![CDATA[Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente. Por: Santiago La Rotta En Twitter: @troskiller La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="lead">Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente.</h4>
<hr />
<p>Por: Santiago La Rotta</p>
<div class="una_noticia ">
<div class="ee-twitter-author-node">En Twitter: <a href="https://twitter.com/troskiller" target="_blank">@troskiller</a></div>
<div class="clear"></div>
</div>
<p>La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de las iniciativas más drásticas de la región en este tema.</p>
<p>Retención masiva de datos es un término que, al menos mediáticamente, cobró relevancia luego de las revelaciones de Edward Snowden, extécnico de la CIA, quien filtró documentos en los que mostraba cómo la Agencia Nacional de Seguridad de Estados Unidos (NSA, por sus siglas en inglés) estableció una red de vigilancia sobre las comunicaciones de millones de ciudadanos, una operación que realizó en conjunto con agencias de inteligencia de países como el Reino Unido.</p>
<div class="eplanning_video_inline">En la práctica, lo que la retención masiva significa es la imposición sobre los operadores de telecomunicaciones de guardar los datos de actividad y tráfico de todos sus clientes. ¿Qué datos? Casi cualquier pieza de legislación sobre el tema deja claro que no se solicitan los contenidos de las comunicaciones (la grabación de una llamada, por ejemplo), sino los metadatos de éstas: hora y fecha, lugar y direcciones IP (una especie de huella digital electrónica por la cual se sabe quién está a cada lado de la línea).</div>
<p>El tema acá es que los metadatos a menudo revelan tanta (o hasta más) información sobre una comunicación. Esta información es particularmente sensible en el caso de activistas de derechos humanos o disidentes políticos, sólo por mencionar dos casos. Aunque, en últimas, potencialmente debilita la vida privada de cualquier persona.</p>
<p>En el caso de la ley paraguaya (Ley de Retención de Datos de Tráfico, popularmente conocida como Pyrawebs), el registro de la información se realizaría por 12 meses y afectaría a todos los usuarios de servicios de telecomunicaciones, sin importar si sobre estos pesa o no una investigación judicial. Este es uno de los puntos que más molestan de la iniciativa, por decir lo menos. “…este proyecto de ley violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia, consagrados en nuestra Constitución Nacional”, asegura Tedic, una ONG paraguaya que monitorea temas de derechos humanos en internet.</p>
<p>La diputada Olga Ferreira, una de las más duras opositoras al proyecto (que con amplia mayoría fue aprobado a finales del año pasado en el Senado), tiene una opinión similar a Tedic al afirmar que la iniciativa “Daña derechos constitucionales como la privacidad, asociación y libertad de expresión, porque lo que propone esta ley es la vigilancia masiva de las personas, como si todas fueran culpables. Además, pone en peligro la privacidad de actores políticos y sociales y, en general, de todos los ciudadanos. Con este monitoreo, datos que se van a conservar por un año, se puede saber quién habla con quién, a qué hora, con quién se reúnen las personas; quiénes son las fuentes de un periodista, por ejemplo”.</p>
<p><strong>¿Por qué fue presentada la ley?</strong></p>
<p>La ley la presentó el Ministerio Público con el objetivo de hacer más rápidamente ciertos controles porque en nuestro país existen muchos delitos. Está el caso del EPP (Ejército del Pueblo Paraguayo), que tiene un secuestrado en este momento. También hay temas como mafias y pedofilia. Pero quienes trabajamos en derechos humanos no estamos de acuerdo con que por las conductas de unos se investigue a todos. Aquí se hizo una consulta en la que más del 90% de los paraguayos rechazó esta ley; no es un resultado vinculante, pero sí genera presión.</p>
<p><strong>¿Para qué se podría utilizar esa retención de datos?</strong></p>
<p>Para revisar cualquier tipo de delitos. Es una violación a la intimidad. Pero además hay que tener en cuenta en manos de cuántas personas va a quedar nuestra información. Con estos datos se puede dar lugar a chantajes, a que se descubran secretos industriales. Esto pasa por manos de funcionarios en las empresas de telefonía, en el Ministerio del Interior y en la Fiscalía.</p>
<p><strong>¿Para dónde cree que se incline esa votación?</strong></p>
<p>Está subiendo la presión popular. Creo que se va a rechazar la ley.</p>
<p>&nbsp;</p>
<p><strong><a href="http://www.elespectador.com/tecnologia/todos-somos-culpables-articulo-548643" target="_blank">Publicado en la Edición Impresa de El Espectador, 10 de marzo de 2015</a>.</strong></p>
<div id="themify_builder_content-3134" data-postid="3134" class="themify_builder_content themify_builder_content-3134 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Estudian hoy ley que podría habilitar espionaje estatal a los ciudadanos</title>
		<link>http://pyrawebs.tedic.org/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos/</link>
		<pubDate>Tue, 24 Mar 2015 22:27:50 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Asuntos Constitucionales]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[pyrawebs]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3127</guid>
		<description><![CDATA[La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje estatal a los usuarios.</h4>
<hr />
<h4></h4>
<div class="text">
<p>El proyecto de ley tiene como objeto regular la conservación de datos del tráfico por parte de las personas físicas o jurídicas que proveen servicios de acceso a internet y transmisión de datos. Igualmente, el deber de proporcionar esos datos con autorización del juez de garantías, cuando lo requieran, con la finalidad de investigar, perseguir y sancionar a los responsables de hechos punibles tipificados en el Código Penal y otras leyes.</p>
<p>El proyecto ya fue incluido en el orden del día de la sesión de la Cámara de Diputados de la semana pasada, pero debido a las posturas encontradas se decidió su aplazo por 8 días.</p>
<p>La diputada independiente Olga Ferreira, presidenta de la comisión de DD.HH., ratificó ayer su rechazo a la normativa. Sostuvo que, de aprobarse, hará que a todos los ciudadanos se los trate como delincuentes potenciales, ya que estarán a merced de ser espiados y se tendrá acceso a datos como la identificación de las personas con quien conversa, sus contactos, transacciones, etc.</p>
<p>Afirmó que el proyecto viola los derechos humanos y también la Constitución Nacional, en sus artículos 33, sobre el derecho a la intimidad, y el 36, sobre el derecho la inviolabilidad del patrimonio documental y la comunicación privada.</p>
<p>Ferreira indicó que, si bien no habilita a acceder al contenido de las comunicaciones y mensajes, se podrá saber con quiénes se comunica, el perfil de las personas, las cuentas que pagan a través de internet y muchos otros datos.</p>
<p>Sostuvo que uno de los aspectos muy cuestionables es el plazo que podrán guardar los datos de la gente.</p>
<p>La mayoría de las comisiones que ya estudiaron el proyecto, a excepción de la de DD.HH., planteó su aprobación con modificaciones. Sin embargo, no se descarta que pueda haber cambios en esa decisión.</p>
<p>El proyecto tiene sanción automática el próximo jueves 12 de marzo.</p>
<p><strong>Bancadas definirán</strong></p>
<p>La decisión que asuman esta semana, antes de la sesión, las bancadas mayoritarias de la ANR y el PLRA con relación a la ley que obliga a la conservación de datos, será clave, admitieron fuentes de esos sectores. Aunque las comisiones asesoras de la Cámara Baja dictaminaron a favor de la aprobación, la mayoría de los legisladores desconoce los alcances de la normativa y se limitará a seguir las indicaciones de sus líderes. En ese sentido, la reacción de algunos sectores ciudadanos en contra de la ley puede inclinar la balanza por el rechazo. De darse esa alternativa, el proyecto volverá al Senado donde, para ratificarse en la aprobación inicial, precisarán una mayoría absoluta de 23 votos.</p>
<p><a href="http://www.abc.com.py/edicion-impresa/politica/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos-1344071.html" target="_blank"><strong>Publicado en la Edición Impresa del diario ABC Color, 10 de marzo de 2015</strong></a>.</p>
</div>
<div id="themify_builder_content-3127" data-postid="3127" class="themify_builder_content themify_builder_content-3127 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Usuarios serán controlados y además pagarán por ello</title>
		<link>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/</link>
		<comments>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:38:32 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Cableoperadoras]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Claro]]></category>
		<category><![CDATA[Personal]]></category>
		<category><![CDATA[Sedeco]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[Tigo]]></category>
		<category><![CDATA[Vox]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3113</guid>
		<description><![CDATA[La Asociación de Tecnología, Educación, Desarrollo, Investigación y Comunicación (TEDIC) afirma que las compañías telefónicas locales deberán invertir entre 5 y 7 millones de dólares en la incorporación de equipos de almacenamiento de datos en tiempo real, en el caso de que se apruebe el proyecto de ley que pretende retener datos de los usuarios [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>La Asociación de Tecnología, Educación, Desarrollo, Investigación y Comunicación (TEDIC) afirma que las compañías telefónicas locales deberán invertir entre 5 y 7 millones de dólares en la incorporación de equipos de almacenamiento de datos en tiempo real, en el caso de que se apruebe el proyecto de ley que pretende retener datos de los usuarios durante 12 meses.</h4>
<hr />
<p>El proyecto de retención de tráfico de datos en Paraguay ya cuenta con media sanción en la Cámara de Diputados, dijo David Bogado, representante de TEDIC.<br />
Explicó que con este proyecto las empresas de telecomunicaciones deberán incorporar costosos equipamientos con capacidad de conservación de conversaciones por un período de 12 meses.</p>
<p><strong>AUMENTO EN PRECIOS<br />
</strong>Bogado afirmó que en caso de aprobación de la iniciativa, el costo del servicio se trasladará directamente al usuario final. “Este servicio va a hacer que los precios de las telefónicas suban”. El proyecto ya fue presentado a mediados del año pasado. Bogado agregó que el tema posiblemente será tratado el próximo jueves 5 de marzo.<br />
El documento elaborado por miembros del Congreso establece que se les permite a las autoridades a tener acceso a los datos históricos mediante un juez de garantías que tendrá acceso directo a la información de geolocalización del usuario.<br />
“Según consultas a expertos en sistemas de comunicaciones digitales, nuestra organización estima que los costos en equipos de almacenamiento físico, redundancia, seguridad y capacitación a personal técnico impactarán en el precio final que abonarán los clientes para ser vigilados en tiempo real. Todas las proveedoras de internet deberán realizar fuertes inversiones en estos sistemas, especialmente aquellas que concentran el dominio en el mercado (Tigo, Personal, Claro, Vox)”, declaró.</p>
<p><strong>AFECTARÁ A TODOS<br />
</strong>Por su parte, Raúl Ibáñez, gerente de relaciones institucionales de Tigo, afirmó que el tema será tratado a nivel de Cámara de Cableoperadores, ya que es un tema que afecta a todas las empresas de telecomunicaciones del país, explicó.<br />
En setiembre del año pasado la Comisión de Prevención y Lucha contra el Narcotráfico y Delitos Conexos realizó una reunión conjunta con la Comisión de Legislación, Codificación, Justicia y Trabajo para analizar el proyecto de ley que obliga a retener datos de tráfico de internet.<br />
Por su parte, Enrique Bordón, titular de la Sedeco (Secretaría de Defensa del Consumidor y del Usuario), afirmó que estudiarán el caso para emitir una opinión, “desconozco el tema, pero tenemos que adentrarnos para saber de qué se trata”.<br />
Con la aprobación de este proyecto los prestadores de servicios deberán conservar todos los datos que estén vinculados al acceso a internet, como por ejemplo el nombre, la dirección de usuario, el titular registrado, el número de teléfono, la desconexión, fecha y hora de conexión, el IP entre otros datos. El objetivo principal del proyecto es el de ayudar al Ministerio Público a rastrear a los responsables de delitos.</p>
<p>&nbsp;</p>
<p><a href="http://www.lanacion.com.py/2015/02/26/usuarios-seran-controlados-y-ademas-pagaran-por-ello/" target="_blank"><strong>Publicado en la Edición Impresa del diario La Nación, 26 de febrero de 2015</strong></a>.</p>
<div id="themify_builder_content-3113" data-postid="3113" class="themify_builder_content themify_builder_content-3113 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.601 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:08 -->
