<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Derechos Digitales &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/derechos-digitales/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Organización latinoamericana considera “desproporcionada” ley de retención de datos</title>
		<link>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/</link>
		<comments>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:35:24 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[datos personales]]></category>
		<category><![CDATA[Derechos Digitales]]></category>
		<category><![CDATA[desproporcionalidad]]></category>
		<category><![CDATA[metadatos]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[regulación]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3156</guid>
		<description><![CDATA[Asunción, IP Paraguay, 6 de marzo de 2015.- La propuesta legislativa para que las operadoras de internet conserven los datos de tráfico es “una medida desproporcionada” la organización de alcance latinoamericano “Derechos Digitales”. El proyecto de ley está en estudio en la Cámara de Diputados y puede tener sanción automática el próximo 12 de marzo. [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="td-post-text-content">
<p><em>Asunción, <a href="http://www.ip.gov.py/ip/?p=6266" target="_blank">IP Paraguay, 6 de marzo de 2015</a>.-</em> La propuesta legislativa para que las operadoras de internet conserven los datos de tráfico es “una medida desproporcionada” la organización de alcance latinoamericano “Derechos Digitales”. El proyecto de ley está en estudio en la Cámara de Diputados y puede tener sanción automática el próximo 12 de marzo.</p>
<hr />
<p>Según la organización, que menciona un precedente sentado en 2006 por el Tribunal de Justicia Europeo cuando estudió la legalidad de este tipo de medidas, una ley de retención de datos no es compatible con el principio de proporcionalidad ya que representa “una norma desmedida para el objetivo perseguido y constituye una injerencia desproporcionada al derecho a la vida privada de los usuarios”, pese a que su finalidad es legítima.</p>
<p>Derechos Digitales, organización que aboga por la promoción y defensa de los derechos humanos en el entorno digital y tiene su asiento en Chile, sostiene que si bien el proyecto planteado en Paraguay persigue un fin legítimo, que es prevenir y sancionar hechos criminales mediante la entrega de información que permita la identificación de quienes los cometen, lo intrusivo de la norma es el hecho que atenta contra el derecho fundamental a la privacidad, planteando la pregunta sobre la idoneidad de la medida.</p>
<p>El proyecto de ley de retención de datos se refiere específicamente a los datos sobre tráfico en internet o “metadatos”: dirección IP, origen y destino de la comunicación, hora y fecha de conexión y desconexión, itinerario, tamaño y duración de la comunicación y no incluye el contenido de la comunicación.</p>
<p>Sin embargo, según la organización, estos metadatos por sí solos son suficientemente ilustrativos a la hora de identificar a una persona y sus circunstancias, sin necesidad de acceder al contenido de sus comunicaciones.</p>
<p>“Como ejemplo, si analizamos los metadatos de una llamada de una mujer al ginecólogo, luego a su madre, luego a un hombre con quien habla frecuentemente, luego a una clínica de abortos, podemos deducir más que de una conversación con ella. Los metadatos pueden ser tanto o más importantes que el contenido de una comunicación, por lo que no hay buenas razones para argumentar que ellos merecen una protección más débil que el contenido de las comunicaciones”, señala.</p>
<p>Según Derechos Digitales, la legitimidad de la medida depende de la forma en que pretende cumplirse. “El proyecto se refiere expresamente a hechos tipificados en el Código Penal de Paraguay además de ‘otras leyes penales especiales’, sin mención alguna a las garantías exigibles para evitar abusos y con escasos contrapesos sobre la mantención de esos datos o el accesos mismos”, sostiene.</p>
<p>“Paraguay hoy no tiene una regulación sofisticada y robusta de protección de datos personales que garantice también los derechos sobre esos datos en internet. Una ley de retención de datos de tráfico se presenta en un contexto en que no existen resguardos suficientes para la protección de los datos retenidos y de sus titulares”, afirma la organización latinoamericana.</p>
</div>
<p>&nbsp;</p>
<div id="themify_builder_content-3156" data-postid="3156" class="themify_builder_content themify_builder_content-3156 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.567 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:42:46 -->
