<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>vigilancia &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/vigilancia/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>El día que la ciudadanía le ganó a los #pyrawebs</title>
		<link>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:10:35 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[1984]]></category>
		<category><![CDATA[Amnistía Internacional]]></category>
		<category><![CDATA[Citizenfour]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3121</guid>
		<description><![CDATA[Por Andrés Colmán Gutiérrez – Twitter: @andrescolman No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate. Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se [&#8230;]]]></description>
				<content:encoded><![CDATA[<div id="OBJETO1091" class="CLASS20">
<div id="Object_1091_481" class=" clearfix">
<div class="news-detail-obj">
<div class="newDetailTextChange">
<h3 class="summary newDetailTextChange">Por Andrés Colmán Gutiérrez – Twitter: <a href="http://twitter.com/andrescolman" target="_blank">@andrescolman</a></h3>
<hr />
<p class="summary newDetailTextChange">No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate.</p>
<p>Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se haya librado más en redes sociales de internet, medios de comunicación y diálogos tipo lobby con autoridades y referentes políticos.</p>
<p>Lo que sucedió marca una interesante evolución en la dinámica política del Paraguay.</p>
<p>El proyecto de ley &#8220;que obliga a conservar leyes de tráfico&#8221; ya había obtenido una media sanción en el Senado, mientras gran parte de la ciudadanía —y quizás de la misma prensa—, no dimensionaba aún sus peligros totalitarios, ni sus conceptos claramente anticonstitucionales.</p>
<p>La iniciativa parlamentaria —quizás bien intencionada, buscando frenar la impunidad de algunos delitos cometidos a través de tecnologías digitales de comunicación— pretende obligar a empresas proveedoras a retener metadatos de sus clientes durante un año, y que las autoridades puedan acceder en forma irrestricta a dichos datos privados.</p>
<p>Significa —para dar un ejemplo— que puedan violar legalmente las correspondencias electrónicas privadas que los periodistas mantenemos con nuestras fuentes, a pesar de que la Constitución ampara la confidencialidad de las mismas.</p>
<p>Lo interesante fue la creativa y original campaña de información que desarrollaron los miembros de organizaciones de la sociedad civil, como la Ong Tedic y Amnistía Internacional, rebautizando a la ley con un caricaturesco y certero nombre (pyrawebs), que reflotaba la oscura figura de los siniestros soplones stronistas, uniéndola con los modernos sistemas de intervención estatal en la privacidad de los ciudadanos.</p>
<p>A los pocos días, ya nadie nombraba a la ley por su nombre original.</p>
<p>Quienes hayan podido ver la estupenda película documental Citizenfour, de Laura Poitras, ganadora del Oscar 2015, sobre el caso Edward Snowden, pueden dimensionar lo monstruoso de un Gobierno (en este caso, el de Estados Unidos) espiando a sus ciudadanos, como si todos fuéramos criminales sospechosos en potencia.</p>
<p>Es la pesadilla del Gran Hermano (de la novela 1984, de George Orwell) controlándolo todo.</p>
<p>Hay que destacar la actitud de varios diputados, que entendieron los riesgos y cambiaron su postura inicial, rechazando el proyecto.</p>
<p>Ahora cabe esperar que en el Senado tengan el mismo espíritu de apertura crítica.</p>
<p>Hay que buscar un modelo de leyes que nos protejan sin violar nuestra libertad e intimidad.</p>
<p><a href="http://www.ultimahora.com/el-dia-que-la-ciudadania-le-gano-los-pyrawebs-n880213.html" target="_blank"><strong>Publicado en la Edición Impresa del diario Última Hora, 14 de marzo de 2015</strong></a></p>
</div>
</div>
</div>
</div>
<div id="OBJETO2379" class="CLASS46"></div>
<div id="themify_builder_content-3121" data-postid="3121" class="themify_builder_content themify_builder_content-3121 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs: Será como un “caballo de Troya”</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:41:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[bases de datos]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3105</guid>
		<description><![CDATA[Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="summary">Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como un “caballo de Troya” para otro fin que es la vigilancia masiva de todos los ciudadanos que acceden a internet.</h4>
<hr />
<p>Sobre el argumento de que ayudaría a resolver casos importantes, Sequera dijo que sin esta ley, los jueces pueden, para casos específicos y en forma excepcional, acceder a datos de llamadas e inclusive al contenido de las mismas, tal como prevé de hecho la Constitución, en su artículo 36.</p>
<div class="text">
<p>Indicó que están de acuerdo con que se establezca la vigilancia para casos específicos, ya que los terroristas o los pedófilos deber ser perseguidos. Sin embargo, apuntó que con esta ley pondrá a todos bajo sospecha y con una lupa que hará que el teléfono celular de todas las personas pueda actuar como una proveedora de información sobre su vida.</p>
<p>Indicó que es legítimo que las empresas utilicen los datos de usuarios para conocer sus gustos y ofrecerles productos específicos. Pero cuando se sobrepasa y se guardan bases de datos para venderlos por más tiempo y darles otros usos, es ilegal.</p>
<p>Indicó que el calificativo dado a la ley de “pyraweb” es porque, tal como lo hacían los “pyrague” (delatores), en la dictadura, informarán de los movimientos y las reuniones, aunque no directamente sobre los contenidos de lo que conversan.</p>
<p><strong>Fuente:</strong> <a title="Será como un “caballo de Troya”, advierten" href="http://www.abc.com.py/edicion-impresa/politica/sera-como-un-caballo-de-troya-advierten-1344074.html" target="_blank">ABC Color, Edición Impresa del 10 de marzo de 2015</a></p>
</div>
<div id="themify_builder_content-3105" data-postid="3105" class="themify_builder_content themify_builder_content-3105 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.580 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:38 -->
