<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Corte Interamericana de Derechos Humanos &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/corte-interamericana-de-derechos-humanos/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Una campaña en redes sociales frena una ley de vigilancia de Internet</title>
		<link>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/</link>
		<comments>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:30:38 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Archivo del Terror]]></category>
		<category><![CDATA[Corte Interamericana de Derechos Humanos]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3154</guid>
		<description><![CDATA[Publicado por iProfesional, 13 de marzo de 2015. Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay La Cámara de Diputados de Paraguay rechazó el proyecto de ley que pretendía obligar a los proveedores de Internet a almacenar datos de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Publicado por <a href="http://www.iprofesional.com/notas/207978-Una-campaa-en-redes-sociales-frena-una-ley-de-vigilancia-de-Internet" target="_blank">iProfesional, 13 de marzo de 2015</a>.</h4>
<p>Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay</p>
<hr />
<div class="contenido">
<p>La <strong>Cámara de Diputados de Paraguay </strong>rechazó el proyecto de ley que pretendía obligar a los proveedores de <strong>Internet </strong>a almacenar datos de tráfico de los ciudadanos en la red durante 12 meses para facilitar el rastreo policial.</p>
<p>El texto, que fue rechazado por unanimidad, volverá a la <strong>Cámara de Senadores </strong>que lo había aprobado en septiembre del año pasado.</p>
<p>El proyecto de ley contaba con el rechazo de varias organizaciones dedicadas a la defensa de los derechos humanos como <strong>Amnistía Internacional </strong>y <strong>Tedic</strong>.</p>
<p>El proyecto de <strong>Retención de Datos de Tráfico de Paraguay </strong>contaba con el apoyo de varios diputados oficialistas del <strong>Partido Colorado</strong>, así como de la Fiscalía, el Ministerio de Interior y la Policía Nacional.</p>
<p>Según Tedic, grupo dedicado a la defensa de los derechos humanos en Internet, la ley podría ser usada para controlar masivamente el comportamiento ciudadano.</p>
<p>Tedic había lanzado a través de las redes sociales una llamada a luchar contra el proyecto, al que llaman &#8220;pyrawebs&#8221;, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní &#8220;pyrague&#8221;, con el que se conocía en Paraguay a los soplones e infiltrados de la Policía de la dictadura, informó la agencia Efe.</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido &#8220;<strong>Archivo del Terror</strong>&#8220;, documentos que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p>Desde el opositor Frente Guasú, el diputado <strong>Ramón Duarte </strong>pidió en el pleno el rechazo de la ley en recuerdo &#8220;de las más de 100.000 víctimas directas de la dictadura&#8221; de <strong>Alfredo Stroessner</strong> (1954-1989).</p>
<p>&#8220;En nombre de los luchadores sociales expulsados del país tenemos que pedir un no rotundo al proyecto y ojalá los senadores también sean responsables y mande al archivo la ley&#8221;, añadió Duarte.</p>
<p>El sistema de almacenamiento de los &#8220;metadatos&#8221; ya ha sido rechazado por el tribunal de Justicia de la Unión Europea, y no existe en países del Cono Sur.</p>
<p>Argentina declaró inconstitucional una legislación similar en el año 2005, y la <strong>Corte Interamericana de Derechos Humanos</strong> (Corte IDH) sentenció en contra de Brasil en 2009 por aplicar seguimiento y escuchas a ciudadanos amparándose en un texto similar al que está en discusión en el Congreso paraguayo, recordó.</p>
<p>En Paraguay solo el 25 por ciento de la población tiene acceso a Internet, por lo que también hay un desconocimiento general sobre los derechos que los ciudadanos tienen en la red, según Tedic.</p>
</div>
<div class="alertas"></div>
<div id="themify_builder_content-3154" data-postid="3154" class="themify_builder_content themify_builder_content-3154 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.601 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:43:00 -->
