<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Retención de Datos &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/retencion-de-datos/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>#Pyrawebs en TV: Arnaldo Giuzzio en Telefuturo</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:57:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Arnaldo Giuzzio]]></category>
		<category><![CDATA[No a Pyrawebs]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Retención de Datos]]></category>
		<category><![CDATA[Vigilancia masiva]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3168</guid>
		<description><![CDATA[La Cámara de Diputados tiene previsto tratar este jueves el proyecto de ley que obliga a los prestadores de internet a almacenar los datos de conexión de usuarios durante doce meses. El documento es conocido como &#8220;pyraweb&#8221;, en alusión a los informantes policiales de la dictadura stronista (pyragues). Emitido por el programa &#8220;Día a Día&#8221; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>La Cámara de Diputados tiene previsto tratar este jueves el proyecto de ley que obliga a los prestadores de internet a almacenar los datos de conexión de usuarios durante doce meses. El documento es conocido como &#8220;pyraweb&#8221;, en alusión a los informantes policiales de la dictadura stronista (pyragues).</p>
<p>Emitido por el programa &#8220;Día a Día&#8221; de Telefuturo el 5 de marzo de 2015.</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='480' src='http://www.youtube.com/embed/bzKqV1EAHcA?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3168" data-postid="3168" class="themify_builder_content themify_builder_content-3168 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.492 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:41:58 -->
