<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>libertad de expresión &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/libertad-de-expresion/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>El consenso debería primar</title>
		<link>http://pyrawebs.tedic.org/el-consenso-deberia-primar/</link>
		<comments>http://pyrawebs.tedic.org/el-consenso-deberia-primar/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:21:39 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Guilherme Canela]]></category>
		<category><![CDATA[libertad de expresión]]></category>
		<category><![CDATA[sociedad civil]]></category>
		<category><![CDATA[Unesco]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3144</guid>
		<description><![CDATA[Por Juan Cálcena Ramírez, publicado en ABC Digital el 4 de marzo de 2015 Guilherme Canela, consejero de Comunicación de la Unesco para el Mercosur, afirmó que todos los proyectos de ley que tengan relación con la retención de datos, la privacidad o el derecho a la libertad de expresión deben ser tratados tras un [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Por <a href="http://www.abc.com.py/autor/juan-calcena-ramirez-2486.html">Juan Cálcena Ramírez</a>, publicado en <a href="http://www.abc.com.py/nacionales/el-consenso-deberia-primar-1342399.html" target="_blank">ABC Digital el 4 de marzo de 2015</a></h4>
<p class="summary"><em>Guilherme Canela, consejero de Comunicación de la Unesco para el Mercosur, afirmó que todos los proyectos de ley que tengan relación con la retención de datos, la privacidad o el derecho a la libertad de expresión deben ser tratados tras un consenso.</em></p>
<hr />
<div class="text">
<p>Canela conversó con ABC Color desde París y evitó referirse específicamente al caso de Paraguay, en donde mañana se estudiará en la Cámara Baja un proyecto de ley que pretende retener los datos de los usuarios de internet por el periodo de un año con el argumento de erradicar el narcotráfico y la criminalidad que se perpetra a través de la red.</p>
<p>El consejero afirmó que a nivel mundial se manejan estándares en relación a la retención de datos, a la libertad de expresión y al derecho a la privacidad; siendo estos tres puntos totalmente distintos.</p>
<p>Al respecto, opinó que todos los actores deben formar parte de la conversación cuando se proyecta una ley que tenga que ver con la retención de datos en línea o la redacción de leyes con el argumento de aplacar a la delincuencia o prevenir crímenes o tragedias. Estos actores son: la ciudadanía, los legisladores, los prestadores de los servicios (empresas) y la sociedad civil.</p>
<p>Estas afirmaciones pueden ayudar a dilucidar el caso específico de la ley bautizada como “pyrawebs”, en alusión a los delatores o “pyragués” de la época stronista. El proyecto de ley, que consta de 12 artículos, plantea que las prestadoras de internet retengan los datos de sus usuarios por un año y los guarden para que, en el caso de una investigación judicial, puedan servir a la hora de esclarecer un hecho criminal. El proyecto fue impulsado desde junio del año pasado por Robert Acevedo, Fernando Silva Facetti, Arnaldo Giuzzio y Arnoldo Wiens.</p>
<p>“No podemos olvidarnos que los Derechos Humanos son universales e indivisibles cada vez que tratamos cuestiones como estas. Tenemos que estar bastantes atentos a la unidad de los derechos. Cuando hablamos de la regulación de los datos personales no podemos olvidarnos de los derechos a la libertad de expresión y la privacidad. No podemos ver estas cosas como cuestiones apartadas”, manifestó Canela.</p>
<h2>INVOLUCRAR A TODAS LAS PARTES</h2>
<p>“Es importante que se involucren con las partes interesadas en el proceso: los ciudadanos, la sociedad civil, el Poder Judicial, el Ministerio Público, las empresas de tecnologías. Una buena ley en estas áreas son políticas públicas o leyes son construidas a partir del debate”, agregó.</p>
<p>De no tratarse el proyecto mañana en Diputados, tendrá sanción ficta el 12 de marzo.</p>
</div>
<div id="article-banner-1"></div>
<p class="summary">
<div id="themify_builder_content-3144" data-postid="3144" class="themify_builder_content themify_builder_content-3144 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-consenso-deberia-primar/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.450 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:45:43 -->
