<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Secretaría Nacional Antidrogas &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/secretaria-nacional-antidrogas/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Senad aboga por ley antinarco y rechaza Pyrawebs</title>
		<link>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:27:50 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Secretaría Nacional Antidrogas]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3152</guid>
		<description><![CDATA[Publicado por Hoy, 17 de marzo de 2015. La Secretaría Nacional Antidrogas (Senad) abogó por los proyectos de ley de extinción de dominio y del financiamiento político, conocidos como antinarcos, no así por el proyecto de ley Pyrawebs. Luis Rojas, ministro de la Senad, en contacto con la 650 AM, se refirió a la postergación [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="body">
<h4 class="summary"><strong>Publicado por <a href="http://www.hoy.com.py/nacionales/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs" target="_blank">Hoy, 17 de marzo de 2015</a>.</strong></h4>
<p class="summary"><em>La Secretaría Nacional Antidrogas (Senad) abogó por los proyectos de ley de extinción de dominio y del financiamiento político, conocidos como antinarcos, no así por el proyecto de ley Pyrawebs.</em></p>
<hr />
<p class="summary">
<p>Luis Rojas, ministro de la Senad, en contacto con la 650 AM, se refirió a la postergación del tratamiento del proyecto de ley antinarco.</p>
<p>“Nosotros creemos que esta ley va a marcar un antes y después en la historia del país. Sabemos que es un inicio de otras acciones inteligentes para enfrentar de manera contundente al crimen organizado”, comentó.</p>
<p>Indicó que “la ley no es perfecta”, pero lamentó que se dilate su estudio argumentando que será inconstitucional.</p>
<p>“Para nosotros realmente necesitamos marcar un punto final a la estructura final, y no vamos a avanzar si no atacamos a los líderes”, señaló el Secretario de Estado.</p>
<p>Al ser consultado sobre el proyecto de ley calificado de Pyrawebs, indicó que: “yo creo que hay maneras inteligentes de atacar, pero siempre consagrando las libertades que están en la Constitución Nacional, por lo que no es inteligente las que afectarían esas libertades”.</p>
</div>
<div class="category_related"></div>
<div id="themify_builder_content-3152" data-postid="3152" class="themify_builder_content themify_builder_content-3152 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.557 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:43:08 -->
