<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ramón Romero Roa &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/ramon-romero-roa/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Diputados rechazaron ley de pyraguereada cibernética</title>
		<link>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/</link>
		<comments>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:36:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Antonio Buzarquis]]></category>
		<category><![CDATA[Bernardo Villalba]]></category>
		<category><![CDATA[Dionisio Amarilla]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[Oscar Tuma]]></category>
		<category><![CDATA[Ramón Romero Roa]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3130</guid>
		<description><![CDATA[Diputados rechazaron ayer ley de pyraguereada cibernética. “Al final del túnel vieron la luz”, he’i Dionisio Amarilla. El principal argumento fue que atenta contra la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia. La mayoría coincidió en que la ley de conservación de datos de tráfico o [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Diputados rechazaron ayer ley de pyraguereada cibernética. “Al final del túnel vieron la luz”, he’i Dionisio Amarilla. El principal argumento fue que atenta contra la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia.</h4>
<hr />
<p>La mayoría coincidió en que la ley de conservación de datos de tráfico o pyrawebs es peligrosa porque se presta para ejercer un control absoluto sobre los ciudadanos, he’i. “Sería como un registro del terror”, señaló Olga Ferreira, capa de la Comisión de Derechos Humanos, quien argumentó que atenta contra principios básicos, como la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia.</p>
<p>Por su parte, Ramón Romero Roa, de la Comisión de Asuntos Constitucionales, indicó que el principal riesgo de la propuesta legislativa era que, de aprobarse como estaba, se podía “exceder los límites”, o sea cometer abusos.</p>
<p>Por su parte, Bernardo “Lalo” Villalba, titu de Legislación y Codificación, sugirió hacer algunas modificaciones. “Regular qué datos almacenar y qué datos no, porque atentan contra principios constitucionales, porque, de hecho, las proveedoras ya están guardando y almacenando datos”, precisó.</p>
<p>En ese sentido, el liberal Antonio Buzarquis cuestionó quién controlaría a las telefonías encargadas de guardar y almacenar los datos. “¿Quién va a controlar a los que nos controlan?”, oporandu. Su correlí Dionisio Amarilla rechazó la ley por tener “visos de totalitarismo”, he’i.</p>
<p>El único que nadó contra la corriente fue Oscar Tuma. He’i que se dicen medias verdades, porque en realidad esta leyavei serviríaparaperseguir delitos de pornografía o buillyng con fotos íntimas entre colegiantes hamba’e. Avei ombokapu contra sus colegas que ayer defendieron el derecho a la intimidad de las personas, pero no dijeron ni pío cuando se difundieron las imágenes del video íntimodeunsenador ni cuando se hicieron públicas las conversaciones personales de un diputado, he’i.</p>
<p><strong><a href="http://archivos.hoy.com.py/popular20150313/#5/z" target="_blank">Publicado en la Edición Impresa del Diario Popular, 13 de marzo de 2015</a></strong></p>
<div id="themify_builder_content-3130" data-postid="3130" class="themify_builder_content themify_builder_content-3130 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.661 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:45:34 -->
