<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Cámara de Cableoperadoras &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/camara-de-cableoperadoras/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Usuarios serán controlados y además pagarán por ello</title>
		<link>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/</link>
		<comments>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:38:32 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Cableoperadoras]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Claro]]></category>
		<category><![CDATA[Personal]]></category>
		<category><![CDATA[Sedeco]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[Tigo]]></category>
		<category><![CDATA[Vox]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3113</guid>
		<description><![CDATA[La Asociación de Tecnología, Educación, Desarrollo, Investigación y Comunicación (TEDIC) afirma que las compañías telefónicas locales deberán invertir entre 5 y 7 millones de dólares en la incorporación de equipos de almacenamiento de datos en tiempo real, en el caso de que se apruebe el proyecto de ley que pretende retener datos de los usuarios [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>La Asociación de Tecnología, Educación, Desarrollo, Investigación y Comunicación (TEDIC) afirma que las compañías telefónicas locales deberán invertir entre 5 y 7 millones de dólares en la incorporación de equipos de almacenamiento de datos en tiempo real, en el caso de que se apruebe el proyecto de ley que pretende retener datos de los usuarios durante 12 meses.</h4>
<hr />
<p>El proyecto de retención de tráfico de datos en Paraguay ya cuenta con media sanción en la Cámara de Diputados, dijo David Bogado, representante de TEDIC.<br />
Explicó que con este proyecto las empresas de telecomunicaciones deberán incorporar costosos equipamientos con capacidad de conservación de conversaciones por un período de 12 meses.</p>
<p><strong>AUMENTO EN PRECIOS<br />
</strong>Bogado afirmó que en caso de aprobación de la iniciativa, el costo del servicio se trasladará directamente al usuario final. “Este servicio va a hacer que los precios de las telefónicas suban”. El proyecto ya fue presentado a mediados del año pasado. Bogado agregó que el tema posiblemente será tratado el próximo jueves 5 de marzo.<br />
El documento elaborado por miembros del Congreso establece que se les permite a las autoridades a tener acceso a los datos históricos mediante un juez de garantías que tendrá acceso directo a la información de geolocalización del usuario.<br />
“Según consultas a expertos en sistemas de comunicaciones digitales, nuestra organización estima que los costos en equipos de almacenamiento físico, redundancia, seguridad y capacitación a personal técnico impactarán en el precio final que abonarán los clientes para ser vigilados en tiempo real. Todas las proveedoras de internet deberán realizar fuertes inversiones en estos sistemas, especialmente aquellas que concentran el dominio en el mercado (Tigo, Personal, Claro, Vox)”, declaró.</p>
<p><strong>AFECTARÁ A TODOS<br />
</strong>Por su parte, Raúl Ibáñez, gerente de relaciones institucionales de Tigo, afirmó que el tema será tratado a nivel de Cámara de Cableoperadores, ya que es un tema que afecta a todas las empresas de telecomunicaciones del país, explicó.<br />
En setiembre del año pasado la Comisión de Prevención y Lucha contra el Narcotráfico y Delitos Conexos realizó una reunión conjunta con la Comisión de Legislación, Codificación, Justicia y Trabajo para analizar el proyecto de ley que obliga a retener datos de tráfico de internet.<br />
Por su parte, Enrique Bordón, titular de la Sedeco (Secretaría de Defensa del Consumidor y del Usuario), afirmó que estudiarán el caso para emitir una opinión, “desconozco el tema, pero tenemos que adentrarnos para saber de qué se trata”.<br />
Con la aprobación de este proyecto los prestadores de servicios deberán conservar todos los datos que estén vinculados al acceso a internet, como por ejemplo el nombre, la dirección de usuario, el titular registrado, el número de teléfono, la desconexión, fecha y hora de conexión, el IP entre otros datos. El objetivo principal del proyecto es el de ayudar al Ministerio Público a rastrear a los responsables de delitos.</p>
<p>&nbsp;</p>
<p><a href="http://www.lanacion.com.py/2015/02/26/usuarios-seran-controlados-y-ademas-pagaran-por-ello/" target="_blank"><strong>Publicado en la Edición Impresa del diario La Nación, 26 de febrero de 2015</strong></a>.</p>
<div id="themify_builder_content-3113" data-postid="3113" class="themify_builder_content themify_builder_content-3113 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/usuarios-seran-controlados-y-ademas-pagaran-por-ello/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.501 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:45:53 -->
