<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>bases de datos &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/bases-de-datos/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>#Pyrawebs: Será como un “caballo de Troya”</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:41:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[bases de datos]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3105</guid>
		<description><![CDATA[Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="summary">Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como un “caballo de Troya” para otro fin que es la vigilancia masiva de todos los ciudadanos que acceden a internet.</h4>
<hr />
<p>Sobre el argumento de que ayudaría a resolver casos importantes, Sequera dijo que sin esta ley, los jueces pueden, para casos específicos y en forma excepcional, acceder a datos de llamadas e inclusive al contenido de las mismas, tal como prevé de hecho la Constitución, en su artículo 36.</p>
<div class="text">
<p>Indicó que están de acuerdo con que se establezca la vigilancia para casos específicos, ya que los terroristas o los pedófilos deber ser perseguidos. Sin embargo, apuntó que con esta ley pondrá a todos bajo sospecha y con una lupa que hará que el teléfono celular de todas las personas pueda actuar como una proveedora de información sobre su vida.</p>
<p>Indicó que es legítimo que las empresas utilicen los datos de usuarios para conocer sus gustos y ofrecerles productos específicos. Pero cuando se sobrepasa y se guardan bases de datos para venderlos por más tiempo y darles otros usos, es ilegal.</p>
<p>Indicó que el calificativo dado a la ley de “pyraweb” es porque, tal como lo hacían los “pyrague” (delatores), en la dictadura, informarán de los movimientos y las reuniones, aunque no directamente sobre los contenidos de lo que conversan.</p>
<p><strong>Fuente:</strong> <a title="Será como un “caballo de Troya”, advierten" href="http://www.abc.com.py/edicion-impresa/politica/sera-como-un-caballo-de-troya-advierten-1344074.html" target="_blank">ABC Color, Edición Impresa del 10 de marzo de 2015</a></p>
</div>
<div id="themify_builder_content-3105" data-postid="3105" class="themify_builder_content themify_builder_content-3105 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.594 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:36 -->
