<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Cámara de Senadores &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/camara-de-senadores/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>¿Qué pasará con proyecto de “pyrawebs”?</title>
		<link>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:24:40 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Senadores]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3149</guid>
		<description><![CDATA[Publicado por Paraguay.com el 13 de marzo de 2015. El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados. Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="copete">Publicado por <a href="http://www.paraguay.com/nacionales/que-pasara-con-proyecto-de-pyrawebs-125220">Paraguay.com el 13 de marzo de 2015</a>.</h4>
<hr />
<p class="copete">El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados.</p>
<p>Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM que el proyecto de ley conocida como “pyrawebs” vuelve al Senado luego de ser rechazada en Diputados.</p>
<div class="news_story">
<p>En la cámara alta se verá si se acepta la decisión de Diputados o se aprueba el proyecto de ley como se encuentra actualmente. Aclaró que el documento no puede ser sometido a modificaciones.</p>
<p>Si los senadores aceptan el rechazo de los diputados el proyecto será archivado, de lo contrario volverá a ser estudiado por la cámara baja.</p>
<p>Sequera indicó que el Senado tiene 120 días para volver a estudiar el proyecto de ley, destacó que se tratará de acelerar el proceso.</p>
<p>En setiembre de 2014 el proyecto tuvo media sanción en el Senado, mientras que el pasado jueves fue rechazado en Diputados.</p>
<p><strong>El proyecto</strong></p>
<p>El proyecto de ley “Que establece la obligación de conservar los datos de tráfico”,  más conocida como “pyrawebs”, obligaría a las empresas que brindan el servicio de internet a almacenar los datos de navegación de todos sus usuarios.</p>
<p>Los que se encuentran a favor del proyecto de normativa afirman que es necesaria para investigar delitos, mientras los que se oponen argumentar que viola el derecho a la privacidad.</p>
</div>
<div id="themify_builder_content-3149" data-postid="3149" class="themify_builder_content themify_builder_content-3149 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.512 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:45:07 -->
