<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Blog &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/category/blog/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Los 10 mitos de la ley #Pyrawebs</title>
		<link>http://pyrawebs.tedic.org/los-10-mitos-de-la-ley-pyrawebs/</link>
		<pubDate>Wed, 25 Mar 2015 20:50:47 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Estado policial]]></category>
		<category><![CDATA[internet]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[pedofilia]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3174</guid>
		<description><![CDATA[Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico. Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…” FALSO: De ser así, ¿por [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico.</p>
<hr />
<h3 id="6fae" class="graf--h3 graf--first">Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…”</h3>
<p id="cb41" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: De ser así, ¿por qué se necesita retener los datos de tráfico de TODOS, absolutamente TODOS los usuarios de servicios de Internet? Mientras el objetivo loable de perseguir actividades ilícitas implique poner a todos los usuarios en riesgo, la meta será difícil de cumplir.</p>
<p id="5a1b" class="graf--p"><strong class="markup--strong markup--p-strong">El crimen organizado no es tonto, es inescrupuloso y utiliza alta tecnología para cometer ilícitos.</strong></p>
<p id="5186" class="graf--p">Cabe preguntarse de vuelta, ¿es esta herramienta legal la que pondrá fin al EPP, al terrorismo, al narcotráfico en nuestro país?</p>
<h3 id="7df0" class="graf--h3">Mito 2: “Es para cuidar a nuestros hijos de los pedofílicos, narcotraficantes, estafadores…”</h3>
<p id="973b" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Cuando existe mayor privacidad, mayor será la seguridad de nuestros hijos, cuando utilicen todas las herramientas de Internet de manera segura y privada. Si son conscientes de que exhibir datos privados en Internet es peligrosísimo, tendremos cada vez más ciudadanía en alerta.</p>
<p id="578d" class="graf--p">No es a través de la vigilancia del Estado sino del uso de herramientas tecnológicas para una comunicación más segura lo que garantizará eliminar estos peligros. El Estado jamás podrá brindar más seguridad violando derechos básicos, como el de la privacidad.</p>
<p id="5631" class="graf--p">Hasta la SENATICS lanzó una campaña contra el grooming, de la que nuestros hijos deben ser conscientes de los peligros<a class="markup--anchor markup--p-anchor" href="https://www.youtube.com/watch?v=Tbp-91QBVQY" rel="nofollow">https://www.youtube.com/watch?v=Tbp-91QBVQY</a> .</p>
<h3 id="8724" class="graf--h3">Mito 3: “Va ser utilizado para la persecución única y exclusivamente para estos crímenes”</h3>
<p id="3af2" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: La ley contemplará a todos los hechos punibles, incluso para procesos civiles esta legislación lo contemplará.</p>
<p id="804f" class="graf--p"><strong class="markup--strong markup--p-strong">Cualquier actividad que hagas por Internet (descargas, sitios de música, compras online, películas, redes sociales, etc.), podría ser una excusa para el seguimiento por vía judicial.</strong></p>
<h3 id="cc29" class="graf--h3">Mito 4: “Se necesita para garantizar la seguridad por las instituciones democráticas: el Congreso, el Poder Judicial, Fiscalía, Policía Nacional…”</h3>
<p id="54b7" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Un país democrático no vigila a sus ciudadanos, eso es de estados policiales. </strong>Estas instituciones deben dar lugar a métodos más eficientes para la persecución de delitos cometidos a través de Internet que la retención de datos de tráfico por 12 meses a todos los usuarios.</p>
<h3 id="3d42" class="graf--h3">Mito 5: “Los datos deben ser conservados por más tiempo porque los requerimientos judiciales de información también se hacen a países extranjeros y son trámites burocráticos que toman meses”</h3>
<p id="f45c" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Los MLATs son Memorandum de entendimiento de EEUU con Paraguay, para facilitar de manera recíproca información acerca de los delitos/crímenes ocurridos en Internet.</strong> ¿Porqué necesitan una ley tan invasiva con enormes alcances para perseguir algunos delitos y ponernos a todos en la bolsa? Viola los principios de proporcionalidad, necesidad, debido proceso, intimidad y privacidad.</p>
<p id="4a68" class="graf--p">El personal de la Fiscalía está capacitado para conducir las investigaciones a aquellos que cometen hechos punibles con el MLATs. Necesitan más personal para la persecución en tiempo real, pero no una ley que viole todos los derechos humanos porque incapacidad de esta institución.</p>
<h3 id="abea" class="graf--h3">Mito 6: “Algunas proveedoras no colaboran con la Fiscalía”</h3>
<p id="fb02" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> TODAS las compañías colaboran, y han mostrado voluntad de cooperar sin necesidad de que existiera la ley. Sólo negaban el acceso a la información cuando la fiscalía solicitaba sin hacer referencia al hecho punible, número de expediente y toda la formalidad de la solicitud.</p>
<p id="ef0b" class="graf--p">Ya existen normativas vigentes que atentan a la privacidad de los usuarios como por ejemplo el reglamento de Conatel que obliga a los ISP a almacenar por 6 meses los registros de llamadas de todos los usuarios, y entregarlas bajo orden judicial. Asimismo la ley Nº 4868 de Comercio Electrónico, que pretende regular el comercio a través de medios electrónicos, también obliga a guardar los datos de conexión y tráfico por 6 meses (Art. 10).</p>
<p id="fdc7" class="graf--p"><strong class="markup--strong markup--p-strong">Si se busca la “seguridad de la ciudadanía” como mencionan los proyectistas, con tal de sancionar a los responsables de hechos punibles, ¿es necesaria la retención de datos de TODOS los usuarios de internet del país?</strong></p>
<h3 id="fdb2" class="graf--h3">Mito 7: “No existe ninguna violación al Derecho a la Privacidad de las personas ya que no se guardarían el contenido de las comunicaciones”</h3>
<p id="a426" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Los proyectistas mencionan que son solo los datos de tráfico y no de contenido de las comunicaciones electrónicas, garantizando así los derechos de los usuarios al secreto de sus comunicaciones, respetando los principios Constitucionales de Derecho a la Intimidad y a la Inviolabilidad de las Comunicaciones.</p>
<p id="fc7c" class="graf--p"><strong class="markup--strong markup--p-strong">¿Será verdad este argumento? El acceso a los datos de tráfico (los metadatos) revela tanta o más información que el contenido propio, así que la Intimidad y la Inviolabilidad de las Comunicaciones queda en duda.</strong></p>
<p id="9270" class="graf--p">¿Qué garantía podrán ofrecer las compañías de telefonía de que los datos que retendrán por imposición legal, serán utilizados exclusivamente por el Ministerio Público o Juzgados competentes?</p>
<h3 id="d196" class="graf--h3">Mito 8: “No tengo nada que esconder”</h3>
<p id="24e0" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Todos tenemos información personal que guardar en nuestro fuero íntimo, ¿O acaso estarías dispuesto a entregar tu número de cédula, huellas dactilares, RUC, contraseña de tarjetas de crédito/débito, dirección particular, registros médicos y todo tipo de información personalísima al público, la hora que te encontrás con tus amigos, pareja, qué vestimenta usas, qué camino usas habitualmente, qué auto usas, qué libros lees? <strong class="markup--strong markup--p-strong">¿Si no hago nada malo, porqué me vigilan?</strong></p>
<p id="e1fb" class="graf--p">Si bien existen instituciones que utilizan datos privados a su favor (bancos, seguros médicos, Informconf, etc.), la ley #Pyrawebs creará una Super gigante base de datos mantenidas por compañías proveedoras de Internet crees que una ley de datos personales va a evitar el abuso de un país que viola siempre sus leyes.</p>
<h3 id="c5fd" class="graf--h3">Mito 9: “No va a pasar nada con esta ley”</h3>
<p id="986a" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Han utilizado esta ley para investigar a periodistas, académicos, activistas, y hasta ex parejas en otros países como Alemania, Irlanda, Ucrania etc, tenes dudas de que un país tan corrupto como el nuestro va respetar la naturaleza de la ley?</p>
<h3 id="afd4" class="graf--h3">Mito 10: “Las compañías de telefonía e Internet que no cumplan, serán sancionadas”</h3>
<p id="08f3" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>¿Ha habido sanciones ejemplares a las telefonías en estos años? ¿Qué hay del personal técnico autorizado que tendrá acceso a esta información de aprobarse la ley? ¿Qué garantiza que su trabajo será eficiente? Existen violaciones de principio de Neutralidad en la red en Paraguay, ¿cuándo se le ha sancionado a ellos por estos abusos? ¿Por qué creerle que esta ley van a hacer cumplir?</p>
<blockquote id="b616" class="graf--pullquote pullquote"><p><em>Una vez que se construya este mega almacenamiento de todos nuestros datos, las leyes pueden borrarse con el codo como es costumbre en nuestro país. Pueden modificarse los artículos de la ley eliminando “a solicitud de un juez autorizado” y puede solicitar un fiscal o policía de turno, aumentar los meses de almacenamiento de 12 meses a mas meses porque la fiscalía y los peritos necesitan mas tiempo para la persecución de los delitos.</em></p></blockquote>
<blockquote id="e9ed" class="graf--pullquote pullquote"><p><em>Este mega estructura en poder de las empresas o el Estado es peligroso para todos los ciudadanos. No habrá duda que habrá vigilancia masiva por ambos lados.</em></p></blockquote>
<div id="themify_builder_content-3174" data-postid="3174" class="themify_builder_content themify_builder_content-3174 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Otros 10 mitos de la ley #PyraWebs</title>
		<link>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:50:39 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Arnaldo Giuzzio]]></category>
		<category><![CDATA[datos personales]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[seguridad]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3175</guid>
		<description><![CDATA[Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos. Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo” 1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class=" section--first">
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<h3 class="graf--h3">Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos.</h3>
<hr />
<h3 id="2f49" class="graf--h3"><strong class="markup--strong markup--p-strong">Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo”</strong></h3>
<p id="77c9" class="graf--p">1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale la pena manifestar nuestro rechazo al proyecto ya que de todas formas las proveedoras de Internet retienen nuestros datos. Con esta lógica entonces, deberíamos callarnos cuando los políticos ensucian nuestra ciudad en tiempos de campaña electoral, ya que la ciudad es <em class="markup--em markup--p-em">nomás luego </em>sucia. O deberíamos cruzarnos de brazos ante la tala de árboles en Paraguay, porque el calentamiento global ya es irreversible. En algún momento necesitamos decir basta y frenar el atropello a nuestros derechos por parte del Estado.</p>
<p id="c338" class="graf--p graf--last">2. No sabemos a ciencia cierta qué cantidad de datos personales el sector privado almacena ni qué hace con aquellos datos. Si se confirma la Retención de Datos de tráfico, el Congreso debería adoptar ya <strong class="markup--strong markup--p-strong">una la Ley de Protección de Datos Personales</strong>, y debemos buscar la <strong class="markup--strong markup--p-strong">inconstitucionalidad</strong> del artículo 10 de la ley de Comercio Electrónico y otras normativas que atentan contra nuestros derechos en Internet.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="9f3b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 2: “La retención de datos de tráfico es la única forma de perseguir delitos como el terrorismo, la pedofilia y el narcotráfico en Internet”</strong></p>
<p id="a49a" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Primeramente, el proyecto de ley actual contempla la persecución de cualquier tipo penal, inclusive delitos menos serios como la difamación y los derechos de autor en el entorno digital.</p>
<p id="7d39" class="graf--p">Segundo, cabe destacar que estos delitos se siguen persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico. ¿Cómo hacen ellos entonces?</p>
<p id="f2e2" class="graf--p">Tercero, es estadísticamente imposible que la vigilancia masiva sea una herramienta eficaz para combatir crímenes terroristas o atrapar pedófilos, de acuerdo con un artículo publicado en la <a class="markup--anchor markup--p-anchor" href="http://www.slate.com/articles/health_and_science/new_scientist/2015/01/mass_surveillance_against_terrorism_gathering_intelligence_on_all_is_statistically.html" rel="nofollow">revista estadounidense Slate</a>. “<em class="markup--em markup--p-em">Inclusive si tu máquina-de-atrapar-terroristas tiene un índice positivo-falso de 1 en 1000 — y no hay tecnología de seguridad que siquiera se acerque a esto — cada vez que le preguntes por sospechosos, marcará a 60.000 personas inocentes</em>”, explica Ryan Corrigan, profesor de matemática, informática y tecnología en la Open University del Reino Unido.</p>
<p id="0062" class="graf--p graf--last">Agrega que “<em class="markup--em markup--p-em">los organismos de seguridad deben avanzar con el ritmo de los tiempos, utilizando tecnologías digitales modernas de manera inteligente y vigilar a individuos sobre quienes hay causas razonables para sospechar, a través de la preservación de datos específicos y con la supervisión de las cortes. Esto no es, sin embargo, lo mismo que construir una estructura de vigilancia masiva. La vigilancia masiva hace el trabajo de los servicios de inteligencia más difícil y nos vuelve más inseguros a todos</em>”.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="def4" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 3. “El acceso a los datos retenidos se realizará solo por vía judicial”</strong></p>
<p id="54f0" class="graf--p">No sólo se trata que la vigilancia debe realizarse con autorización judicial competente sino que ésta debe ser previa, imparcial e independiente de las autoridades encargadas de la vigilancia.</p>
<p id="4309" class="graf--p">También la autoridad judicial debe estar capacitada en materias relacionadas, y tiene que ser competente para tomar decisiones judiciales sobre la legalidad de la vigilancia, las tecnologías utilizadas y los Derechos Humanos, además de contar con los recursos adecuados en el ejercicio de las funciones que se le asignen.</p>
<p id="87db" class="graf--p">Es necesario dejar en claro que el Estado debe demostrar a la autoridad judicial competente, antes de la realización de la vigilancia, que tiene que ser proporcionada. Es decir debe:</p>
<ul class="postList">
<li id="a3b6" class="graf--li">Existir un alto grado de probabilidad de que un delito grave o una amenaza específica para algún fin ha sido o será llevado a cabo, y;</li>
<li id="34be" class="graf--li">Existe un alto grado de probabilidad que las evidencias pertinentes y materiales de un delito tan grave o amenaza específica se conseguirían mediante el acceso a los datos del usuario solicitado, y;</li>
<li id="caae" class="graf--li">Que otras técnicas de investigación, que son menos invasivas ya han sido agotadas o serían inútiles, y;</li>
<li id="b946" class="graf--li">La información a la que se accederá será sólo la relevante para perseguir el crimen o la amenaza especifica alegada; y</li>
<li id="f7d5" class="graf--li graf--last">Cualquier información excedente no será retenida, siendo en su lugar destruida o devuelta con prontitud.</li>
</ul>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="8997" class="graf--p"><strong class="markup--strong markup--p-strong">Mito 4. “Es la mejor forma de cuidar a nuestros hijos”</strong></p>
<p id="5e68" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Los que apoyan el proyecto dicen que este esfuerzo encomiable para detener los crímenes sexuales ayudará a perseguir este delito.</p>
<p id="387f" class="graf--p graf--last">Numerosas veces se ha demostrado que es un <a class="markup--anchor markup--p-anchor" href="https://es.wikipedia.org/wiki/Caballo_de_Troya" rel="nofollow">Caballo de Troya</a> para un asalto masivo sobre la privacidad. Además, este delito se sigue persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico o aquellos países donde el Poder Judicial las ha declarado inconstitucionales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="cc21" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 5. “Necesitamos seguridad”</strong></p>
<p id="7ad8" class="graf--p"><strong class="markup--strong markup--p-strong">Correcto.</strong> Impera brindar mayor seguridad, en particular protección para nuestros niños, pero con vigilancia específica y particularizada con el respaldo de una autorización judicial previa, sobre la base de una sospecha individual — no con un proyecto de Ley como éste que convierte una nación de ciudadanos en una nación de sospechosos.</p>
<p id="1b1e" class="graf--p">Además, el gobierno, antes de buscar extender nuevos poderes de vigilancia, debería mejorar sus actuales prácticas de transparencia, y dejar claro el uso y alcance de las practicas de vigilancia actuales.</p>
<p id="5d38" class="graf--p graf--last">Deben publicar, como mínimo, información sobre el número de solicitudes de acceso a datos que han sido aprobadas y rechazadas, un desglose de las solicitudes por proveedor de servicios, por autoridad investigadora, el tipo y propósito, y el número específico de personas afectadas por cada una y según el tipo de investigación y sus propósitos.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="6d0b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 6. “Tiene que haber un término medio porque la ley es necesaria”</strong></p>
<p id="9de2" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> El proyecto de ley, en los términos actuales, es desproporcional a la necesidad que expone como fundamento para su aprobación — la de perseguir delitos como el terrorismo, el narcotráfico y la pedofilia. Por tanto, no existe posibilidad de apoyarlo o promoverlo así como lo plantean los proyectistas.</p>
<p id="4ccd" class="graf--p">En pocas palabras, el gobierno quiere pasar de la vigilancia basada en la sospecha individualizada <strong class="markup--strong markup--p-strong">hacia la vigilancia masiva</strong> con la recolección no selectiva de las comunicaciones de las personas ordinarias, no sospechosas de delito alguno.</p>
<p id="9dd3" class="graf--p graf--last">El único consenso al que se puede llegar debe ser producto de un amplio debate con diversos actores, siempre sobre la base del respeto a los principios fundamentales de privacidad y libertad de expresión. Los derechos humanos no se negocian. Se defienden.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="5241" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 7. “Ya debatimos sobre el tema”</strong></p>
<p id="8e57" class="graf--p"><strong class="markup--strong markup--p-strong">Falso</strong>. Según el senador Arnaldo Giuzzio, proyectista de la ley, <em class="markup--em markup--p-em">“ya hemos tenido un amplio debate sobre este tema”</em>, lo cual no es verdadero. Hasta la fecha, sólo se ha llevado a cabo una audiencia pública en noviembre del 2014 con representantes de diversos sectores. Las discusiones que se hayan generando en las comisiones no cuentan como parte de un debate plural y participativo, ya que se han realizado a puertas cerradas de la ciudadanía.</p>
<p id="343e" class="graf--p graf--last">Un verdadero debate debe darse en un plazo prudencial de tiempo, convocando a los actores relevantes en este tema — legisladores, proveedoras de Internet, organizaciones de sociedad civil, periodistas, abogados — a una mesa multi-sectorial, de la cual emane una postura sobre la retención de datos de trafico y por sobre todo, una propuesta de Ley de Protección a los Datos Personales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="e489" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 8. Los fiscales sostienen que “Necesitamos una ley de datos personales”</strong></p>
<p id="8315" class="graf--p"><strong class="markup--strong markup--p-strong">Parcialmente cierto.</strong> Mientras la protección de datos regula la recolección y uso de los datos personales para que éstos sean utilizados solamente con propósitos técnicos y de facturación, la Retención de Datos contradice aquella obligación de eliminar los datos, al obligar a los proveedores a retener estos por un año, para fines no necesarios para el propósito del negocio. Ello puede tener el efecto de invalidar en la práctica alguna norma de Protección de Datos.</p>
<p id="a082" class="graf--p">Por ejemplo, en países que cuentan con robustas leyes de Datos Personales, la normas de retención obligatoria de datos han hecho que aquella norma inaplicable. Por lo tanto, así como es necesario contar con una ley de Datos Personales, también debemos evitar marcos jurídicos que den pie a la vigilancia masiva como #pyrawebs.</p>
<p id="d397" class="graf--p">Más aún, cuando el Gobierno decide realizar cualquier tipo de vigilancia particularizada, se necesita una combinación de leyes. Por un lado, se necesita normas de protección de datos que aplique al sector privado y al sector público, sino también el Estado debe asegurarse de aplicar los principios de Derechos Humanos que limiten la vigilancia para que ésta sea realizada de acuerdo al Estado de derecho.</p>
<p id="e96f" class="graf--p">En ese sentido, la vigilancia sea necesaria, proporcional, e idónea. Es decir debe cumplir con los estándares internacionales de derechos humanos.</p>
<p id="28cc" class="graf--p graf--last">Para mayor información, revisemos el análisis legal pertinente en<a class="markup--anchor markup--p-anchor" href="https://es.necessaryandproportionate.org/text" rel="nofollow">necessaryandproportionate.org/</a></p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="f6a9" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 9. ¿Y quiénes son ustedes que se oponen a la ley?</strong></p>
<p id="6d86" class="graf--p graf--last">Tedic es una ONG que desde hace 2 años es pionera en la defensa de los Derechos Digitales vía internet en Paraguay. Trabajamos en temas como cultura libre, Creative Commons, generar aplicaciones para el acceso a la información pública y la defensa de la seguridad y privacidad en internet. Si un proyecto de ley como #pyrawebs lesiona las libertades de los usuarios, no tenemos motivos para defenderlo ☺</p>
</div>
</div>
</section>
<section class=" section--last">
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="75b6" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 10. Este hermoso gatito</strong></p>
<figure id="bde4" class="graf--figure graf--iframe graf--last">
<div class="iframeContainer"></div>
</figure>
</div>
</div>
</section>
<p>&nbsp;</p>
<div id="themify_builder_content-3175" data-postid="3175" class="themify_builder_content themify_builder_content-3175 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Senad aboga por ley antinarco y rechaza Pyrawebs</title>
		<link>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:27:50 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Secretaría Nacional Antidrogas]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3152</guid>
		<description><![CDATA[Publicado por Hoy, 17 de marzo de 2015. La Secretaría Nacional Antidrogas (Senad) abogó por los proyectos de ley de extinción de dominio y del financiamiento político, conocidos como antinarcos, no así por el proyecto de ley Pyrawebs. Luis Rojas, ministro de la Senad, en contacto con la 650 AM, se refirió a la postergación [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="body">
<h4 class="summary"><strong>Publicado por <a href="http://www.hoy.com.py/nacionales/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs" target="_blank">Hoy, 17 de marzo de 2015</a>.</strong></h4>
<p class="summary"><em>La Secretaría Nacional Antidrogas (Senad) abogó por los proyectos de ley de extinción de dominio y del financiamiento político, conocidos como antinarcos, no así por el proyecto de ley Pyrawebs.</em></p>
<hr />
<p class="summary">
<p>Luis Rojas, ministro de la Senad, en contacto con la 650 AM, se refirió a la postergación del tratamiento del proyecto de ley antinarco.</p>
<p>“Nosotros creemos que esta ley va a marcar un antes y después en la historia del país. Sabemos que es un inicio de otras acciones inteligentes para enfrentar de manera contundente al crimen organizado”, comentó.</p>
<p>Indicó que “la ley no es perfecta”, pero lamentó que se dilate su estudio argumentando que será inconstitucional.</p>
<p>“Para nosotros realmente necesitamos marcar un punto final a la estructura final, y no vamos a avanzar si no atacamos a los líderes”, señaló el Secretario de Estado.</p>
<p>Al ser consultado sobre el proyecto de ley calificado de Pyrawebs, indicó que: “yo creo que hay maneras inteligentes de atacar, pero siempre consagrando las libertades que están en la Constitución Nacional, por lo que no es inteligente las que afectarían esas libertades”.</p>
</div>
<div class="category_related"></div>
<div id="themify_builder_content-3152" data-postid="3152" class="themify_builder_content themify_builder_content-3152 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/senad-aboga-por-ley-antinarco-y-rechaza-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El espionaje en internet no es ciencia ficción</title>
		<link>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/</link>
		<comments>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:01:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[EFF]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Katitza Rodríguez]]></category>
		<category><![CDATA[Ministerio Público]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3138</guid>
		<description><![CDATA[Por Luis Ríos, publicado por Ejempla el 2 de marzo de 2015. Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos. Para poder poner en marcha un [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Por <a href="https://twitter.com/nosoyunvampire" target="_blank">Luis Ríos</a>, <a href="http://ejempla.com/futuro/el-espionaje-en-internet-no-es-ciencia-ficcion" target="_blank">publicado por Ejempla el 2 de marzo de 2015</a>.</strong></p>
<hr />
<p><em>Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos.</em></p>
<p>Para poder poner en marcha un plan de espionaje, se debe obligar a las compañías telefónicas a que retengan los datos, de ahí surge la necesidad de una ley. Es así que en setiembre del año pasado la Cámara de Senadores aprobó un proyecto de Ley que obliga a las operadoras de Internet a almacenar datos de tráfico (IP) por el periodo de un año, a fin de ubicar el origen de las publicaciones.</p>
<p>Según los proyectistas Arnaldo Giuzzio, Fernando Silva, Robert Acevedo y Arnoldo Wiens, se logrará identificar el origen de los mensajes en casos investigados por estafa mediante Internet e incluso ayudará al combate contra Ejército del Pueblo Paraguayo (EPP). Además de que sea una herramienta para reducir la pornografía infantil.</p>
<p>El Ministerio Público <a href="http://ejempla.com/actualidad/aseguran-que-no-habra-espionaje">aclaró</a> que a lo que se tienen acceso son a los metadatos (Conexión, desconexión, horas, duraciones, con quien se habla y cada cuanto, fotografias, vídeos y todo el material que queda almacenado en la nube) que se comparten en las redes (incluyendo inbox o DM) y en los mails que se envían.</p>
<p>Remarcaron que no se tendrá acceso a lo escrito dentro del correo o mensaje privado o público, solamente a los archivos enviados dentro. Así como a la hora de conexión y desconexión de un usuario. Esa sería la forma de controlar si se está incurriendo en algún delito informático.</p>
<h2 class="subh-default">la otra cara</h2>
<p>Desde <a href="http://www.tedic.org/">Tecnología, Educación, Desarrollo, Investigación, Comunicación (Tedic)</a>, organización que lleva a cabo la campaña contra la ley #Pyrawebs, manifestaron la ilegalidad del hecho a raíz de representar una invasión y violación del derecho a la privacidad y a las libertades de expresión y pensamiento.</p>
<p>Hoy el proyecto cuenta con media sanción en el Senado y se espera la vuelta de las sesiones para que sea tratado en diputados para su sanción con fuerza de ley.</p>
<p>Continuando con los puntos de vista al respecto del monitoreo o si se quiere, espionaje estatal, está en Paraguay Javier Pallero, analista de políticas para Latinoamérica de la organización de Derechos Humanos en Internet <a href="https://www.accessnow.org/">Access</a>.</p>
<p>El mismo detalló que los gobiernos tienen distintas formas de espiar a sus ciudadanos, sin que ellos se enteren y es anormal que blanqueen su autoría. Dependiendo del tipo de gobierno, porque existen gobiernos como el ruso o el chino en donde se reprimen y encarcelan activistas. Estos tipos de gobiernos se conocen como opresores.</p>
<p>Antes de las revoluciones ocurridas en Egipto y Libia, el servicio de Internet se cortaba constantemente. En Arabia Saudita se utilizaban servicios de espionaje para identificar a opositores y personas que se expresan en contra de las autoridades a través de un blog o redes sociales. “El espionaje existe y es posible porque gracias a ello encuentran a los autores que muchas veces son anónimos en la red”, explicó Pallero.</p>
<p>En los estados democráticos hace falta una ley para invadir la privacidad de un ciudadano. Pero según el experto, luego de los atentados del 11 de setiembre de 2001, los países le dieron mas poderes y accesibilidad a sus agencias de inteligencia sin que sus habitantes se enteren. “Si bien existían unos organismos por donde tenían que rendir cuentas, estas agencias mentían en sus declaraciones y seguían abusando de su poder”, subrayó.</p>
<p>Consultado sobre la cantidad de casos de espionaje gubernamental, señaló que “son números astronómicos, difíciles de cuantificar porque se recolectan datos en tiempo real de personas alrededor del mundo permanentemente”.</p>
<p>El analista hizo hincapié en que las personas que están bajo vigilancia, se comportan de otra manera. “Uno siente naturalmente cuando lo vigilan. Cuando estás en un lugar con cámaras, no vas a hacer cosas que no querrías que vieran”, ejemplificó.</p>
<p>Relativizó que si en Estados Unidos donde hay un hermetismo de controlar todo, se sigue ‘encontrando una ventana’ para invadir la privacidad, en un país como Paraguay las observaciones serían peores.</p>
<p>Puntualizó que existen distintos tipos de tecnologías que permiten, sin necesidad que exista una ley, espiar las comunicaciones de las personas. “El gobierno de Uruguay entre el 2010 y 2012 compró equipamiento y software de vigilancia a empresas europeas sin que lo apruebe el Congreso, para los servicios secretos de ese país”, afirmó Pallero. ¿Quién dice que esto ya no ocurrió en Paraguay? Considerando que no hay transparencias en las compras que hacen las instituciones gubernamentales.</p>
<p>Ante esta situación lo que Pallero recomienda hacer, primero como sociedad es informar. “Vos cuando usás Internet, dejás rastros. Entonces no hay que poner todo en Internet, no usar el teléfono para todo, pero más que todo se debe pedir al proveedor no formar parte de ningún archivo que después pueda ser usado contra el usuario y que las mismas empresas se pongan del lado de sus usuarios”, recomendó.</p>
<p>Para cuidar las comunicaciones individualmente, Pallero al igual que <a href="http://ejempla.com/actualidad/el-espionaje-en-internet-es-una-realidad">Katitza Rodríguez</a>, recomienda cifrar y encriptar, utilizar servicios diferentes, tener cuidado de con quien se habla y en que forma.</p>
<p>Así también, el representante de Access, refirió que es ideal que los gobiernos impulsen políticas de privacidad en Internet. Expuso que existen países en donde son las mismas empresas proveedoras las que violan la privacidad de sus usuarios, entonces es el Estado el que tiene que ponerles un limite. Más necesarias lo son en países que son fabricantes de teléfonos y que ya vengan cifrados desde su origen.</p>
<p>Si se llegara a aprobar el proyecto de retención en Paraguay, Pallero instó a los paraguayos a manifestarse públicamente al Congreso y pedir su inconstitucionalidad. Posterior a ello, una demanda ante la Corte Suprema de Justicia pidiendo que intervenga porque perjudica el principio de inocencia, el de proporcionalidad, ya que sin hacer nada, se toma a uno como sospechosos y culpable. Si esto no corre, las técnicas para proteger las comunicaciones mencionadas anteriormente son el plan B.</p>
<p>“En <a href="http://www.libertaddigital.com/internet/alemania-prohibe-la-retencion-de-datos-telefonicos-y-de-internet-1276386134/">Alemania esta ley de retención de datos</a> se mantuvo por seis años hasta que la revocaron. Entonces una ONG investigó acerca de la eficiencia de ella en los trabajos policiales y los resultados mostraron que no sirvió para nada”, recalcó Javier Pallero.</p>
<p>También, siempre en el supuesto de aprobación, Paraguay violaría su propia Constitución Nacional ya que en su artículo 33 se garantiza el derecho a la intimidad tanto personal como familiar. Igualmente pasaría por encima al pacto de San José de Costa Rica y la Convención Interamericana de Derechos Humanos.</p>
<p>“El gobierno dice que no se ve el contenido, solo los metadatos, pero esos metadatos están relacionados con la geolocalización y está cruzado con el teléfono, y la conexión de la casa. Entonces se puede sacar mucha información. Espiar los metadatos es igual de grave que espiar el contenido del mensaje”, cerró.</p>
<div class="item-divider"></div>
<div id="themify_builder_content-3138" data-postid="3138" class="themify_builder_content themify_builder_content-3138 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El Espectador Colombia: Todos somos culpables</title>
		<link>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/</link>
		<comments>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:43:07 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[intimidad]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3134</guid>
		<description><![CDATA[Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente. Por: Santiago La Rotta En Twitter: @troskiller La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="lead">Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente.</h4>
<hr />
<p>Por: Santiago La Rotta</p>
<div class="una_noticia ">
<div class="ee-twitter-author-node">En Twitter: <a href="https://twitter.com/troskiller" target="_blank">@troskiller</a></div>
<div class="clear"></div>
</div>
<p>La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de las iniciativas más drásticas de la región en este tema.</p>
<p>Retención masiva de datos es un término que, al menos mediáticamente, cobró relevancia luego de las revelaciones de Edward Snowden, extécnico de la CIA, quien filtró documentos en los que mostraba cómo la Agencia Nacional de Seguridad de Estados Unidos (NSA, por sus siglas en inglés) estableció una red de vigilancia sobre las comunicaciones de millones de ciudadanos, una operación que realizó en conjunto con agencias de inteligencia de países como el Reino Unido.</p>
<div class="eplanning_video_inline">En la práctica, lo que la retención masiva significa es la imposición sobre los operadores de telecomunicaciones de guardar los datos de actividad y tráfico de todos sus clientes. ¿Qué datos? Casi cualquier pieza de legislación sobre el tema deja claro que no se solicitan los contenidos de las comunicaciones (la grabación de una llamada, por ejemplo), sino los metadatos de éstas: hora y fecha, lugar y direcciones IP (una especie de huella digital electrónica por la cual se sabe quién está a cada lado de la línea).</div>
<p>El tema acá es que los metadatos a menudo revelan tanta (o hasta más) información sobre una comunicación. Esta información es particularmente sensible en el caso de activistas de derechos humanos o disidentes políticos, sólo por mencionar dos casos. Aunque, en últimas, potencialmente debilita la vida privada de cualquier persona.</p>
<p>En el caso de la ley paraguaya (Ley de Retención de Datos de Tráfico, popularmente conocida como Pyrawebs), el registro de la información se realizaría por 12 meses y afectaría a todos los usuarios de servicios de telecomunicaciones, sin importar si sobre estos pesa o no una investigación judicial. Este es uno de los puntos que más molestan de la iniciativa, por decir lo menos. “…este proyecto de ley violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia, consagrados en nuestra Constitución Nacional”, asegura Tedic, una ONG paraguaya que monitorea temas de derechos humanos en internet.</p>
<p>La diputada Olga Ferreira, una de las más duras opositoras al proyecto (que con amplia mayoría fue aprobado a finales del año pasado en el Senado), tiene una opinión similar a Tedic al afirmar que la iniciativa “Daña derechos constitucionales como la privacidad, asociación y libertad de expresión, porque lo que propone esta ley es la vigilancia masiva de las personas, como si todas fueran culpables. Además, pone en peligro la privacidad de actores políticos y sociales y, en general, de todos los ciudadanos. Con este monitoreo, datos que se van a conservar por un año, se puede saber quién habla con quién, a qué hora, con quién se reúnen las personas; quiénes son las fuentes de un periodista, por ejemplo”.</p>
<p><strong>¿Por qué fue presentada la ley?</strong></p>
<p>La ley la presentó el Ministerio Público con el objetivo de hacer más rápidamente ciertos controles porque en nuestro país existen muchos delitos. Está el caso del EPP (Ejército del Pueblo Paraguayo), que tiene un secuestrado en este momento. También hay temas como mafias y pedofilia. Pero quienes trabajamos en derechos humanos no estamos de acuerdo con que por las conductas de unos se investigue a todos. Aquí se hizo una consulta en la que más del 90% de los paraguayos rechazó esta ley; no es un resultado vinculante, pero sí genera presión.</p>
<p><strong>¿Para qué se podría utilizar esa retención de datos?</strong></p>
<p>Para revisar cualquier tipo de delitos. Es una violación a la intimidad. Pero además hay que tener en cuenta en manos de cuántas personas va a quedar nuestra información. Con estos datos se puede dar lugar a chantajes, a que se descubran secretos industriales. Esto pasa por manos de funcionarios en las empresas de telefonía, en el Ministerio del Interior y en la Fiscalía.</p>
<p><strong>¿Para dónde cree que se incline esa votación?</strong></p>
<p>Está subiendo la presión popular. Creo que se va a rechazar la ley.</p>
<p>&nbsp;</p>
<p><strong><a href="http://www.elespectador.com/tecnologia/todos-somos-culpables-articulo-548643" target="_blank">Publicado en la Edición Impresa de El Espectador, 10 de marzo de 2015</a>.</strong></p>
<div id="themify_builder_content-3134" data-postid="3134" class="themify_builder_content themify_builder_content-3134 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Estudian hoy ley que podría habilitar espionaje estatal a los ciudadanos</title>
		<link>http://pyrawebs.tedic.org/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos/</link>
		<pubDate>Tue, 24 Mar 2015 22:27:50 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Asuntos Constitucionales]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[pyrawebs]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3127</guid>
		<description><![CDATA[La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje estatal a los usuarios.</h4>
<hr />
<h4></h4>
<div class="text">
<p>El proyecto de ley tiene como objeto regular la conservación de datos del tráfico por parte de las personas físicas o jurídicas que proveen servicios de acceso a internet y transmisión de datos. Igualmente, el deber de proporcionar esos datos con autorización del juez de garantías, cuando lo requieran, con la finalidad de investigar, perseguir y sancionar a los responsables de hechos punibles tipificados en el Código Penal y otras leyes.</p>
<p>El proyecto ya fue incluido en el orden del día de la sesión de la Cámara de Diputados de la semana pasada, pero debido a las posturas encontradas se decidió su aplazo por 8 días.</p>
<p>La diputada independiente Olga Ferreira, presidenta de la comisión de DD.HH., ratificó ayer su rechazo a la normativa. Sostuvo que, de aprobarse, hará que a todos los ciudadanos se los trate como delincuentes potenciales, ya que estarán a merced de ser espiados y se tendrá acceso a datos como la identificación de las personas con quien conversa, sus contactos, transacciones, etc.</p>
<p>Afirmó que el proyecto viola los derechos humanos y también la Constitución Nacional, en sus artículos 33, sobre el derecho a la intimidad, y el 36, sobre el derecho la inviolabilidad del patrimonio documental y la comunicación privada.</p>
<p>Ferreira indicó que, si bien no habilita a acceder al contenido de las comunicaciones y mensajes, se podrá saber con quiénes se comunica, el perfil de las personas, las cuentas que pagan a través de internet y muchos otros datos.</p>
<p>Sostuvo que uno de los aspectos muy cuestionables es el plazo que podrán guardar los datos de la gente.</p>
<p>La mayoría de las comisiones que ya estudiaron el proyecto, a excepción de la de DD.HH., planteó su aprobación con modificaciones. Sin embargo, no se descarta que pueda haber cambios en esa decisión.</p>
<p>El proyecto tiene sanción automática el próximo jueves 12 de marzo.</p>
<p><strong>Bancadas definirán</strong></p>
<p>La decisión que asuman esta semana, antes de la sesión, las bancadas mayoritarias de la ANR y el PLRA con relación a la ley que obliga a la conservación de datos, será clave, admitieron fuentes de esos sectores. Aunque las comisiones asesoras de la Cámara Baja dictaminaron a favor de la aprobación, la mayoría de los legisladores desconoce los alcances de la normativa y se limitará a seguir las indicaciones de sus líderes. En ese sentido, la reacción de algunos sectores ciudadanos en contra de la ley puede inclinar la balanza por el rechazo. De darse esa alternativa, el proyecto volverá al Senado donde, para ratificarse en la aprobación inicial, precisarán una mayoría absoluta de 23 votos.</p>
<p><a href="http://www.abc.com.py/edicion-impresa/politica/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos-1344071.html" target="_blank"><strong>Publicado en la Edición Impresa del diario ABC Color, 10 de marzo de 2015</strong></a>.</p>
</div>
<div id="themify_builder_content-3127" data-postid="3127" class="themify_builder_content themify_builder_content-3127 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Vigilarán el uso de celulares e internet de los paraguayos</title>
		<link>http://pyrawebs.tedic.org/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos/</link>
		<pubDate>Tue, 24 Mar 2015 21:47:22 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[usuarios]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3118</guid>
		<description><![CDATA[La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs. El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class="post-lead">
<h5 class="subtitle">La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs.</h5>
<hr />
<h5 class="subtitle"></h5>
</section>
<section class="postbody-wrapper postlayout-default">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost"></article>
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que guardar por obligación legal por 12 meses absolutamente todo. Sabrán la hora de conexión en las redes sociales, qué sitios visitó, adónde fuiste, con quién hablaste; es una violación a la intimidad de las personas”, señaló David Bogado de la ONG TEDIC.</p>
<p>Dijo que el proyecto cuenta con media sanción de la Cámara de Senadores y si no es tratada por los Diputados tendrá sanción fixta, es decir automática. “Esta normativa no garantiza que los empleados de la compañías no filtren las informaciones y no chantajeen a los usuarios”, subrayó.</p>
<p><strong>“PYRAWEBS”</strong></p>
<p>Bogado señaló que bautizaron al proyecto de ley como: “Pyrawebs”, ya que se asemeja al sistema de delatores de la dictadura stronista. “Ahora las informaciones van a ser ‘pyraguetado’ digital”, expresó. Agregó que la aprobación del proyecto obligaría a las compañías telefónicas a invertir mucho dinero para implementar el sistema.</p>
<p>A su turno, la diputada Olga Ferreira manifestó que este proyecto refleja un retroceso y un atentado contra la intimidad de las personas. En declaraciones a la 780 AM manifestó su oposición al tema, alegando que podría prestarse a chantajes y extorsiones.</p>
<p><strong><a href="http://www.extra.com.py/actualidad/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos.html" target="_blank">Publicado en la Edición Impresa del diario Extra, 5 de marzo de 2015</a>.</strong></p>
</article>
</div>
</article>
</div>
</section>
<div id="themify_builder_content-3118" data-postid="3118" class="themify_builder_content themify_builder_content-3118 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>#Pyrawebs: Será como un “caballo de Troya”</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:41:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[bases de datos]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3105</guid>
		<description><![CDATA[Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="summary">Maricarmen Sequera, directora Ejecutiva de la ONG Tecnología y Comunicación (Tedic), indicó que el proyecto de ley que obliga la conservación de los datos de tráfico viola el derecho de los usuarios de internet. Apuntó que si bien la normativa se dirige presuntamente a perseguir delitos como el narcotráfico, terrorismo, pedofilia, etc., actúa también como un “caballo de Troya” para otro fin que es la vigilancia masiva de todos los ciudadanos que acceden a internet.</h4>
<hr />
<p>Sobre el argumento de que ayudaría a resolver casos importantes, Sequera dijo que sin esta ley, los jueces pueden, para casos específicos y en forma excepcional, acceder a datos de llamadas e inclusive al contenido de las mismas, tal como prevé de hecho la Constitución, en su artículo 36.</p>
<div class="text">
<p>Indicó que están de acuerdo con que se establezca la vigilancia para casos específicos, ya que los terroristas o los pedófilos deber ser perseguidos. Sin embargo, apuntó que con esta ley pondrá a todos bajo sospecha y con una lupa que hará que el teléfono celular de todas las personas pueda actuar como una proveedora de información sobre su vida.</p>
<p>Indicó que es legítimo que las empresas utilicen los datos de usuarios para conocer sus gustos y ofrecerles productos específicos. Pero cuando se sobrepasa y se guardan bases de datos para venderlos por más tiempo y darles otros usos, es ilegal.</p>
<p>Indicó que el calificativo dado a la ley de “pyraweb” es porque, tal como lo hacían los “pyrague” (delatores), en la dictadura, informarán de los movimientos y las reuniones, aunque no directamente sobre los contenidos de lo que conversan.</p>
<p><strong>Fuente:</strong> <a title="Será como un “caballo de Troya”, advierten" href="http://www.abc.com.py/edicion-impresa/politica/sera-como-un-caballo-de-troya-advierten-1344074.html" target="_blank">ABC Color, Edición Impresa del 10 de marzo de 2015</a></p>
</div>
<div id="themify_builder_content-3105" data-postid="3105" class="themify_builder_content themify_builder_content-3105 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-sera-como-un-caballo-de-troya/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Proyecto de ley abre debate sobre la privacidad y el espionaje en internet</title>
		<link>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/</link>
		<comments>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:39:53 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Ariel Martínez]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[Delitos Informáticos]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[privacidad]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3109</guid>
		<description><![CDATA[Un proyecto de ley que deberá ser tratado en semanas más por la Cámara de Diputados establece que las proveedoras de internet deberán conservar durante doce meses los datos de tráficos de sus usuarios y revelarlos cuando lo requiera un juez de Garantías. Mientras que la Fiscalía asegura que hoy en día esta ley es [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="news-headline-obj">
<h4 class="summary newDetailTextChange">Un proyecto de ley que deberá ser tratado en semanas más por la Cámara de Diputados establece que las proveedoras de internet deberán conservar durante doce meses los datos de tráficos de sus usuarios y revelarlos cuando lo requiera un juez de Garantías.</h4>
<hr />
<div id="OBJETO28" class="CLASS20">
<div id="Object_28_28" class=" clearfix">
<div class="news-detail-obj">
<div class="newDetailTextChange">
<p>Mientras que la Fiscalía asegura que hoy en día esta ley es necesaria para poder investigar todo tipo de delitos, organizaciones civiles afirman que se trata de una violación de derechos y que da pie a un espionaje masivo.</p>
<p>Si bien la ley obliga a las empresas a conservar datos de tráfico y excluye el contenido de las comunicaciones electrónicas, la abogada Maricarmen Sequera, de la organización Tedic, sostiene que estos datos de tráfico, o metadatos, permiten conocer información sensible de los usuarios de internet.</p>
<p>“Si bien no incluye contenido, sí se puede identificar desde dónde se hacen las comunicaciones, quién se comunica con quién y desde dónde, inclusive dónde se encuentran los celulares sin hacer una llamada”, explicó Sequera y agregó que con los datos de tráfico también se podrán conocer las páginas webs que se visitan.</p>
<p>“La ley en sí atenta a un montón de derechos constitucionales. Viola el artículo 36 de la Constitución, que habla de la inviolabilidad de contenido de la comunicación. Eso se puede trasladar a un metadato, porque hay un fallo de la Corte Interamericana de Derechos Humanos que dictamina que los metadatos deben ser cuidados igualmente que el contenido”, señaló la activista.</p>
<p>Por otro lado, destacó que en otros países como Argentina ya fueron declaradas inconstitucionales leyes de este tipo. Incluso la Gran Sala del Tribunal de Justicia de la Unión Europea declaró inválido el mismo tipo de retención de datos de tráfico que se busca implementar en Paraguay, comentó.</p>
<p>Sequera recordó experiencias de otros países como Alemania, en las que el Estado utilizó datos de tráfico de internet con fines políticos, para espiar y monitorear a opositores y periodistas.</p>
<p>“ES NECESARIA”. Por su parte, el fiscal de Delitos Informáticos, Ariel Martínez, manifestó que esta ley no viola derechos constitucionales y aseguró que se trata de una herramienta necesaria hoy en día para la investigación penal. “Ese celo supuesto de que a partir de hoy recién las telefónicas van a guardar datos es un desconocimiento total de cómo funcionan en realidad las prestadoras de servicio de internet (&#8230;) La ley va a ser una ventaja para el ciudadano, porque va a reglamentar esta actividad, va a decir que solo se pueden utilizar estos datos cuando hay una sospecha de la comisión de hechos punibles por parte de esa persona y con una orden judicial”, declaró.</p>
<p>“Necesitamos una ley de protección de datos personales bien fuerte que sea el contrapeso de esto, que sea la garantía de los ciudadanos. Hoy los datos son pertenencia patrimonial de las empresas y no de los ciudadanos. Eso es lo que tenemos que regular y si es posible saquemos las dos leyes al mismo tiempo”, añadió.</p>
<p>Desmintió que se trate de un espionaje masivo y aseguró que el Estado solo podrá acceder a datos del tráfico de una persona cuando haya una fundada sospecha de un delito, por lo que no se tratará tampoco de una violación del derecho a la intimidad de las personas.</p>
<p>El fiscal aseguró que la única opción que tiene Paraguay actualmente en este campo es la de retención de datos.</p>
<p><strong>Fuente:</strong> <a title="Proyecto de ley abre debate sobre la privacidad y el espionaje en internet" href="http://www.ultimahora.com/proyecto-ley-abre-debate-la-privacidad-y-el-espionaje-internet-n874702.html" target="_blank">Última Hora, Edición Impresa 23 de febrero de 2015</a></p>
</div>
</div>
</div>
</div>
</div>
<div id="themify_builder_content-3109" data-postid="3109" class="themify_builder_content themify_builder_content-3109 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Un grito de alarma, por Daniel Mendonca</title>
		<link>http://pyrawebs.tedic.org/un-grito-de-alarma-por-daniel-mendonca/</link>
		<pubDate>Tue, 24 Mar 2015 21:39:14 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[1984]]></category>
		<category><![CDATA[daniel mendonca]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[un grito de alarma]]></category>
		<category><![CDATA[Unión Europea]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3100</guid>
		<description><![CDATA[“1984” es el título de una novela de ficción política publicada por George Orwell en 1949. La obra introdujo los conceptos del omnipresente y vigilante Gran Hermano, de la abolición de la intimidad y de la ubicua Policía del Pensamiento. Muchos analistas detectan hoy paralelismos asombrosos entre la sociedad actual y el mundo novelado en [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="summary">“1984” es el título de una novela de ficción política publicada por George Orwell en 1949. La obra introdujo los conceptos del omnipresente y vigilante Gran Hermano, de la abolición de la intimidad y de la ubicua Policía del Pensamiento. Muchos analistas detectan hoy paralelismos asombrosos entre la sociedad actual y el mundo novelado en la obra, sugiriendo que vivimos lo que se conoce como “sociedad orwelliana”, una sociedad donde se manipula la información, se practica la vigilancia masiva y la represión política y social. El término “orwelliano” se ha convertido en sinónimo de sociedades y organizaciones que reproducen actitudes totalitarias y represoras como las representadas en la novela. El libro se ha convertido en uno de los más influyentes del siglo XX y, como afirma Umberto Eco, “es un grito de alarma, una llamada de atención y una denuncia”.</h4>
<hr />
<div class="text">
<p>Traigo a colación esta novela porque en el Poder Legislativo se debate ahora un proyecto de ley sobre la conservación de datos de tráfico electrónico y magnético. El objetivo declarado de la ley es regular la retención de datos de tráfico de las comunicaciones y de las redes públicas de comunicación con la finalidad de investigar, perseguir y sancionar delitos. Serán las empresas prestadoras de servicios de comunicaciones las encargadas de conservar los datos especificados en la ley, tales como la localización e individualización del usuario y el titular registrado, la dirección electrónica utilizada, el origen, el destino, el itinerario y la duración de la comunicación, incluidas la fecha y la hora de la conexión y la desconexión.</p>
<p>Iniciativas similares a esta han sido planteadas en otros países y han generado fundados temores respecto de la invasión de la privacidad. En el ámbito europeo, una regulación equivalente fue invalidada el año pasado por el Tribunal de Justicia de la Unión Europea, con sede en Luxemburgo. De acuerdo con ese tribunal, “los datos que han de conservarse permiten saber con qué persona y de qué modo se ha comunicado un abonado o usuario registrado, determinar el momento de la comunicación y el lugar desde el que esta se ha producido y conocer la frecuencia de las comunicaciones del abonado o registrado con determinadas personas durante un período concreto. Esos datos, considerados en su conjunto, pueden proporcionar indicaciones muy precisas sobre la vida privada de las personas cuyos datos se conservan, como los hábitos de la vida cotidiana, los lugares de residencia permanentes o temporales, los desplazamientos diarios, las actividades realizadas, las relaciones sociales y los medios sociales frecuentados”. Según el tribunal, “al imponer la conservación de estos datos y al permitir el acceso a las autoridades competentes, la regulación se inmiscuye de manera especialmente grave en los derechos fundamentales al respeto de la vida privada y a la protección de datos de carácter personal”. Además, agrega el tribunal, “el hecho de que la conservación y la utilización posterior de los datos se efectúen sin que el abonado o el usuario registrado sea informado de ello puede generar en las personas afectadas el sentimiento de que su vida privada es objeto de una vigilancia constante”. Finalmente, señala el tribunal, “la regulación no contiene garantías suficientes que permitan asegurar una protección eficaz de los datos contra los riesgos de abuso y de utilización ilícita de los datos”.</p>
<p>Me temo que este proyecto orwelliano pretende generar un perverso y eficaz mecanismo de intrusión en la intimidad y la privacidad de las personas, lesionando gravemente derechos constitucionales. Ante ello, creo conveniente recordar un célebre fallo de la Suprema Corte de los Estados Unidos, que dice aleccionadoramente lo siguiente: “Los padres de nuestra Constitución pretendieron proteger a los ciudadanos en sus creencias, sus pensamientos, sus emociones y sus sensaciones. Ellos confirieron, también contra el gobierno, el derecho a ser dejado solo, el más comprensivo de los derechos y el más apreciado por los hombres civilizados. Para proteger este derecho, toda intrusión injustificada del gobierno sobre la privacidad de los individuos, cualesquiera sean los medios empleados, debe ser juzgada una violación constitucional”.</p>
<p>Esta columna es un grito de alarma. Espero que sea escuchado.</p>
<p><a href="mailto:dm@danielmendonca.com.py" target="_blank"><strong>dm@danielmendonca.com.py</strong></a></p>
</div>
<div id="article-banner-1"></div>
<p class="summary">Fuente: <a title="Un grito de alarma" href="http://www.abc.com.py/edicion-impresa/opinion/un-grito-de-alarma-1343488.html" target="_blank">ABC Color, Edición Impresa, 4 de marzo de 2015</a></p>
<div id="themify_builder_content-3100" data-postid="3100" class="themify_builder_content themify_builder_content-3100 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.652 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:39:45 -->
