<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Olga Ferreira &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/olga-ferreira/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>El Espectador Colombia: Todos somos culpables</title>
		<link>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/</link>
		<comments>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:43:07 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[intimidad]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3134</guid>
		<description><![CDATA[Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente. Por: Santiago La Rotta En Twitter: @troskiller La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="lead">Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente.</h4>
<hr />
<p>Por: Santiago La Rotta</p>
<div class="una_noticia ">
<div class="ee-twitter-author-node">En Twitter: <a href="https://twitter.com/troskiller" target="_blank">@troskiller</a></div>
<div class="clear"></div>
</div>
<p>La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de las iniciativas más drásticas de la región en este tema.</p>
<p>Retención masiva de datos es un término que, al menos mediáticamente, cobró relevancia luego de las revelaciones de Edward Snowden, extécnico de la CIA, quien filtró documentos en los que mostraba cómo la Agencia Nacional de Seguridad de Estados Unidos (NSA, por sus siglas en inglés) estableció una red de vigilancia sobre las comunicaciones de millones de ciudadanos, una operación que realizó en conjunto con agencias de inteligencia de países como el Reino Unido.</p>
<div class="eplanning_video_inline">En la práctica, lo que la retención masiva significa es la imposición sobre los operadores de telecomunicaciones de guardar los datos de actividad y tráfico de todos sus clientes. ¿Qué datos? Casi cualquier pieza de legislación sobre el tema deja claro que no se solicitan los contenidos de las comunicaciones (la grabación de una llamada, por ejemplo), sino los metadatos de éstas: hora y fecha, lugar y direcciones IP (una especie de huella digital electrónica por la cual se sabe quién está a cada lado de la línea).</div>
<p>El tema acá es que los metadatos a menudo revelan tanta (o hasta más) información sobre una comunicación. Esta información es particularmente sensible en el caso de activistas de derechos humanos o disidentes políticos, sólo por mencionar dos casos. Aunque, en últimas, potencialmente debilita la vida privada de cualquier persona.</p>
<p>En el caso de la ley paraguaya (Ley de Retención de Datos de Tráfico, popularmente conocida como Pyrawebs), el registro de la información se realizaría por 12 meses y afectaría a todos los usuarios de servicios de telecomunicaciones, sin importar si sobre estos pesa o no una investigación judicial. Este es uno de los puntos que más molestan de la iniciativa, por decir lo menos. “…este proyecto de ley violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia, consagrados en nuestra Constitución Nacional”, asegura Tedic, una ONG paraguaya que monitorea temas de derechos humanos en internet.</p>
<p>La diputada Olga Ferreira, una de las más duras opositoras al proyecto (que con amplia mayoría fue aprobado a finales del año pasado en el Senado), tiene una opinión similar a Tedic al afirmar que la iniciativa “Daña derechos constitucionales como la privacidad, asociación y libertad de expresión, porque lo que propone esta ley es la vigilancia masiva de las personas, como si todas fueran culpables. Además, pone en peligro la privacidad de actores políticos y sociales y, en general, de todos los ciudadanos. Con este monitoreo, datos que se van a conservar por un año, se puede saber quién habla con quién, a qué hora, con quién se reúnen las personas; quiénes son las fuentes de un periodista, por ejemplo”.</p>
<p><strong>¿Por qué fue presentada la ley?</strong></p>
<p>La ley la presentó el Ministerio Público con el objetivo de hacer más rápidamente ciertos controles porque en nuestro país existen muchos delitos. Está el caso del EPP (Ejército del Pueblo Paraguayo), que tiene un secuestrado en este momento. También hay temas como mafias y pedofilia. Pero quienes trabajamos en derechos humanos no estamos de acuerdo con que por las conductas de unos se investigue a todos. Aquí se hizo una consulta en la que más del 90% de los paraguayos rechazó esta ley; no es un resultado vinculante, pero sí genera presión.</p>
<p><strong>¿Para qué se podría utilizar esa retención de datos?</strong></p>
<p>Para revisar cualquier tipo de delitos. Es una violación a la intimidad. Pero además hay que tener en cuenta en manos de cuántas personas va a quedar nuestra información. Con estos datos se puede dar lugar a chantajes, a que se descubran secretos industriales. Esto pasa por manos de funcionarios en las empresas de telefonía, en el Ministerio del Interior y en la Fiscalía.</p>
<p><strong>¿Para dónde cree que se incline esa votación?</strong></p>
<p>Está subiendo la presión popular. Creo que se va a rechazar la ley.</p>
<p>&nbsp;</p>
<p><strong><a href="http://www.elespectador.com/tecnologia/todos-somos-culpables-articulo-548643" target="_blank">Publicado en la Edición Impresa de El Espectador, 10 de marzo de 2015</a>.</strong></p>
<div id="themify_builder_content-3134" data-postid="3134" class="themify_builder_content themify_builder_content-3134 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Diputados rechazaron ley de pyraguereada cibernética</title>
		<link>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/</link>
		<comments>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:36:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Antonio Buzarquis]]></category>
		<category><![CDATA[Bernardo Villalba]]></category>
		<category><![CDATA[Dionisio Amarilla]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[Oscar Tuma]]></category>
		<category><![CDATA[Ramón Romero Roa]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3130</guid>
		<description><![CDATA[Diputados rechazaron ayer ley de pyraguereada cibernética. “Al final del túnel vieron la luz”, he’i Dionisio Amarilla. El principal argumento fue que atenta contra la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia. La mayoría coincidió en que la ley de conservación de datos de tráfico o [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Diputados rechazaron ayer ley de pyraguereada cibernética. “Al final del túnel vieron la luz”, he’i Dionisio Amarilla. El principal argumento fue que atenta contra la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia.</h4>
<hr />
<p>La mayoría coincidió en que la ley de conservación de datos de tráfico o pyrawebs es peligrosa porque se presta para ejercer un control absoluto sobre los ciudadanos, he’i. “Sería como un registro del terror”, señaló Olga Ferreira, capa de la Comisión de Derechos Humanos, quien argumentó que atenta contra principios básicos, como la libertad de expresión, la privacidad de las personas y el derecho a la presunción de inocencia.</p>
<p>Por su parte, Ramón Romero Roa, de la Comisión de Asuntos Constitucionales, indicó que el principal riesgo de la propuesta legislativa era que, de aprobarse como estaba, se podía “exceder los límites”, o sea cometer abusos.</p>
<p>Por su parte, Bernardo “Lalo” Villalba, titu de Legislación y Codificación, sugirió hacer algunas modificaciones. “Regular qué datos almacenar y qué datos no, porque atentan contra principios constitucionales, porque, de hecho, las proveedoras ya están guardando y almacenando datos”, precisó.</p>
<p>En ese sentido, el liberal Antonio Buzarquis cuestionó quién controlaría a las telefonías encargadas de guardar y almacenar los datos. “¿Quién va a controlar a los que nos controlan?”, oporandu. Su correlí Dionisio Amarilla rechazó la ley por tener “visos de totalitarismo”, he’i.</p>
<p>El único que nadó contra la corriente fue Oscar Tuma. He’i que se dicen medias verdades, porque en realidad esta leyavei serviríaparaperseguir delitos de pornografía o buillyng con fotos íntimas entre colegiantes hamba’e. Avei ombokapu contra sus colegas que ayer defendieron el derecho a la intimidad de las personas, pero no dijeron ni pío cuando se difundieron las imágenes del video íntimodeunsenador ni cuando se hicieron públicas las conversaciones personales de un diputado, he’i.</p>
<p><strong><a href="http://archivos.hoy.com.py/popular20150313/#5/z" target="_blank">Publicado en la Edición Impresa del Diario Popular, 13 de marzo de 2015</a></strong></p>
<div id="themify_builder_content-3130" data-postid="3130" class="themify_builder_content themify_builder_content-3130 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/diputados-rechazaron-ley-de-pyraguereada-cibernetica/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Vigilarán el uso de celulares e internet de los paraguayos</title>
		<link>http://pyrawebs.tedic.org/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos/</link>
		<pubDate>Tue, 24 Mar 2015 21:47:22 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[usuarios]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3118</guid>
		<description><![CDATA[La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs. El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class="post-lead">
<h5 class="subtitle">La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs.</h5>
<hr />
<h5 class="subtitle"></h5>
</section>
<section class="postbody-wrapper postlayout-default">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost"></article>
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que guardar por obligación legal por 12 meses absolutamente todo. Sabrán la hora de conexión en las redes sociales, qué sitios visitó, adónde fuiste, con quién hablaste; es una violación a la intimidad de las personas”, señaló David Bogado de la ONG TEDIC.</p>
<p>Dijo que el proyecto cuenta con media sanción de la Cámara de Senadores y si no es tratada por los Diputados tendrá sanción fixta, es decir automática. “Esta normativa no garantiza que los empleados de la compañías no filtren las informaciones y no chantajeen a los usuarios”, subrayó.</p>
<p><strong>“PYRAWEBS”</strong></p>
<p>Bogado señaló que bautizaron al proyecto de ley como: “Pyrawebs”, ya que se asemeja al sistema de delatores de la dictadura stronista. “Ahora las informaciones van a ser ‘pyraguetado’ digital”, expresó. Agregó que la aprobación del proyecto obligaría a las compañías telefónicas a invertir mucho dinero para implementar el sistema.</p>
<p>A su turno, la diputada Olga Ferreira manifestó que este proyecto refleja un retroceso y un atentado contra la intimidad de las personas. En declaraciones a la 780 AM manifestó su oposición al tema, alegando que podría prestarse a chantajes y extorsiones.</p>
<p><strong><a href="http://www.extra.com.py/actualidad/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos.html" target="_blank">Publicado en la Edición Impresa del diario Extra, 5 de marzo de 2015</a>.</strong></p>
</article>
</div>
</article>
</div>
</section>
<div id="themify_builder_content-3118" data-postid="3118" class="themify_builder_content themify_builder_content-3118 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.563 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:15 -->
