<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Asuntos Constitucionales &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/asuntos-constitucionales/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Estudian hoy ley que podría habilitar espionaje estatal a los ciudadanos</title>
		<link>http://pyrawebs.tedic.org/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos/</link>
		<pubDate>Tue, 24 Mar 2015 22:27:50 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Asuntos Constitucionales]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[pyrawebs]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3127</guid>
		<description><![CDATA[La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>La comisión de Asuntos Constitucionales de la Cámara Baja dictaminará esta mañana la controvertida ley de conservación de datos, que obliga a las empresas proveedoras de servicio de internet y similares a guardar por 12 meses los datos de tráfico. Organizaciones ciudadanas y algunos legisladores advierten sobre el riesgo de que se institucionalice el espionaje estatal a los usuarios.</h4>
<hr />
<h4></h4>
<div class="text">
<p>El proyecto de ley tiene como objeto regular la conservación de datos del tráfico por parte de las personas físicas o jurídicas que proveen servicios de acceso a internet y transmisión de datos. Igualmente, el deber de proporcionar esos datos con autorización del juez de garantías, cuando lo requieran, con la finalidad de investigar, perseguir y sancionar a los responsables de hechos punibles tipificados en el Código Penal y otras leyes.</p>
<p>El proyecto ya fue incluido en el orden del día de la sesión de la Cámara de Diputados de la semana pasada, pero debido a las posturas encontradas se decidió su aplazo por 8 días.</p>
<p>La diputada independiente Olga Ferreira, presidenta de la comisión de DD.HH., ratificó ayer su rechazo a la normativa. Sostuvo que, de aprobarse, hará que a todos los ciudadanos se los trate como delincuentes potenciales, ya que estarán a merced de ser espiados y se tendrá acceso a datos como la identificación de las personas con quien conversa, sus contactos, transacciones, etc.</p>
<p>Afirmó que el proyecto viola los derechos humanos y también la Constitución Nacional, en sus artículos 33, sobre el derecho a la intimidad, y el 36, sobre el derecho la inviolabilidad del patrimonio documental y la comunicación privada.</p>
<p>Ferreira indicó que, si bien no habilita a acceder al contenido de las comunicaciones y mensajes, se podrá saber con quiénes se comunica, el perfil de las personas, las cuentas que pagan a través de internet y muchos otros datos.</p>
<p>Sostuvo que uno de los aspectos muy cuestionables es el plazo que podrán guardar los datos de la gente.</p>
<p>La mayoría de las comisiones que ya estudiaron el proyecto, a excepción de la de DD.HH., planteó su aprobación con modificaciones. Sin embargo, no se descarta que pueda haber cambios en esa decisión.</p>
<p>El proyecto tiene sanción automática el próximo jueves 12 de marzo.</p>
<p><strong>Bancadas definirán</strong></p>
<p>La decisión que asuman esta semana, antes de la sesión, las bancadas mayoritarias de la ANR y el PLRA con relación a la ley que obliga a la conservación de datos, será clave, admitieron fuentes de esos sectores. Aunque las comisiones asesoras de la Cámara Baja dictaminaron a favor de la aprobación, la mayoría de los legisladores desconoce los alcances de la normativa y se limitará a seguir las indicaciones de sus líderes. En ese sentido, la reacción de algunos sectores ciudadanos en contra de la ley puede inclinar la balanza por el rechazo. De darse esa alternativa, el proyecto volverá al Senado donde, para ratificarse en la aprobación inicial, precisarán una mayoría absoluta de 23 votos.</p>
<p><a href="http://www.abc.com.py/edicion-impresa/politica/estudian-hoy-ley-que-podria-habilitar-espionaje-estatal-a-los-ciudadanos-1344071.html" target="_blank"><strong>Publicado en la Edición Impresa del diario ABC Color, 10 de marzo de 2015</strong></a>.</p>
</div>
<div id="themify_builder_content-3127" data-postid="3127" class="themify_builder_content themify_builder_content-3127 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.531 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:23 -->
