<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>tedic &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/tedic/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Los 10 mitos de la ley #Pyrawebs</title>
		<link>http://pyrawebs.tedic.org/los-10-mitos-de-la-ley-pyrawebs/</link>
		<pubDate>Wed, 25 Mar 2015 20:50:47 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Estado policial]]></category>
		<category><![CDATA[internet]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[pedofilia]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3174</guid>
		<description><![CDATA[Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico. Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…” FALSO: De ser así, ¿por [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico.</p>
<hr />
<h3 id="6fae" class="graf--h3 graf--first">Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…”</h3>
<p id="cb41" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: De ser así, ¿por qué se necesita retener los datos de tráfico de TODOS, absolutamente TODOS los usuarios de servicios de Internet? Mientras el objetivo loable de perseguir actividades ilícitas implique poner a todos los usuarios en riesgo, la meta será difícil de cumplir.</p>
<p id="5a1b" class="graf--p"><strong class="markup--strong markup--p-strong">El crimen organizado no es tonto, es inescrupuloso y utiliza alta tecnología para cometer ilícitos.</strong></p>
<p id="5186" class="graf--p">Cabe preguntarse de vuelta, ¿es esta herramienta legal la que pondrá fin al EPP, al terrorismo, al narcotráfico en nuestro país?</p>
<h3 id="7df0" class="graf--h3">Mito 2: “Es para cuidar a nuestros hijos de los pedofílicos, narcotraficantes, estafadores…”</h3>
<p id="973b" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Cuando existe mayor privacidad, mayor será la seguridad de nuestros hijos, cuando utilicen todas las herramientas de Internet de manera segura y privada. Si son conscientes de que exhibir datos privados en Internet es peligrosísimo, tendremos cada vez más ciudadanía en alerta.</p>
<p id="578d" class="graf--p">No es a través de la vigilancia del Estado sino del uso de herramientas tecnológicas para una comunicación más segura lo que garantizará eliminar estos peligros. El Estado jamás podrá brindar más seguridad violando derechos básicos, como el de la privacidad.</p>
<p id="5631" class="graf--p">Hasta la SENATICS lanzó una campaña contra el grooming, de la que nuestros hijos deben ser conscientes de los peligros<a class="markup--anchor markup--p-anchor" href="https://www.youtube.com/watch?v=Tbp-91QBVQY" rel="nofollow">https://www.youtube.com/watch?v=Tbp-91QBVQY</a> .</p>
<h3 id="8724" class="graf--h3">Mito 3: “Va ser utilizado para la persecución única y exclusivamente para estos crímenes”</h3>
<p id="3af2" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: La ley contemplará a todos los hechos punibles, incluso para procesos civiles esta legislación lo contemplará.</p>
<p id="804f" class="graf--p"><strong class="markup--strong markup--p-strong">Cualquier actividad que hagas por Internet (descargas, sitios de música, compras online, películas, redes sociales, etc.), podría ser una excusa para el seguimiento por vía judicial.</strong></p>
<h3 id="cc29" class="graf--h3">Mito 4: “Se necesita para garantizar la seguridad por las instituciones democráticas: el Congreso, el Poder Judicial, Fiscalía, Policía Nacional…”</h3>
<p id="54b7" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Un país democrático no vigila a sus ciudadanos, eso es de estados policiales. </strong>Estas instituciones deben dar lugar a métodos más eficientes para la persecución de delitos cometidos a través de Internet que la retención de datos de tráfico por 12 meses a todos los usuarios.</p>
<h3 id="3d42" class="graf--h3">Mito 5: “Los datos deben ser conservados por más tiempo porque los requerimientos judiciales de información también se hacen a países extranjeros y son trámites burocráticos que toman meses”</h3>
<p id="f45c" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Los MLATs son Memorandum de entendimiento de EEUU con Paraguay, para facilitar de manera recíproca información acerca de los delitos/crímenes ocurridos en Internet.</strong> ¿Porqué necesitan una ley tan invasiva con enormes alcances para perseguir algunos delitos y ponernos a todos en la bolsa? Viola los principios de proporcionalidad, necesidad, debido proceso, intimidad y privacidad.</p>
<p id="4a68" class="graf--p">El personal de la Fiscalía está capacitado para conducir las investigaciones a aquellos que cometen hechos punibles con el MLATs. Necesitan más personal para la persecución en tiempo real, pero no una ley que viole todos los derechos humanos porque incapacidad de esta institución.</p>
<h3 id="abea" class="graf--h3">Mito 6: “Algunas proveedoras no colaboran con la Fiscalía”</h3>
<p id="fb02" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> TODAS las compañías colaboran, y han mostrado voluntad de cooperar sin necesidad de que existiera la ley. Sólo negaban el acceso a la información cuando la fiscalía solicitaba sin hacer referencia al hecho punible, número de expediente y toda la formalidad de la solicitud.</p>
<p id="ef0b" class="graf--p">Ya existen normativas vigentes que atentan a la privacidad de los usuarios como por ejemplo el reglamento de Conatel que obliga a los ISP a almacenar por 6 meses los registros de llamadas de todos los usuarios, y entregarlas bajo orden judicial. Asimismo la ley Nº 4868 de Comercio Electrónico, que pretende regular el comercio a través de medios electrónicos, también obliga a guardar los datos de conexión y tráfico por 6 meses (Art. 10).</p>
<p id="fdc7" class="graf--p"><strong class="markup--strong markup--p-strong">Si se busca la “seguridad de la ciudadanía” como mencionan los proyectistas, con tal de sancionar a los responsables de hechos punibles, ¿es necesaria la retención de datos de TODOS los usuarios de internet del país?</strong></p>
<h3 id="fdb2" class="graf--h3">Mito 7: “No existe ninguna violación al Derecho a la Privacidad de las personas ya que no se guardarían el contenido de las comunicaciones”</h3>
<p id="a426" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Los proyectistas mencionan que son solo los datos de tráfico y no de contenido de las comunicaciones electrónicas, garantizando así los derechos de los usuarios al secreto de sus comunicaciones, respetando los principios Constitucionales de Derecho a la Intimidad y a la Inviolabilidad de las Comunicaciones.</p>
<p id="fc7c" class="graf--p"><strong class="markup--strong markup--p-strong">¿Será verdad este argumento? El acceso a los datos de tráfico (los metadatos) revela tanta o más información que el contenido propio, así que la Intimidad y la Inviolabilidad de las Comunicaciones queda en duda.</strong></p>
<p id="9270" class="graf--p">¿Qué garantía podrán ofrecer las compañías de telefonía de que los datos que retendrán por imposición legal, serán utilizados exclusivamente por el Ministerio Público o Juzgados competentes?</p>
<h3 id="d196" class="graf--h3">Mito 8: “No tengo nada que esconder”</h3>
<p id="24e0" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Todos tenemos información personal que guardar en nuestro fuero íntimo, ¿O acaso estarías dispuesto a entregar tu número de cédula, huellas dactilares, RUC, contraseña de tarjetas de crédito/débito, dirección particular, registros médicos y todo tipo de información personalísima al público, la hora que te encontrás con tus amigos, pareja, qué vestimenta usas, qué camino usas habitualmente, qué auto usas, qué libros lees? <strong class="markup--strong markup--p-strong">¿Si no hago nada malo, porqué me vigilan?</strong></p>
<p id="e1fb" class="graf--p">Si bien existen instituciones que utilizan datos privados a su favor (bancos, seguros médicos, Informconf, etc.), la ley #Pyrawebs creará una Super gigante base de datos mantenidas por compañías proveedoras de Internet crees que una ley de datos personales va a evitar el abuso de un país que viola siempre sus leyes.</p>
<h3 id="c5fd" class="graf--h3">Mito 9: “No va a pasar nada con esta ley”</h3>
<p id="986a" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Han utilizado esta ley para investigar a periodistas, académicos, activistas, y hasta ex parejas en otros países como Alemania, Irlanda, Ucrania etc, tenes dudas de que un país tan corrupto como el nuestro va respetar la naturaleza de la ley?</p>
<h3 id="afd4" class="graf--h3">Mito 10: “Las compañías de telefonía e Internet que no cumplan, serán sancionadas”</h3>
<p id="08f3" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>¿Ha habido sanciones ejemplares a las telefonías en estos años? ¿Qué hay del personal técnico autorizado que tendrá acceso a esta información de aprobarse la ley? ¿Qué garantiza que su trabajo será eficiente? Existen violaciones de principio de Neutralidad en la red en Paraguay, ¿cuándo se le ha sancionado a ellos por estos abusos? ¿Por qué creerle que esta ley van a hacer cumplir?</p>
<blockquote id="b616" class="graf--pullquote pullquote"><p><em>Una vez que se construya este mega almacenamiento de todos nuestros datos, las leyes pueden borrarse con el codo como es costumbre en nuestro país. Pueden modificarse los artículos de la ley eliminando “a solicitud de un juez autorizado” y puede solicitar un fiscal o policía de turno, aumentar los meses de almacenamiento de 12 meses a mas meses porque la fiscalía y los peritos necesitan mas tiempo para la persecución de los delitos.</em></p></blockquote>
<blockquote id="e9ed" class="graf--pullquote pullquote"><p><em>Este mega estructura en poder de las empresas o el Estado es peligroso para todos los ciudadanos. No habrá duda que habrá vigilancia masiva por ambos lados.</em></p></blockquote>
<div id="themify_builder_content-3174" data-postid="3174" class="themify_builder_content themify_builder_content-3174 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Otros 10 mitos de la ley #PyraWebs</title>
		<link>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:50:39 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Arnaldo Giuzzio]]></category>
		<category><![CDATA[datos personales]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[seguridad]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3175</guid>
		<description><![CDATA[Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos. Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo” 1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class=" section--first">
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<h3 class="graf--h3">Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos.</h3>
<hr />
<h3 id="2f49" class="graf--h3"><strong class="markup--strong markup--p-strong">Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo”</strong></h3>
<p id="77c9" class="graf--p">1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale la pena manifestar nuestro rechazo al proyecto ya que de todas formas las proveedoras de Internet retienen nuestros datos. Con esta lógica entonces, deberíamos callarnos cuando los políticos ensucian nuestra ciudad en tiempos de campaña electoral, ya que la ciudad es <em class="markup--em markup--p-em">nomás luego </em>sucia. O deberíamos cruzarnos de brazos ante la tala de árboles en Paraguay, porque el calentamiento global ya es irreversible. En algún momento necesitamos decir basta y frenar el atropello a nuestros derechos por parte del Estado.</p>
<p id="c338" class="graf--p graf--last">2. No sabemos a ciencia cierta qué cantidad de datos personales el sector privado almacena ni qué hace con aquellos datos. Si se confirma la Retención de Datos de tráfico, el Congreso debería adoptar ya <strong class="markup--strong markup--p-strong">una la Ley de Protección de Datos Personales</strong>, y debemos buscar la <strong class="markup--strong markup--p-strong">inconstitucionalidad</strong> del artículo 10 de la ley de Comercio Electrónico y otras normativas que atentan contra nuestros derechos en Internet.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="9f3b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 2: “La retención de datos de tráfico es la única forma de perseguir delitos como el terrorismo, la pedofilia y el narcotráfico en Internet”</strong></p>
<p id="a49a" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Primeramente, el proyecto de ley actual contempla la persecución de cualquier tipo penal, inclusive delitos menos serios como la difamación y los derechos de autor en el entorno digital.</p>
<p id="7d39" class="graf--p">Segundo, cabe destacar que estos delitos se siguen persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico. ¿Cómo hacen ellos entonces?</p>
<p id="f2e2" class="graf--p">Tercero, es estadísticamente imposible que la vigilancia masiva sea una herramienta eficaz para combatir crímenes terroristas o atrapar pedófilos, de acuerdo con un artículo publicado en la <a class="markup--anchor markup--p-anchor" href="http://www.slate.com/articles/health_and_science/new_scientist/2015/01/mass_surveillance_against_terrorism_gathering_intelligence_on_all_is_statistically.html" rel="nofollow">revista estadounidense Slate</a>. “<em class="markup--em markup--p-em">Inclusive si tu máquina-de-atrapar-terroristas tiene un índice positivo-falso de 1 en 1000 — y no hay tecnología de seguridad que siquiera se acerque a esto — cada vez que le preguntes por sospechosos, marcará a 60.000 personas inocentes</em>”, explica Ryan Corrigan, profesor de matemática, informática y tecnología en la Open University del Reino Unido.</p>
<p id="0062" class="graf--p graf--last">Agrega que “<em class="markup--em markup--p-em">los organismos de seguridad deben avanzar con el ritmo de los tiempos, utilizando tecnologías digitales modernas de manera inteligente y vigilar a individuos sobre quienes hay causas razonables para sospechar, a través de la preservación de datos específicos y con la supervisión de las cortes. Esto no es, sin embargo, lo mismo que construir una estructura de vigilancia masiva. La vigilancia masiva hace el trabajo de los servicios de inteligencia más difícil y nos vuelve más inseguros a todos</em>”.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="def4" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 3. “El acceso a los datos retenidos se realizará solo por vía judicial”</strong></p>
<p id="54f0" class="graf--p">No sólo se trata que la vigilancia debe realizarse con autorización judicial competente sino que ésta debe ser previa, imparcial e independiente de las autoridades encargadas de la vigilancia.</p>
<p id="4309" class="graf--p">También la autoridad judicial debe estar capacitada en materias relacionadas, y tiene que ser competente para tomar decisiones judiciales sobre la legalidad de la vigilancia, las tecnologías utilizadas y los Derechos Humanos, además de contar con los recursos adecuados en el ejercicio de las funciones que se le asignen.</p>
<p id="87db" class="graf--p">Es necesario dejar en claro que el Estado debe demostrar a la autoridad judicial competente, antes de la realización de la vigilancia, que tiene que ser proporcionada. Es decir debe:</p>
<ul class="postList">
<li id="a3b6" class="graf--li">Existir un alto grado de probabilidad de que un delito grave o una amenaza específica para algún fin ha sido o será llevado a cabo, y;</li>
<li id="34be" class="graf--li">Existe un alto grado de probabilidad que las evidencias pertinentes y materiales de un delito tan grave o amenaza específica se conseguirían mediante el acceso a los datos del usuario solicitado, y;</li>
<li id="caae" class="graf--li">Que otras técnicas de investigación, que son menos invasivas ya han sido agotadas o serían inútiles, y;</li>
<li id="b946" class="graf--li">La información a la que se accederá será sólo la relevante para perseguir el crimen o la amenaza especifica alegada; y</li>
<li id="f7d5" class="graf--li graf--last">Cualquier información excedente no será retenida, siendo en su lugar destruida o devuelta con prontitud.</li>
</ul>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="8997" class="graf--p"><strong class="markup--strong markup--p-strong">Mito 4. “Es la mejor forma de cuidar a nuestros hijos”</strong></p>
<p id="5e68" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Los que apoyan el proyecto dicen que este esfuerzo encomiable para detener los crímenes sexuales ayudará a perseguir este delito.</p>
<p id="387f" class="graf--p graf--last">Numerosas veces se ha demostrado que es un <a class="markup--anchor markup--p-anchor" href="https://es.wikipedia.org/wiki/Caballo_de_Troya" rel="nofollow">Caballo de Troya</a> para un asalto masivo sobre la privacidad. Además, este delito se sigue persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico o aquellos países donde el Poder Judicial las ha declarado inconstitucionales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="cc21" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 5. “Necesitamos seguridad”</strong></p>
<p id="7ad8" class="graf--p"><strong class="markup--strong markup--p-strong">Correcto.</strong> Impera brindar mayor seguridad, en particular protección para nuestros niños, pero con vigilancia específica y particularizada con el respaldo de una autorización judicial previa, sobre la base de una sospecha individual — no con un proyecto de Ley como éste que convierte una nación de ciudadanos en una nación de sospechosos.</p>
<p id="1b1e" class="graf--p">Además, el gobierno, antes de buscar extender nuevos poderes de vigilancia, debería mejorar sus actuales prácticas de transparencia, y dejar claro el uso y alcance de las practicas de vigilancia actuales.</p>
<p id="5d38" class="graf--p graf--last">Deben publicar, como mínimo, información sobre el número de solicitudes de acceso a datos que han sido aprobadas y rechazadas, un desglose de las solicitudes por proveedor de servicios, por autoridad investigadora, el tipo y propósito, y el número específico de personas afectadas por cada una y según el tipo de investigación y sus propósitos.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="6d0b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 6. “Tiene que haber un término medio porque la ley es necesaria”</strong></p>
<p id="9de2" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> El proyecto de ley, en los términos actuales, es desproporcional a la necesidad que expone como fundamento para su aprobación — la de perseguir delitos como el terrorismo, el narcotráfico y la pedofilia. Por tanto, no existe posibilidad de apoyarlo o promoverlo así como lo plantean los proyectistas.</p>
<p id="4ccd" class="graf--p">En pocas palabras, el gobierno quiere pasar de la vigilancia basada en la sospecha individualizada <strong class="markup--strong markup--p-strong">hacia la vigilancia masiva</strong> con la recolección no selectiva de las comunicaciones de las personas ordinarias, no sospechosas de delito alguno.</p>
<p id="9dd3" class="graf--p graf--last">El único consenso al que se puede llegar debe ser producto de un amplio debate con diversos actores, siempre sobre la base del respeto a los principios fundamentales de privacidad y libertad de expresión. Los derechos humanos no se negocian. Se defienden.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="5241" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 7. “Ya debatimos sobre el tema”</strong></p>
<p id="8e57" class="graf--p"><strong class="markup--strong markup--p-strong">Falso</strong>. Según el senador Arnaldo Giuzzio, proyectista de la ley, <em class="markup--em markup--p-em">“ya hemos tenido un amplio debate sobre este tema”</em>, lo cual no es verdadero. Hasta la fecha, sólo se ha llevado a cabo una audiencia pública en noviembre del 2014 con representantes de diversos sectores. Las discusiones que se hayan generando en las comisiones no cuentan como parte de un debate plural y participativo, ya que se han realizado a puertas cerradas de la ciudadanía.</p>
<p id="343e" class="graf--p graf--last">Un verdadero debate debe darse en un plazo prudencial de tiempo, convocando a los actores relevantes en este tema — legisladores, proveedoras de Internet, organizaciones de sociedad civil, periodistas, abogados — a una mesa multi-sectorial, de la cual emane una postura sobre la retención de datos de trafico y por sobre todo, una propuesta de Ley de Protección a los Datos Personales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="e489" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 8. Los fiscales sostienen que “Necesitamos una ley de datos personales”</strong></p>
<p id="8315" class="graf--p"><strong class="markup--strong markup--p-strong">Parcialmente cierto.</strong> Mientras la protección de datos regula la recolección y uso de los datos personales para que éstos sean utilizados solamente con propósitos técnicos y de facturación, la Retención de Datos contradice aquella obligación de eliminar los datos, al obligar a los proveedores a retener estos por un año, para fines no necesarios para el propósito del negocio. Ello puede tener el efecto de invalidar en la práctica alguna norma de Protección de Datos.</p>
<p id="a082" class="graf--p">Por ejemplo, en países que cuentan con robustas leyes de Datos Personales, la normas de retención obligatoria de datos han hecho que aquella norma inaplicable. Por lo tanto, así como es necesario contar con una ley de Datos Personales, también debemos evitar marcos jurídicos que den pie a la vigilancia masiva como #pyrawebs.</p>
<p id="d397" class="graf--p">Más aún, cuando el Gobierno decide realizar cualquier tipo de vigilancia particularizada, se necesita una combinación de leyes. Por un lado, se necesita normas de protección de datos que aplique al sector privado y al sector público, sino también el Estado debe asegurarse de aplicar los principios de Derechos Humanos que limiten la vigilancia para que ésta sea realizada de acuerdo al Estado de derecho.</p>
<p id="e96f" class="graf--p">En ese sentido, la vigilancia sea necesaria, proporcional, e idónea. Es decir debe cumplir con los estándares internacionales de derechos humanos.</p>
<p id="28cc" class="graf--p graf--last">Para mayor información, revisemos el análisis legal pertinente en<a class="markup--anchor markup--p-anchor" href="https://es.necessaryandproportionate.org/text" rel="nofollow">necessaryandproportionate.org/</a></p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="f6a9" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 9. ¿Y quiénes son ustedes que se oponen a la ley?</strong></p>
<p id="6d86" class="graf--p graf--last">Tedic es una ONG que desde hace 2 años es pionera en la defensa de los Derechos Digitales vía internet en Paraguay. Trabajamos en temas como cultura libre, Creative Commons, generar aplicaciones para el acceso a la información pública y la defensa de la seguridad y privacidad en internet. Si un proyecto de ley como #pyrawebs lesiona las libertades de los usuarios, no tenemos motivos para defenderlo ☺</p>
</div>
</div>
</section>
<section class=" section--last">
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="75b6" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 10. Este hermoso gatito</strong></p>
<figure id="bde4" class="graf--figure graf--iframe graf--last">
<div class="iframeContainer"></div>
</figure>
</div>
</div>
</section>
<p>&nbsp;</p>
<div id="themify_builder_content-3175" data-postid="3175" class="themify_builder_content themify_builder_content-3175 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs en radio Cardinal</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:07:12 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[radio]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3172</guid>
		<description><![CDATA[Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos. Escuche aquí la entrevista.]]></description>
				<content:encoded><![CDATA[<p>Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos.</p>
<p>Escuche aquí <a href="http://www.cardinal.com.py/noticias/maricarmen_sequera_david_bogado_javier_pallero_explicaron_que_es_el_proyecto_de_ley_pyrawebs_retencin_de_datos_31279.html" target="_blank">la entrevista</a>.</p>
<div id="themify_builder_content-3172" data-postid="3172" class="themify_builder_content themify_builder_content-3172 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Una campaña en redes sociales frena una ley de vigilancia de Internet</title>
		<link>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/</link>
		<comments>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:30:38 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Archivo del Terror]]></category>
		<category><![CDATA[Corte Interamericana de Derechos Humanos]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3154</guid>
		<description><![CDATA[Publicado por iProfesional, 13 de marzo de 2015. Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay La Cámara de Diputados de Paraguay rechazó el proyecto de ley que pretendía obligar a los proveedores de Internet a almacenar datos de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Publicado por <a href="http://www.iprofesional.com/notas/207978-Una-campaa-en-redes-sociales-frena-una-ley-de-vigilancia-de-Internet" target="_blank">iProfesional, 13 de marzo de 2015</a>.</h4>
<p>Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay</p>
<hr />
<div class="contenido">
<p>La <strong>Cámara de Diputados de Paraguay </strong>rechazó el proyecto de ley que pretendía obligar a los proveedores de <strong>Internet </strong>a almacenar datos de tráfico de los ciudadanos en la red durante 12 meses para facilitar el rastreo policial.</p>
<p>El texto, que fue rechazado por unanimidad, volverá a la <strong>Cámara de Senadores </strong>que lo había aprobado en septiembre del año pasado.</p>
<p>El proyecto de ley contaba con el rechazo de varias organizaciones dedicadas a la defensa de los derechos humanos como <strong>Amnistía Internacional </strong>y <strong>Tedic</strong>.</p>
<p>El proyecto de <strong>Retención de Datos de Tráfico de Paraguay </strong>contaba con el apoyo de varios diputados oficialistas del <strong>Partido Colorado</strong>, así como de la Fiscalía, el Ministerio de Interior y la Policía Nacional.</p>
<p>Según Tedic, grupo dedicado a la defensa de los derechos humanos en Internet, la ley podría ser usada para controlar masivamente el comportamiento ciudadano.</p>
<p>Tedic había lanzado a través de las redes sociales una llamada a luchar contra el proyecto, al que llaman &#8220;pyrawebs&#8221;, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní &#8220;pyrague&#8221;, con el que se conocía en Paraguay a los soplones e infiltrados de la Policía de la dictadura, informó la agencia Efe.</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido &#8220;<strong>Archivo del Terror</strong>&#8220;, documentos que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p>Desde el opositor Frente Guasú, el diputado <strong>Ramón Duarte </strong>pidió en el pleno el rechazo de la ley en recuerdo &#8220;de las más de 100.000 víctimas directas de la dictadura&#8221; de <strong>Alfredo Stroessner</strong> (1954-1989).</p>
<p>&#8220;En nombre de los luchadores sociales expulsados del país tenemos que pedir un no rotundo al proyecto y ojalá los senadores también sean responsables y mande al archivo la ley&#8221;, añadió Duarte.</p>
<p>El sistema de almacenamiento de los &#8220;metadatos&#8221; ya ha sido rechazado por el tribunal de Justicia de la Unión Europea, y no existe en países del Cono Sur.</p>
<p>Argentina declaró inconstitucional una legislación similar en el año 2005, y la <strong>Corte Interamericana de Derechos Humanos</strong> (Corte IDH) sentenció en contra de Brasil en 2009 por aplicar seguimiento y escuchas a ciudadanos amparándose en un texto similar al que está en discusión en el Congreso paraguayo, recordó.</p>
<p>En Paraguay solo el 25 por ciento de la población tiene acceso a Internet, por lo que también hay un desconocimiento general sobre los derechos que los ciudadanos tienen en la red, según Tedic.</p>
</div>
<div class="alertas"></div>
<div id="themify_builder_content-3154" data-postid="3154" class="themify_builder_content themify_builder_content-3154 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>¿Qué pasará con proyecto de “pyrawebs”?</title>
		<link>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:24:40 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Senadores]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3149</guid>
		<description><![CDATA[Publicado por Paraguay.com el 13 de marzo de 2015. El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados. Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="copete">Publicado por <a href="http://www.paraguay.com/nacionales/que-pasara-con-proyecto-de-pyrawebs-125220">Paraguay.com el 13 de marzo de 2015</a>.</h4>
<hr />
<p class="copete">El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados.</p>
<p>Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM que el proyecto de ley conocida como “pyrawebs” vuelve al Senado luego de ser rechazada en Diputados.</p>
<div class="news_story">
<p>En la cámara alta se verá si se acepta la decisión de Diputados o se aprueba el proyecto de ley como se encuentra actualmente. Aclaró que el documento no puede ser sometido a modificaciones.</p>
<p>Si los senadores aceptan el rechazo de los diputados el proyecto será archivado, de lo contrario volverá a ser estudiado por la cámara baja.</p>
<p>Sequera indicó que el Senado tiene 120 días para volver a estudiar el proyecto de ley, destacó que se tratará de acelerar el proceso.</p>
<p>En setiembre de 2014 el proyecto tuvo media sanción en el Senado, mientras que el pasado jueves fue rechazado en Diputados.</p>
<p><strong>El proyecto</strong></p>
<p>El proyecto de ley “Que establece la obligación de conservar los datos de tráfico”,  más conocida como “pyrawebs”, obligaría a las empresas que brindan el servicio de internet a almacenar los datos de navegación de todos sus usuarios.</p>
<p>Los que se encuentran a favor del proyecto de normativa afirman que es necesaria para investigar delitos, mientras los que se oponen argumentar que viola el derecho a la privacidad.</p>
</div>
<div id="themify_builder_content-3149" data-postid="3149" class="themify_builder_content themify_builder_content-3149 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Entregan firmas al Congreso paraguayo contra el almacenamiento datos de en internet</title>
		<link>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/</link>
		<comments>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:12:32 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[firmas]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[retención de datos de tráfico]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3142</guid>
		<description><![CDATA[Agencia EFE, Asunción.- La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves. La ley que establece la obligación [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="body">
<p class="summary">Agencia EFE, Asunción.-</p>
<p class="summary">La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves.</p>
<p>La ley que establece la obligación a las empresas proveedoras de internet de conservar los datos de tráfico de los ciudadanos ya fue aprobada por el Senado hace casi seis meses.</p>
<p>Pero la Cámara de Diputados, que debe sancionar o rechazar el texto, postergó la semana pasada la votación definitiva del proyecto después de que parlamentarios oficialistas y opositores reconocieran que desconocían el contenido y las consecuencias del texto.</p>
<p>Tedic, expresó en un comunicado que el proyecto de ley “violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia”, consagrados en la Constitución.</p>
<p>Por ello, piden a los proyectistas de la ley que retiren el texto.</p>
<p>“Condenamos cualquier intento de vigilar todas las comunicaciones sin justificación debida, violando la Constitución Nacional”, destacó Tedic.</p>
<p>La ONG recordó que países como Alemania, Argentina, Austria, Bulgaria, Chipre, República Checa, Rumanía y Eslovenia han declarado inconstitucionales leyes para la retención de datos y también la Gran Sala del Tribunal de Justicia Europea que declaró inválida la Directiva de Retención de Datos de Tráfico.</p>
<p>“La aplicación de esta Ley debería autorizarse únicamente cuando exista riesgo particular de un daño superior al interés general de la sociedad (&#8230;) Este proyecto no contempla esta situación, por lo que es desproporcionado”, insistieron.</p>
<p>Además exigieron que “en vez de realizar una inversión tan importante en infraestructura para la vigilancia, se deberían redoblar esfuerzos para consolidar las telecomunicaciones en Paraguay, mejorando la calidad del acceso así como también los costos para los usuarios más necesitados”.</p>
<p>La ley que prevé almacenar los “metadatos” durante 12 meses cuenta con fuertes apoyos, entre ellos el del Ministerio del Interior, la Fiscalía y una mayoría de congresistas colorados que la creen necesaria para mejorar la seguridad en el país y prevenir los delitos informáticos.</p>
<p>La petición enviada este martes a los diputados la firman periodistas, artistas, intelectuales, activistas de sociedad civil, abogados, y ciudadanos en general que están preocupados por este proyecto de ley, añadió la organización.</p>
<p>La directora de Proyectos de Tedic, Jazmin Acuña, dijo a Efe que “el activismo ciudadano online puede ser un elemento fundamental para cambiar la posición de diputados hacia el rechazo” del texto.</p>
<p>“De hecho ya ha jugado un papel crucial para alertar al resto de la población sobre los peligros de este proyecto de ley”, añadió Acuña.</p>
<p>Tedic ha lanzado a través de las redes sociales una llamada a luchar contra el proyecto al que llaman “pyrawebs”, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní “pyrague”, con el que se conocía a los soplones e infiltrados de la Policía de la dictadura de Alfredo Stroessner (1954-1989).</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido “Archivo del Terror”, toneladas de papel que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p><strong>Fuente:</strong> <a href="http://www.hoy.com.py/nacionales/senado-recibio-mas-de-2.000-firmas-contra-pyrawebs" target="_blank">Hoy, 10 de marzo de 2015</a>.</p>
</div>
<div class="category_related"></div>
<div id="themify_builder_content-3142" data-postid="3142" class="themify_builder_content themify_builder_content-3142 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El espionaje en internet no es ciencia ficción</title>
		<link>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/</link>
		<comments>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:01:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[EFF]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Katitza Rodríguez]]></category>
		<category><![CDATA[Ministerio Público]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3138</guid>
		<description><![CDATA[Por Luis Ríos, publicado por Ejempla el 2 de marzo de 2015. Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos. Para poder poner en marcha un [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Por <a href="https://twitter.com/nosoyunvampire" target="_blank">Luis Ríos</a>, <a href="http://ejempla.com/futuro/el-espionaje-en-internet-no-es-ciencia-ficcion" target="_blank">publicado por Ejempla el 2 de marzo de 2015</a>.</strong></p>
<hr />
<p><em>Con micrófonos, &#8216;Imsi Catcher&#8217; que es una torre pequeña falsa de recolección de señal de teléfonos. En las declaraciones pueden figurar como ‘gastos reservados’. Estos son algunos de los métodos que puede utilizar el gobierno para espiarnos.</em></p>
<p>Para poder poner en marcha un plan de espionaje, se debe obligar a las compañías telefónicas a que retengan los datos, de ahí surge la necesidad de una ley. Es así que en setiembre del año pasado la Cámara de Senadores aprobó un proyecto de Ley que obliga a las operadoras de Internet a almacenar datos de tráfico (IP) por el periodo de un año, a fin de ubicar el origen de las publicaciones.</p>
<p>Según los proyectistas Arnaldo Giuzzio, Fernando Silva, Robert Acevedo y Arnoldo Wiens, se logrará identificar el origen de los mensajes en casos investigados por estafa mediante Internet e incluso ayudará al combate contra Ejército del Pueblo Paraguayo (EPP). Además de que sea una herramienta para reducir la pornografía infantil.</p>
<p>El Ministerio Público <a href="http://ejempla.com/actualidad/aseguran-que-no-habra-espionaje">aclaró</a> que a lo que se tienen acceso son a los metadatos (Conexión, desconexión, horas, duraciones, con quien se habla y cada cuanto, fotografias, vídeos y todo el material que queda almacenado en la nube) que se comparten en las redes (incluyendo inbox o DM) y en los mails que se envían.</p>
<p>Remarcaron que no se tendrá acceso a lo escrito dentro del correo o mensaje privado o público, solamente a los archivos enviados dentro. Así como a la hora de conexión y desconexión de un usuario. Esa sería la forma de controlar si se está incurriendo en algún delito informático.</p>
<h2 class="subh-default">la otra cara</h2>
<p>Desde <a href="http://www.tedic.org/">Tecnología, Educación, Desarrollo, Investigación, Comunicación (Tedic)</a>, organización que lleva a cabo la campaña contra la ley #Pyrawebs, manifestaron la ilegalidad del hecho a raíz de representar una invasión y violación del derecho a la privacidad y a las libertades de expresión y pensamiento.</p>
<p>Hoy el proyecto cuenta con media sanción en el Senado y se espera la vuelta de las sesiones para que sea tratado en diputados para su sanción con fuerza de ley.</p>
<p>Continuando con los puntos de vista al respecto del monitoreo o si se quiere, espionaje estatal, está en Paraguay Javier Pallero, analista de políticas para Latinoamérica de la organización de Derechos Humanos en Internet <a href="https://www.accessnow.org/">Access</a>.</p>
<p>El mismo detalló que los gobiernos tienen distintas formas de espiar a sus ciudadanos, sin que ellos se enteren y es anormal que blanqueen su autoría. Dependiendo del tipo de gobierno, porque existen gobiernos como el ruso o el chino en donde se reprimen y encarcelan activistas. Estos tipos de gobiernos se conocen como opresores.</p>
<p>Antes de las revoluciones ocurridas en Egipto y Libia, el servicio de Internet se cortaba constantemente. En Arabia Saudita se utilizaban servicios de espionaje para identificar a opositores y personas que se expresan en contra de las autoridades a través de un blog o redes sociales. “El espionaje existe y es posible porque gracias a ello encuentran a los autores que muchas veces son anónimos en la red”, explicó Pallero.</p>
<p>En los estados democráticos hace falta una ley para invadir la privacidad de un ciudadano. Pero según el experto, luego de los atentados del 11 de setiembre de 2001, los países le dieron mas poderes y accesibilidad a sus agencias de inteligencia sin que sus habitantes se enteren. “Si bien existían unos organismos por donde tenían que rendir cuentas, estas agencias mentían en sus declaraciones y seguían abusando de su poder”, subrayó.</p>
<p>Consultado sobre la cantidad de casos de espionaje gubernamental, señaló que “son números astronómicos, difíciles de cuantificar porque se recolectan datos en tiempo real de personas alrededor del mundo permanentemente”.</p>
<p>El analista hizo hincapié en que las personas que están bajo vigilancia, se comportan de otra manera. “Uno siente naturalmente cuando lo vigilan. Cuando estás en un lugar con cámaras, no vas a hacer cosas que no querrías que vieran”, ejemplificó.</p>
<p>Relativizó que si en Estados Unidos donde hay un hermetismo de controlar todo, se sigue ‘encontrando una ventana’ para invadir la privacidad, en un país como Paraguay las observaciones serían peores.</p>
<p>Puntualizó que existen distintos tipos de tecnologías que permiten, sin necesidad que exista una ley, espiar las comunicaciones de las personas. “El gobierno de Uruguay entre el 2010 y 2012 compró equipamiento y software de vigilancia a empresas europeas sin que lo apruebe el Congreso, para los servicios secretos de ese país”, afirmó Pallero. ¿Quién dice que esto ya no ocurrió en Paraguay? Considerando que no hay transparencias en las compras que hacen las instituciones gubernamentales.</p>
<p>Ante esta situación lo que Pallero recomienda hacer, primero como sociedad es informar. “Vos cuando usás Internet, dejás rastros. Entonces no hay que poner todo en Internet, no usar el teléfono para todo, pero más que todo se debe pedir al proveedor no formar parte de ningún archivo que después pueda ser usado contra el usuario y que las mismas empresas se pongan del lado de sus usuarios”, recomendó.</p>
<p>Para cuidar las comunicaciones individualmente, Pallero al igual que <a href="http://ejempla.com/actualidad/el-espionaje-en-internet-es-una-realidad">Katitza Rodríguez</a>, recomienda cifrar y encriptar, utilizar servicios diferentes, tener cuidado de con quien se habla y en que forma.</p>
<p>Así también, el representante de Access, refirió que es ideal que los gobiernos impulsen políticas de privacidad en Internet. Expuso que existen países en donde son las mismas empresas proveedoras las que violan la privacidad de sus usuarios, entonces es el Estado el que tiene que ponerles un limite. Más necesarias lo son en países que son fabricantes de teléfonos y que ya vengan cifrados desde su origen.</p>
<p>Si se llegara a aprobar el proyecto de retención en Paraguay, Pallero instó a los paraguayos a manifestarse públicamente al Congreso y pedir su inconstitucionalidad. Posterior a ello, una demanda ante la Corte Suprema de Justicia pidiendo que intervenga porque perjudica el principio de inocencia, el de proporcionalidad, ya que sin hacer nada, se toma a uno como sospechosos y culpable. Si esto no corre, las técnicas para proteger las comunicaciones mencionadas anteriormente son el plan B.</p>
<p>“En <a href="http://www.libertaddigital.com/internet/alemania-prohibe-la-retencion-de-datos-telefonicos-y-de-internet-1276386134/">Alemania esta ley de retención de datos</a> se mantuvo por seis años hasta que la revocaron. Entonces una ONG investigó acerca de la eficiencia de ella en los trabajos policiales y los resultados mostraron que no sirvió para nada”, recalcó Javier Pallero.</p>
<p>También, siempre en el supuesto de aprobación, Paraguay violaría su propia Constitución Nacional ya que en su artículo 33 se garantiza el derecho a la intimidad tanto personal como familiar. Igualmente pasaría por encima al pacto de San José de Costa Rica y la Convención Interamericana de Derechos Humanos.</p>
<p>“El gobierno dice que no se ve el contenido, solo los metadatos, pero esos metadatos están relacionados con la geolocalización y está cruzado con el teléfono, y la conexión de la casa. Entonces se puede sacar mucha información. Espiar los metadatos es igual de grave que espiar el contenido del mensaje”, cerró.</p>
<div class="item-divider"></div>
<div id="themify_builder_content-3138" data-postid="3138" class="themify_builder_content themify_builder_content-3138 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espionaje-en-internet-no-es-ciencia-ficcion/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El Espectador Colombia: Todos somos culpables</title>
		<link>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/</link>
		<comments>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:43:07 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[intimidad]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3134</guid>
		<description><![CDATA[Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente. Por: Santiago La Rotta En Twitter: @troskiller La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="lead">Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente.</h4>
<hr />
<p>Por: Santiago La Rotta</p>
<div class="una_noticia ">
<div class="ee-twitter-author-node">En Twitter: <a href="https://twitter.com/troskiller" target="_blank">@troskiller</a></div>
<div class="clear"></div>
</div>
<p>La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de las iniciativas más drásticas de la región en este tema.</p>
<p>Retención masiva de datos es un término que, al menos mediáticamente, cobró relevancia luego de las revelaciones de Edward Snowden, extécnico de la CIA, quien filtró documentos en los que mostraba cómo la Agencia Nacional de Seguridad de Estados Unidos (NSA, por sus siglas en inglés) estableció una red de vigilancia sobre las comunicaciones de millones de ciudadanos, una operación que realizó en conjunto con agencias de inteligencia de países como el Reino Unido.</p>
<div class="eplanning_video_inline">En la práctica, lo que la retención masiva significa es la imposición sobre los operadores de telecomunicaciones de guardar los datos de actividad y tráfico de todos sus clientes. ¿Qué datos? Casi cualquier pieza de legislación sobre el tema deja claro que no se solicitan los contenidos de las comunicaciones (la grabación de una llamada, por ejemplo), sino los metadatos de éstas: hora y fecha, lugar y direcciones IP (una especie de huella digital electrónica por la cual se sabe quién está a cada lado de la línea).</div>
<p>El tema acá es que los metadatos a menudo revelan tanta (o hasta más) información sobre una comunicación. Esta información es particularmente sensible en el caso de activistas de derechos humanos o disidentes políticos, sólo por mencionar dos casos. Aunque, en últimas, potencialmente debilita la vida privada de cualquier persona.</p>
<p>En el caso de la ley paraguaya (Ley de Retención de Datos de Tráfico, popularmente conocida como Pyrawebs), el registro de la información se realizaría por 12 meses y afectaría a todos los usuarios de servicios de telecomunicaciones, sin importar si sobre estos pesa o no una investigación judicial. Este es uno de los puntos que más molestan de la iniciativa, por decir lo menos. “…este proyecto de ley violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia, consagrados en nuestra Constitución Nacional”, asegura Tedic, una ONG paraguaya que monitorea temas de derechos humanos en internet.</p>
<p>La diputada Olga Ferreira, una de las más duras opositoras al proyecto (que con amplia mayoría fue aprobado a finales del año pasado en el Senado), tiene una opinión similar a Tedic al afirmar que la iniciativa “Daña derechos constitucionales como la privacidad, asociación y libertad de expresión, porque lo que propone esta ley es la vigilancia masiva de las personas, como si todas fueran culpables. Además, pone en peligro la privacidad de actores políticos y sociales y, en general, de todos los ciudadanos. Con este monitoreo, datos que se van a conservar por un año, se puede saber quién habla con quién, a qué hora, con quién se reúnen las personas; quiénes son las fuentes de un periodista, por ejemplo”.</p>
<p><strong>¿Por qué fue presentada la ley?</strong></p>
<p>La ley la presentó el Ministerio Público con el objetivo de hacer más rápidamente ciertos controles porque en nuestro país existen muchos delitos. Está el caso del EPP (Ejército del Pueblo Paraguayo), que tiene un secuestrado en este momento. También hay temas como mafias y pedofilia. Pero quienes trabajamos en derechos humanos no estamos de acuerdo con que por las conductas de unos se investigue a todos. Aquí se hizo una consulta en la que más del 90% de los paraguayos rechazó esta ley; no es un resultado vinculante, pero sí genera presión.</p>
<p><strong>¿Para qué se podría utilizar esa retención de datos?</strong></p>
<p>Para revisar cualquier tipo de delitos. Es una violación a la intimidad. Pero además hay que tener en cuenta en manos de cuántas personas va a quedar nuestra información. Con estos datos se puede dar lugar a chantajes, a que se descubran secretos industriales. Esto pasa por manos de funcionarios en las empresas de telefonía, en el Ministerio del Interior y en la Fiscalía.</p>
<p><strong>¿Para dónde cree que se incline esa votación?</strong></p>
<p>Está subiendo la presión popular. Creo que se va a rechazar la ley.</p>
<p>&nbsp;</p>
<p><strong><a href="http://www.elespectador.com/tecnologia/todos-somos-culpables-articulo-548643" target="_blank">Publicado en la Edición Impresa de El Espectador, 10 de marzo de 2015</a>.</strong></p>
<div id="themify_builder_content-3134" data-postid="3134" class="themify_builder_content themify_builder_content-3134 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El día que la ciudadanía le ganó a los #pyrawebs</title>
		<link>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:10:35 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[1984]]></category>
		<category><![CDATA[Amnistía Internacional]]></category>
		<category><![CDATA[Citizenfour]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3121</guid>
		<description><![CDATA[Por Andrés Colmán Gutiérrez – Twitter: @andrescolman No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate. Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se [&#8230;]]]></description>
				<content:encoded><![CDATA[<div id="OBJETO1091" class="CLASS20">
<div id="Object_1091_481" class=" clearfix">
<div class="news-detail-obj">
<div class="newDetailTextChange">
<h3 class="summary newDetailTextChange">Por Andrés Colmán Gutiérrez – Twitter: <a href="http://twitter.com/andrescolman" target="_blank">@andrescolman</a></h3>
<hr />
<p class="summary newDetailTextChange">No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate.</p>
<p>Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se haya librado más en redes sociales de internet, medios de comunicación y diálogos tipo lobby con autoridades y referentes políticos.</p>
<p>Lo que sucedió marca una interesante evolución en la dinámica política del Paraguay.</p>
<p>El proyecto de ley &#8220;que obliga a conservar leyes de tráfico&#8221; ya había obtenido una media sanción en el Senado, mientras gran parte de la ciudadanía —y quizás de la misma prensa—, no dimensionaba aún sus peligros totalitarios, ni sus conceptos claramente anticonstitucionales.</p>
<p>La iniciativa parlamentaria —quizás bien intencionada, buscando frenar la impunidad de algunos delitos cometidos a través de tecnologías digitales de comunicación— pretende obligar a empresas proveedoras a retener metadatos de sus clientes durante un año, y que las autoridades puedan acceder en forma irrestricta a dichos datos privados.</p>
<p>Significa —para dar un ejemplo— que puedan violar legalmente las correspondencias electrónicas privadas que los periodistas mantenemos con nuestras fuentes, a pesar de que la Constitución ampara la confidencialidad de las mismas.</p>
<p>Lo interesante fue la creativa y original campaña de información que desarrollaron los miembros de organizaciones de la sociedad civil, como la Ong Tedic y Amnistía Internacional, rebautizando a la ley con un caricaturesco y certero nombre (pyrawebs), que reflotaba la oscura figura de los siniestros soplones stronistas, uniéndola con los modernos sistemas de intervención estatal en la privacidad de los ciudadanos.</p>
<p>A los pocos días, ya nadie nombraba a la ley por su nombre original.</p>
<p>Quienes hayan podido ver la estupenda película documental Citizenfour, de Laura Poitras, ganadora del Oscar 2015, sobre el caso Edward Snowden, pueden dimensionar lo monstruoso de un Gobierno (en este caso, el de Estados Unidos) espiando a sus ciudadanos, como si todos fuéramos criminales sospechosos en potencia.</p>
<p>Es la pesadilla del Gran Hermano (de la novela 1984, de George Orwell) controlándolo todo.</p>
<p>Hay que destacar la actitud de varios diputados, que entendieron los riesgos y cambiaron su postura inicial, rechazando el proyecto.</p>
<p>Ahora cabe esperar que en el Senado tengan el mismo espíritu de apertura crítica.</p>
<p>Hay que buscar un modelo de leyes que nos protejan sin violar nuestra libertad e intimidad.</p>
<p><a href="http://www.ultimahora.com/el-dia-que-la-ciudadania-le-gano-los-pyrawebs-n880213.html" target="_blank"><strong>Publicado en la Edición Impresa del diario Última Hora, 14 de marzo de 2015</strong></a></p>
</div>
</div>
</div>
</div>
<div id="OBJETO2379" class="CLASS46"></div>
<div id="themify_builder_content-3121" data-postid="3121" class="themify_builder_content themify_builder_content-3121 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Vigilarán el uso de celulares e internet de los paraguayos</title>
		<link>http://pyrawebs.tedic.org/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos/</link>
		<pubDate>Tue, 24 Mar 2015 21:47:22 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[usuarios]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3118</guid>
		<description><![CDATA[La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs. El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class="post-lead">
<h5 class="subtitle">La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs.</h5>
<hr />
<h5 class="subtitle"></h5>
</section>
<section class="postbody-wrapper postlayout-default">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost"></article>
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que guardar por obligación legal por 12 meses absolutamente todo. Sabrán la hora de conexión en las redes sociales, qué sitios visitó, adónde fuiste, con quién hablaste; es una violación a la intimidad de las personas”, señaló David Bogado de la ONG TEDIC.</p>
<p>Dijo que el proyecto cuenta con media sanción de la Cámara de Senadores y si no es tratada por los Diputados tendrá sanción fixta, es decir automática. “Esta normativa no garantiza que los empleados de la compañías no filtren las informaciones y no chantajeen a los usuarios”, subrayó.</p>
<p><strong>“PYRAWEBS”</strong></p>
<p>Bogado señaló que bautizaron al proyecto de ley como: “Pyrawebs”, ya que se asemeja al sistema de delatores de la dictadura stronista. “Ahora las informaciones van a ser ‘pyraguetado’ digital”, expresó. Agregó que la aprobación del proyecto obligaría a las compañías telefónicas a invertir mucho dinero para implementar el sistema.</p>
<p>A su turno, la diputada Olga Ferreira manifestó que este proyecto refleja un retroceso y un atentado contra la intimidad de las personas. En declaraciones a la 780 AM manifestó su oposición al tema, alegando que podría prestarse a chantajes y extorsiones.</p>
<p><strong><a href="http://www.extra.com.py/actualidad/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos.html" target="_blank">Publicado en la Edición Impresa del diario Extra, 5 de marzo de 2015</a>.</strong></p>
</article>
</div>
</article>
</div>
</section>
<div id="themify_builder_content-3118" data-postid="3118" class="themify_builder_content themify_builder_content-3118 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.701 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:41:20 -->
