<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Maricarmen Sequera &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/maricarmen-sequera/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>#Pyrawebs en radio Cardinal</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:07:12 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[radio]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3172</guid>
		<description><![CDATA[Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos. Escuche aquí la entrevista.]]></description>
				<content:encoded><![CDATA[<p>Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos.</p>
<p>Escuche aquí <a href="http://www.cardinal.com.py/noticias/maricarmen_sequera_david_bogado_javier_pallero_explicaron_que_es_el_proyecto_de_ley_pyrawebs_retencin_de_datos_31279.html" target="_blank">la entrevista</a>.</p>
<div id="themify_builder_content-3172" data-postid="3172" class="themify_builder_content themify_builder_content-3172 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs en TV: Informe y entrevista de AAM</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:38:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[AAM]]></category>
		<category><![CDATA[Algo Anda Mal]]></category>
		<category><![CDATA[informe]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Santiago González]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3161</guid>
		<description><![CDATA[El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay. El proyecto pretende que empresas de telefonía e internet [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay.</p>
<p>El proyecto pretende que empresas de telefonía e internet almacenen por 12 meses muchos datos de sus usuarios y entregarlos a un juez cuando cometan hechos punibles. Este tipo de legislaciones violan derechos a la privacidad, libertad de expresión e inviolabilidad de las comunicaciones.</p>
<p>Entrevista emitida el domingo 8 de marzo de 2015 por El Trece.</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='390' src='http://www.youtube.com/embed/YUo-BKH5LIU?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3161" data-postid="3161" class="themify_builder_content themify_builder_content-3161 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>¿Qué pasará con proyecto de “pyrawebs”?</title>
		<link>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:24:40 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Senadores]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3149</guid>
		<description><![CDATA[Publicado por Paraguay.com el 13 de marzo de 2015. El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados. Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="copete">Publicado por <a href="http://www.paraguay.com/nacionales/que-pasara-con-proyecto-de-pyrawebs-125220">Paraguay.com el 13 de marzo de 2015</a>.</h4>
<hr />
<p class="copete">El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados.</p>
<p>Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM que el proyecto de ley conocida como “pyrawebs” vuelve al Senado luego de ser rechazada en Diputados.</p>
<div class="news_story">
<p>En la cámara alta se verá si se acepta la decisión de Diputados o se aprueba el proyecto de ley como se encuentra actualmente. Aclaró que el documento no puede ser sometido a modificaciones.</p>
<p>Si los senadores aceptan el rechazo de los diputados el proyecto será archivado, de lo contrario volverá a ser estudiado por la cámara baja.</p>
<p>Sequera indicó que el Senado tiene 120 días para volver a estudiar el proyecto de ley, destacó que se tratará de acelerar el proceso.</p>
<p>En setiembre de 2014 el proyecto tuvo media sanción en el Senado, mientras que el pasado jueves fue rechazado en Diputados.</p>
<p><strong>El proyecto</strong></p>
<p>El proyecto de ley “Que establece la obligación de conservar los datos de tráfico”,  más conocida como “pyrawebs”, obligaría a las empresas que brindan el servicio de internet a almacenar los datos de navegación de todos sus usuarios.</p>
<p>Los que se encuentran a favor del proyecto de normativa afirman que es necesaria para investigar delitos, mientras los que se oponen argumentar que viola el derecho a la privacidad.</p>
</div>
<div id="themify_builder_content-3149" data-postid="3149" class="themify_builder_content themify_builder_content-3149 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Proyecto de ley abre debate sobre la privacidad y el espionaje en internet</title>
		<link>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/</link>
		<comments>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 21:39:53 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Ariel Martínez]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[Delitos Informáticos]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[privacidad]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3109</guid>
		<description><![CDATA[Un proyecto de ley que deberá ser tratado en semanas más por la Cámara de Diputados establece que las proveedoras de internet deberán conservar durante doce meses los datos de tráficos de sus usuarios y revelarlos cuando lo requiera un juez de Garantías. Mientras que la Fiscalía asegura que hoy en día esta ley es [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="news-headline-obj">
<h4 class="summary newDetailTextChange">Un proyecto de ley que deberá ser tratado en semanas más por la Cámara de Diputados establece que las proveedoras de internet deberán conservar durante doce meses los datos de tráficos de sus usuarios y revelarlos cuando lo requiera un juez de Garantías.</h4>
<hr />
<div id="OBJETO28" class="CLASS20">
<div id="Object_28_28" class=" clearfix">
<div class="news-detail-obj">
<div class="newDetailTextChange">
<p>Mientras que la Fiscalía asegura que hoy en día esta ley es necesaria para poder investigar todo tipo de delitos, organizaciones civiles afirman que se trata de una violación de derechos y que da pie a un espionaje masivo.</p>
<p>Si bien la ley obliga a las empresas a conservar datos de tráfico y excluye el contenido de las comunicaciones electrónicas, la abogada Maricarmen Sequera, de la organización Tedic, sostiene que estos datos de tráfico, o metadatos, permiten conocer información sensible de los usuarios de internet.</p>
<p>“Si bien no incluye contenido, sí se puede identificar desde dónde se hacen las comunicaciones, quién se comunica con quién y desde dónde, inclusive dónde se encuentran los celulares sin hacer una llamada”, explicó Sequera y agregó que con los datos de tráfico también se podrán conocer las páginas webs que se visitan.</p>
<p>“La ley en sí atenta a un montón de derechos constitucionales. Viola el artículo 36 de la Constitución, que habla de la inviolabilidad de contenido de la comunicación. Eso se puede trasladar a un metadato, porque hay un fallo de la Corte Interamericana de Derechos Humanos que dictamina que los metadatos deben ser cuidados igualmente que el contenido”, señaló la activista.</p>
<p>Por otro lado, destacó que en otros países como Argentina ya fueron declaradas inconstitucionales leyes de este tipo. Incluso la Gran Sala del Tribunal de Justicia de la Unión Europea declaró inválido el mismo tipo de retención de datos de tráfico que se busca implementar en Paraguay, comentó.</p>
<p>Sequera recordó experiencias de otros países como Alemania, en las que el Estado utilizó datos de tráfico de internet con fines políticos, para espiar y monitorear a opositores y periodistas.</p>
<p>“ES NECESARIA”. Por su parte, el fiscal de Delitos Informáticos, Ariel Martínez, manifestó que esta ley no viola derechos constitucionales y aseguró que se trata de una herramienta necesaria hoy en día para la investigación penal. “Ese celo supuesto de que a partir de hoy recién las telefónicas van a guardar datos es un desconocimiento total de cómo funcionan en realidad las prestadoras de servicio de internet (&#8230;) La ley va a ser una ventaja para el ciudadano, porque va a reglamentar esta actividad, va a decir que solo se pueden utilizar estos datos cuando hay una sospecha de la comisión de hechos punibles por parte de esa persona y con una orden judicial”, declaró.</p>
<p>“Necesitamos una ley de protección de datos personales bien fuerte que sea el contrapeso de esto, que sea la garantía de los ciudadanos. Hoy los datos son pertenencia patrimonial de las empresas y no de los ciudadanos. Eso es lo que tenemos que regular y si es posible saquemos las dos leyes al mismo tiempo”, añadió.</p>
<p>Desmintió que se trate de un espionaje masivo y aseguró que el Estado solo podrá acceder a datos del tráfico de una persona cuando haya una fundada sospecha de un delito, por lo que no se tratará tampoco de una violación del derecho a la intimidad de las personas.</p>
<p>El fiscal aseguró que la única opción que tiene Paraguay actualmente en este campo es la de retención de datos.</p>
<p><strong>Fuente:</strong> <a title="Proyecto de ley abre debate sobre la privacidad y el espionaje en internet" href="http://www.ultimahora.com/proyecto-ley-abre-debate-la-privacidad-y-el-espionaje-internet-n874702.html" target="_blank">Última Hora, Edición Impresa 23 de febrero de 2015</a></p>
</div>
</div>
</div>
</div>
</div>
<div id="themify_builder_content-3109" data-postid="3109" class="themify_builder_content themify_builder_content-3109 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/proyecto-de-ley-abre-debate-sobre-la-privacidad-y-el-espionaje-en-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.663 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:41:48 -->
