<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Santiago González &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/santiago-gonzalez/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>#Pyrawebs en TV: Informe y entrevista de AAM</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:38:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[AAM]]></category>
		<category><![CDATA[Algo Anda Mal]]></category>
		<category><![CDATA[informe]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Santiago González]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3161</guid>
		<description><![CDATA[El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay. El proyecto pretende que empresas de telefonía e internet [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay.</p>
<p>El proyecto pretende que empresas de telefonía e internet almacenen por 12 meses muchos datos de sus usuarios y entregarlos a un juez cuando cometan hechos punibles. Este tipo de legislaciones violan derechos a la privacidad, libertad de expresión e inviolabilidad de las comunicaciones.</p>
<p>Entrevista emitida el domingo 8 de marzo de 2015 por El Trece.</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='390' src='http://www.youtube.com/embed/YUo-BKH5LIU?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3161" data-postid="3161" class="themify_builder_content themify_builder_content-3161 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.549 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:42:33 -->
