<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>firmas &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/firmas/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Entregan firmas al Congreso paraguayo contra el almacenamiento datos de en internet</title>
		<link>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/</link>
		<comments>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:12:32 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[firmas]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[retención de datos de tráfico]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3142</guid>
		<description><![CDATA[Agencia EFE, Asunción.- La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves. La ley que establece la obligación [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="body">
<p class="summary">Agencia EFE, Asunción.-</p>
<p class="summary">La ONG Tedic entregó hoy al Congreso algo más de 2.000 firmas contra el proyecto de ley que prevé retener el tráfico de metadatos de las comunicaciones para facilitar el rastreo policial a través de Internet, un texto que la Cámara de Diputados debatirá el jueves.</p>
<p>La ley que establece la obligación a las empresas proveedoras de internet de conservar los datos de tráfico de los ciudadanos ya fue aprobada por el Senado hace casi seis meses.</p>
<p>Pero la Cámara de Diputados, que debe sancionar o rechazar el texto, postergó la semana pasada la votación definitiva del proyecto después de que parlamentarios oficialistas y opositores reconocieran que desconocían el contenido y las consecuencias del texto.</p>
<p>Tedic, expresó en un comunicado que el proyecto de ley “violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia”, consagrados en la Constitución.</p>
<p>Por ello, piden a los proyectistas de la ley que retiren el texto.</p>
<p>“Condenamos cualquier intento de vigilar todas las comunicaciones sin justificación debida, violando la Constitución Nacional”, destacó Tedic.</p>
<p>La ONG recordó que países como Alemania, Argentina, Austria, Bulgaria, Chipre, República Checa, Rumanía y Eslovenia han declarado inconstitucionales leyes para la retención de datos y también la Gran Sala del Tribunal de Justicia Europea que declaró inválida la Directiva de Retención de Datos de Tráfico.</p>
<p>“La aplicación de esta Ley debería autorizarse únicamente cuando exista riesgo particular de un daño superior al interés general de la sociedad (&#8230;) Este proyecto no contempla esta situación, por lo que es desproporcionado”, insistieron.</p>
<p>Además exigieron que “en vez de realizar una inversión tan importante en infraestructura para la vigilancia, se deberían redoblar esfuerzos para consolidar las telecomunicaciones en Paraguay, mejorando la calidad del acceso así como también los costos para los usuarios más necesitados”.</p>
<p>La ley que prevé almacenar los “metadatos” durante 12 meses cuenta con fuertes apoyos, entre ellos el del Ministerio del Interior, la Fiscalía y una mayoría de congresistas colorados que la creen necesaria para mejorar la seguridad en el país y prevenir los delitos informáticos.</p>
<p>La petición enviada este martes a los diputados la firman periodistas, artistas, intelectuales, activistas de sociedad civil, abogados, y ciudadanos en general que están preocupados por este proyecto de ley, añadió la organización.</p>
<p>La directora de Proyectos de Tedic, Jazmin Acuña, dijo a Efe que “el activismo ciudadano online puede ser un elemento fundamental para cambiar la posición de diputados hacia el rechazo” del texto.</p>
<p>“De hecho ya ha jugado un papel crucial para alertar al resto de la población sobre los peligros de este proyecto de ley”, añadió Acuña.</p>
<p>Tedic ha lanzado a través de las redes sociales una llamada a luchar contra el proyecto al que llaman “pyrawebs”, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní “pyrague”, con el que se conocía a los soplones e infiltrados de la Policía de la dictadura de Alfredo Stroessner (1954-1989).</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido “Archivo del Terror”, toneladas de papel que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p><strong>Fuente:</strong> <a href="http://www.hoy.com.py/nacionales/senado-recibio-mas-de-2.000-firmas-contra-pyrawebs" target="_blank">Hoy, 10 de marzo de 2015</a>.</p>
</div>
<div class="category_related"></div>
<div id="themify_builder_content-3142" data-postid="3142" class="themify_builder_content themify_builder_content-3142 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/entregan-firmas-al-congreso-paraguayo-contra-el-almacenamiento-datos-de-en-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.507 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:45:14 -->
