<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sin categoría &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/category/sin-categoria/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Los 10 mitos de la ley #Pyrawebs</title>
		<link>http://pyrawebs.tedic.org/los-10-mitos-de-la-ley-pyrawebs/</link>
		<pubDate>Wed, 25 Mar 2015 20:50:47 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Estado policial]]></category>
		<category><![CDATA[internet]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[pedofilia]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3174</guid>
		<description><![CDATA[Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico. Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…” FALSO: De ser así, ¿por [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Material realizado por el equipo de Tedic, basado en los argumentos esgrimidos por los defensores del proyecto de Ley de Retención de Datos de Tráfico.</p>
<hr />
<h3 id="6fae" class="graf--h3 graf--first">Mito 1: “Fue creado para con el único fin de perseguir crímenes que se cometen a través de Internet tales como terrorismo, narcotráfico, lavado de dinero…”</h3>
<p id="cb41" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: De ser así, ¿por qué se necesita retener los datos de tráfico de TODOS, absolutamente TODOS los usuarios de servicios de Internet? Mientras el objetivo loable de perseguir actividades ilícitas implique poner a todos los usuarios en riesgo, la meta será difícil de cumplir.</p>
<p id="5a1b" class="graf--p"><strong class="markup--strong markup--p-strong">El crimen organizado no es tonto, es inescrupuloso y utiliza alta tecnología para cometer ilícitos.</strong></p>
<p id="5186" class="graf--p">Cabe preguntarse de vuelta, ¿es esta herramienta legal la que pondrá fin al EPP, al terrorismo, al narcotráfico en nuestro país?</p>
<h3 id="7df0" class="graf--h3">Mito 2: “Es para cuidar a nuestros hijos de los pedofílicos, narcotraficantes, estafadores…”</h3>
<p id="973b" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Cuando existe mayor privacidad, mayor será la seguridad de nuestros hijos, cuando utilicen todas las herramientas de Internet de manera segura y privada. Si son conscientes de que exhibir datos privados en Internet es peligrosísimo, tendremos cada vez más ciudadanía en alerta.</p>
<p id="578d" class="graf--p">No es a través de la vigilancia del Estado sino del uso de herramientas tecnológicas para una comunicación más segura lo que garantizará eliminar estos peligros. El Estado jamás podrá brindar más seguridad violando derechos básicos, como el de la privacidad.</p>
<p id="5631" class="graf--p">Hasta la SENATICS lanzó una campaña contra el grooming, de la que nuestros hijos deben ser conscientes de los peligros<a class="markup--anchor markup--p-anchor" href="https://www.youtube.com/watch?v=Tbp-91QBVQY" rel="nofollow">https://www.youtube.com/watch?v=Tbp-91QBVQY</a> .</p>
<h3 id="8724" class="graf--h3">Mito 3: “Va ser utilizado para la persecución única y exclusivamente para estos crímenes”</h3>
<p id="3af2" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO</strong>: La ley contemplará a todos los hechos punibles, incluso para procesos civiles esta legislación lo contemplará.</p>
<p id="804f" class="graf--p"><strong class="markup--strong markup--p-strong">Cualquier actividad que hagas por Internet (descargas, sitios de música, compras online, películas, redes sociales, etc.), podría ser una excusa para el seguimiento por vía judicial.</strong></p>
<h3 id="cc29" class="graf--h3">Mito 4: “Se necesita para garantizar la seguridad por las instituciones democráticas: el Congreso, el Poder Judicial, Fiscalía, Policía Nacional…”</h3>
<p id="54b7" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Un país democrático no vigila a sus ciudadanos, eso es de estados policiales. </strong>Estas instituciones deben dar lugar a métodos más eficientes para la persecución de delitos cometidos a través de Internet que la retención de datos de tráfico por 12 meses a todos los usuarios.</p>
<h3 id="3d42" class="graf--h3">Mito 5: “Los datos deben ser conservados por más tiempo porque los requerimientos judiciales de información también se hacen a países extranjeros y son trámites burocráticos que toman meses”</h3>
<p id="f45c" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: Los MLATs son Memorandum de entendimiento de EEUU con Paraguay, para facilitar de manera recíproca información acerca de los delitos/crímenes ocurridos en Internet.</strong> ¿Porqué necesitan una ley tan invasiva con enormes alcances para perseguir algunos delitos y ponernos a todos en la bolsa? Viola los principios de proporcionalidad, necesidad, debido proceso, intimidad y privacidad.</p>
<p id="4a68" class="graf--p">El personal de la Fiscalía está capacitado para conducir las investigaciones a aquellos que cometen hechos punibles con el MLATs. Necesitan más personal para la persecución en tiempo real, pero no una ley que viole todos los derechos humanos porque incapacidad de esta institución.</p>
<h3 id="abea" class="graf--h3">Mito 6: “Algunas proveedoras no colaboran con la Fiscalía”</h3>
<p id="fb02" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> TODAS las compañías colaboran, y han mostrado voluntad de cooperar sin necesidad de que existiera la ley. Sólo negaban el acceso a la información cuando la fiscalía solicitaba sin hacer referencia al hecho punible, número de expediente y toda la formalidad de la solicitud.</p>
<p id="ef0b" class="graf--p">Ya existen normativas vigentes que atentan a la privacidad de los usuarios como por ejemplo el reglamento de Conatel que obliga a los ISP a almacenar por 6 meses los registros de llamadas de todos los usuarios, y entregarlas bajo orden judicial. Asimismo la ley Nº 4868 de Comercio Electrónico, que pretende regular el comercio a través de medios electrónicos, también obliga a guardar los datos de conexión y tráfico por 6 meses (Art. 10).</p>
<p id="fdc7" class="graf--p"><strong class="markup--strong markup--p-strong">Si se busca la “seguridad de la ciudadanía” como mencionan los proyectistas, con tal de sancionar a los responsables de hechos punibles, ¿es necesaria la retención de datos de TODOS los usuarios de internet del país?</strong></p>
<h3 id="fdb2" class="graf--h3">Mito 7: “No existe ninguna violación al Derecho a la Privacidad de las personas ya que no se guardarían el contenido de las comunicaciones”</h3>
<p id="a426" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Los proyectistas mencionan que son solo los datos de tráfico y no de contenido de las comunicaciones electrónicas, garantizando así los derechos de los usuarios al secreto de sus comunicaciones, respetando los principios Constitucionales de Derecho a la Intimidad y a la Inviolabilidad de las Comunicaciones.</p>
<p id="fc7c" class="graf--p"><strong class="markup--strong markup--p-strong">¿Será verdad este argumento? El acceso a los datos de tráfico (los metadatos) revela tanta o más información que el contenido propio, así que la Intimidad y la Inviolabilidad de las Comunicaciones queda en duda.</strong></p>
<p id="9270" class="graf--p">¿Qué garantía podrán ofrecer las compañías de telefonía de que los datos que retendrán por imposición legal, serán utilizados exclusivamente por el Ministerio Público o Juzgados competentes?</p>
<h3 id="d196" class="graf--h3">Mito 8: “No tengo nada que esconder”</h3>
<p id="24e0" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>Todos tenemos información personal que guardar en nuestro fuero íntimo, ¿O acaso estarías dispuesto a entregar tu número de cédula, huellas dactilares, RUC, contraseña de tarjetas de crédito/débito, dirección particular, registros médicos y todo tipo de información personalísima al público, la hora que te encontrás con tus amigos, pareja, qué vestimenta usas, qué camino usas habitualmente, qué auto usas, qué libros lees? <strong class="markup--strong markup--p-strong">¿Si no hago nada malo, porqué me vigilan?</strong></p>
<p id="e1fb" class="graf--p">Si bien existen instituciones que utilizan datos privados a su favor (bancos, seguros médicos, Informconf, etc.), la ley #Pyrawebs creará una Super gigante base de datos mantenidas por compañías proveedoras de Internet crees que una ley de datos personales va a evitar el abuso de un país que viola siempre sus leyes.</p>
<h3 id="c5fd" class="graf--h3">Mito 9: “No va a pasar nada con esta ley”</h3>
<p id="986a" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO:</strong> Han utilizado esta ley para investigar a periodistas, académicos, activistas, y hasta ex parejas en otros países como Alemania, Irlanda, Ucrania etc, tenes dudas de que un país tan corrupto como el nuestro va respetar la naturaleza de la ley?</p>
<h3 id="afd4" class="graf--h3">Mito 10: “Las compañías de telefonía e Internet que no cumplan, serán sancionadas”</h3>
<p id="08f3" class="graf--p"><strong class="markup--strong markup--p-strong">FALSO: </strong>¿Ha habido sanciones ejemplares a las telefonías en estos años? ¿Qué hay del personal técnico autorizado que tendrá acceso a esta información de aprobarse la ley? ¿Qué garantiza que su trabajo será eficiente? Existen violaciones de principio de Neutralidad en la red en Paraguay, ¿cuándo se le ha sancionado a ellos por estos abusos? ¿Por qué creerle que esta ley van a hacer cumplir?</p>
<blockquote id="b616" class="graf--pullquote pullquote"><p><em>Una vez que se construya este mega almacenamiento de todos nuestros datos, las leyes pueden borrarse con el codo como es costumbre en nuestro país. Pueden modificarse los artículos de la ley eliminando “a solicitud de un juez autorizado” y puede solicitar un fiscal o policía de turno, aumentar los meses de almacenamiento de 12 meses a mas meses porque la fiscalía y los peritos necesitan mas tiempo para la persecución de los delitos.</em></p></blockquote>
<blockquote id="e9ed" class="graf--pullquote pullquote"><p><em>Este mega estructura en poder de las empresas o el Estado es peligroso para todos los ciudadanos. No habrá duda que habrá vigilancia masiva por ambos lados.</em></p></blockquote>
<div id="themify_builder_content-3174" data-postid="3174" class="themify_builder_content themify_builder_content-3174 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Otros 10 mitos de la ley #PyraWebs</title>
		<link>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:50:39 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Arnaldo Giuzzio]]></category>
		<category><![CDATA[datos personales]]></category>
		<category><![CDATA[mitos pyrawebs]]></category>
		<category><![CDATA[seguridad]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3175</guid>
		<description><![CDATA[Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos. Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo” 1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class=" section--first">
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<h3 class="graf--h3">Surgieron nuevos mitos con respecto a la ley de Retención de Datos de Tráfico, así que desde Tedic responderemos a algunos.</h3>
<hr />
<h3 id="2f49" class="graf--h3"><strong class="markup--strong markup--p-strong">Mito 1: “Esta es una forma de legalizar lo que el sector privado ya viene haciendo”</strong></h3>
<p id="77c9" class="graf--p">1. En este mito, se esconde una trampa de pensamiento. La trampa nos quiere convencer que no vale la pena manifestar nuestro rechazo al proyecto ya que de todas formas las proveedoras de Internet retienen nuestros datos. Con esta lógica entonces, deberíamos callarnos cuando los políticos ensucian nuestra ciudad en tiempos de campaña electoral, ya que la ciudad es <em class="markup--em markup--p-em">nomás luego </em>sucia. O deberíamos cruzarnos de brazos ante la tala de árboles en Paraguay, porque el calentamiento global ya es irreversible. En algún momento necesitamos decir basta y frenar el atropello a nuestros derechos por parte del Estado.</p>
<p id="c338" class="graf--p graf--last">2. No sabemos a ciencia cierta qué cantidad de datos personales el sector privado almacena ni qué hace con aquellos datos. Si se confirma la Retención de Datos de tráfico, el Congreso debería adoptar ya <strong class="markup--strong markup--p-strong">una la Ley de Protección de Datos Personales</strong>, y debemos buscar la <strong class="markup--strong markup--p-strong">inconstitucionalidad</strong> del artículo 10 de la ley de Comercio Electrónico y otras normativas que atentan contra nuestros derechos en Internet.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="9f3b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 2: “La retención de datos de tráfico es la única forma de perseguir delitos como el terrorismo, la pedofilia y el narcotráfico en Internet”</strong></p>
<p id="a49a" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Primeramente, el proyecto de ley actual contempla la persecución de cualquier tipo penal, inclusive delitos menos serios como la difamación y los derechos de autor en el entorno digital.</p>
<p id="7d39" class="graf--p">Segundo, cabe destacar que estos delitos se siguen persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico. ¿Cómo hacen ellos entonces?</p>
<p id="f2e2" class="graf--p">Tercero, es estadísticamente imposible que la vigilancia masiva sea una herramienta eficaz para combatir crímenes terroristas o atrapar pedófilos, de acuerdo con un artículo publicado en la <a class="markup--anchor markup--p-anchor" href="http://www.slate.com/articles/health_and_science/new_scientist/2015/01/mass_surveillance_against_terrorism_gathering_intelligence_on_all_is_statistically.html" rel="nofollow">revista estadounidense Slate</a>. “<em class="markup--em markup--p-em">Inclusive si tu máquina-de-atrapar-terroristas tiene un índice positivo-falso de 1 en 1000 — y no hay tecnología de seguridad que siquiera se acerque a esto — cada vez que le preguntes por sospechosos, marcará a 60.000 personas inocentes</em>”, explica Ryan Corrigan, profesor de matemática, informática y tecnología en la Open University del Reino Unido.</p>
<p id="0062" class="graf--p graf--last">Agrega que “<em class="markup--em markup--p-em">los organismos de seguridad deben avanzar con el ritmo de los tiempos, utilizando tecnologías digitales modernas de manera inteligente y vigilar a individuos sobre quienes hay causas razonables para sospechar, a través de la preservación de datos específicos y con la supervisión de las cortes. Esto no es, sin embargo, lo mismo que construir una estructura de vigilancia masiva. La vigilancia masiva hace el trabajo de los servicios de inteligencia más difícil y nos vuelve más inseguros a todos</em>”.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="def4" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 3. “El acceso a los datos retenidos se realizará solo por vía judicial”</strong></p>
<p id="54f0" class="graf--p">No sólo se trata que la vigilancia debe realizarse con autorización judicial competente sino que ésta debe ser previa, imparcial e independiente de las autoridades encargadas de la vigilancia.</p>
<p id="4309" class="graf--p">También la autoridad judicial debe estar capacitada en materias relacionadas, y tiene que ser competente para tomar decisiones judiciales sobre la legalidad de la vigilancia, las tecnologías utilizadas y los Derechos Humanos, además de contar con los recursos adecuados en el ejercicio de las funciones que se le asignen.</p>
<p id="87db" class="graf--p">Es necesario dejar en claro que el Estado debe demostrar a la autoridad judicial competente, antes de la realización de la vigilancia, que tiene que ser proporcionada. Es decir debe:</p>
<ul class="postList">
<li id="a3b6" class="graf--li">Existir un alto grado de probabilidad de que un delito grave o una amenaza específica para algún fin ha sido o será llevado a cabo, y;</li>
<li id="34be" class="graf--li">Existe un alto grado de probabilidad que las evidencias pertinentes y materiales de un delito tan grave o amenaza específica se conseguirían mediante el acceso a los datos del usuario solicitado, y;</li>
<li id="caae" class="graf--li">Que otras técnicas de investigación, que son menos invasivas ya han sido agotadas o serían inútiles, y;</li>
<li id="b946" class="graf--li">La información a la que se accederá será sólo la relevante para perseguir el crimen o la amenaza especifica alegada; y</li>
<li id="f7d5" class="graf--li graf--last">Cualquier información excedente no será retenida, siendo en su lugar destruida o devuelta con prontitud.</li>
</ul>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="8997" class="graf--p"><strong class="markup--strong markup--p-strong">Mito 4. “Es la mejor forma de cuidar a nuestros hijos”</strong></p>
<p id="5e68" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> Los que apoyan el proyecto dicen que este esfuerzo encomiable para detener los crímenes sexuales ayudará a perseguir este delito.</p>
<p id="387f" class="graf--p graf--last">Numerosas veces se ha demostrado que es un <a class="markup--anchor markup--p-anchor" href="https://es.wikipedia.org/wiki/Caballo_de_Troya" rel="nofollow">Caballo de Troya</a> para un asalto masivo sobre la privacidad. Además, este delito se sigue persiguiendo de manera eficaz en muchos países que no cuentan con leyes de retención de datos de tráfico o aquellos países donde el Poder Judicial las ha declarado inconstitucionales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="cc21" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 5. “Necesitamos seguridad”</strong></p>
<p id="7ad8" class="graf--p"><strong class="markup--strong markup--p-strong">Correcto.</strong> Impera brindar mayor seguridad, en particular protección para nuestros niños, pero con vigilancia específica y particularizada con el respaldo de una autorización judicial previa, sobre la base de una sospecha individual — no con un proyecto de Ley como éste que convierte una nación de ciudadanos en una nación de sospechosos.</p>
<p id="1b1e" class="graf--p">Además, el gobierno, antes de buscar extender nuevos poderes de vigilancia, debería mejorar sus actuales prácticas de transparencia, y dejar claro el uso y alcance de las practicas de vigilancia actuales.</p>
<p id="5d38" class="graf--p graf--last">Deben publicar, como mínimo, información sobre el número de solicitudes de acceso a datos que han sido aprobadas y rechazadas, un desglose de las solicitudes por proveedor de servicios, por autoridad investigadora, el tipo y propósito, y el número específico de personas afectadas por cada una y según el tipo de investigación y sus propósitos.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="6d0b" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 6. “Tiene que haber un término medio porque la ley es necesaria”</strong></p>
<p id="9de2" class="graf--p"><strong class="markup--strong markup--p-strong">Falso.</strong> El proyecto de ley, en los términos actuales, es desproporcional a la necesidad que expone como fundamento para su aprobación — la de perseguir delitos como el terrorismo, el narcotráfico y la pedofilia. Por tanto, no existe posibilidad de apoyarlo o promoverlo así como lo plantean los proyectistas.</p>
<p id="4ccd" class="graf--p">En pocas palabras, el gobierno quiere pasar de la vigilancia basada en la sospecha individualizada <strong class="markup--strong markup--p-strong">hacia la vigilancia masiva</strong> con la recolección no selectiva de las comunicaciones de las personas ordinarias, no sospechosas de delito alguno.</p>
<p id="9dd3" class="graf--p graf--last">El único consenso al que se puede llegar debe ser producto de un amplio debate con diversos actores, siempre sobre la base del respeto a los principios fundamentales de privacidad y libertad de expresión. Los derechos humanos no se negocian. Se defienden.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="5241" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 7. “Ya debatimos sobre el tema”</strong></p>
<p id="8e57" class="graf--p"><strong class="markup--strong markup--p-strong">Falso</strong>. Según el senador Arnaldo Giuzzio, proyectista de la ley, <em class="markup--em markup--p-em">“ya hemos tenido un amplio debate sobre este tema”</em>, lo cual no es verdadero. Hasta la fecha, sólo se ha llevado a cabo una audiencia pública en noviembre del 2014 con representantes de diversos sectores. Las discusiones que se hayan generando en las comisiones no cuentan como parte de un debate plural y participativo, ya que se han realizado a puertas cerradas de la ciudadanía.</p>
<p id="343e" class="graf--p graf--last">Un verdadero debate debe darse en un plazo prudencial de tiempo, convocando a los actores relevantes en este tema — legisladores, proveedoras de Internet, organizaciones de sociedad civil, periodistas, abogados — a una mesa multi-sectorial, de la cual emane una postura sobre la retención de datos de trafico y por sobre todo, una propuesta de Ley de Protección a los Datos Personales.</p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="e489" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 8. Los fiscales sostienen que “Necesitamos una ley de datos personales”</strong></p>
<p id="8315" class="graf--p"><strong class="markup--strong markup--p-strong">Parcialmente cierto.</strong> Mientras la protección de datos regula la recolección y uso de los datos personales para que éstos sean utilizados solamente con propósitos técnicos y de facturación, la Retención de Datos contradice aquella obligación de eliminar los datos, al obligar a los proveedores a retener estos por un año, para fines no necesarios para el propósito del negocio. Ello puede tener el efecto de invalidar en la práctica alguna norma de Protección de Datos.</p>
<p id="a082" class="graf--p">Por ejemplo, en países que cuentan con robustas leyes de Datos Personales, la normas de retención obligatoria de datos han hecho que aquella norma inaplicable. Por lo tanto, así como es necesario contar con una ley de Datos Personales, también debemos evitar marcos jurídicos que den pie a la vigilancia masiva como #pyrawebs.</p>
<p id="d397" class="graf--p">Más aún, cuando el Gobierno decide realizar cualquier tipo de vigilancia particularizada, se necesita una combinación de leyes. Por un lado, se necesita normas de protección de datos que aplique al sector privado y al sector público, sino también el Estado debe asegurarse de aplicar los principios de Derechos Humanos que limiten la vigilancia para que ésta sea realizada de acuerdo al Estado de derecho.</p>
<p id="e96f" class="graf--p">En ese sentido, la vigilancia sea necesaria, proporcional, e idónea. Es decir debe cumplir con los estándares internacionales de derechos humanos.</p>
<p id="28cc" class="graf--p graf--last">Para mayor información, revisemos el análisis legal pertinente en<a class="markup--anchor markup--p-anchor" href="https://es.necessaryandproportionate.org/text" rel="nofollow">necessaryandproportionate.org/</a></p>
</div>
</div>
</section>
<section>
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="f6a9" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 9. ¿Y quiénes son ustedes que se oponen a la ley?</strong></p>
<p id="6d86" class="graf--p graf--last">Tedic es una ONG que desde hace 2 años es pionera en la defensa de los Derechos Digitales vía internet en Paraguay. Trabajamos en temas como cultura libre, Creative Commons, generar aplicaciones para el acceso a la información pública y la defensa de la seguridad y privacidad en internet. Si un proyecto de ley como #pyrawebs lesiona las libertades de los usuarios, no tenemos motivos para defenderlo ☺</p>
</div>
</div>
</section>
<section class=" section--last">
<div class="section-divider layoutSingleColumn">
<hr class="section-divider" />
</div>
<div class="section-content">
<div class="section-inner layoutSingleColumn">
<p id="75b6" class="graf--p graf--first"><strong class="markup--strong markup--p-strong">Mito 10. Este hermoso gatito</strong></p>
<figure id="bde4" class="graf--figure graf--iframe graf--last">
<div class="iframeContainer"></div>
</figure>
</div>
</div>
</section>
<p>&nbsp;</p>
<div id="themify_builder_content-3175" data-postid="3175" class="themify_builder_content themify_builder_content-3175 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/otros-10-mitos-de-la-ley-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs en radio Cardinal</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 20:07:12 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Access]]></category>
		<category><![CDATA[Javier Pallero]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[radio]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3172</guid>
		<description><![CDATA[Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos. Escuche aquí la entrevista.]]></description>
				<content:encoded><![CDATA[<p>Maricarmen Sequera, David Bogado, y Javier Pallero de Access explicaron qué es el proyecto de ley Pyrawebs de retención de datos en los estudios de radio Cardinal 730 AM, en el programa Algo Anda Mal conducido por Santiago González y Enrique Dávalos.</p>
<p>Escuche aquí <a href="http://www.cardinal.com.py/noticias/maricarmen_sequera_david_bogado_javier_pallero_explicaron_que_es_el_proyecto_de_ley_pyrawebs_retencin_de_datos_31279.html" target="_blank">la entrevista</a>.</p>
<div id="themify_builder_content-3172" data-postid="3172" class="themify_builder_content themify_builder_content-3172 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-radio-cardinal/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs en TV: Arnaldo Giuzzio en Telefuturo</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:57:00 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Arnaldo Giuzzio]]></category>
		<category><![CDATA[No a Pyrawebs]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Retención de Datos]]></category>
		<category><![CDATA[Vigilancia masiva]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3168</guid>
		<description><![CDATA[La Cámara de Diputados tiene previsto tratar este jueves el proyecto de ley que obliga a los prestadores de internet a almacenar los datos de conexión de usuarios durante doce meses. El documento es conocido como &#8220;pyraweb&#8221;, en alusión a los informantes policiales de la dictadura stronista (pyragues). Emitido por el programa &#8220;Día a Día&#8221; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>La Cámara de Diputados tiene previsto tratar este jueves el proyecto de ley que obliga a los prestadores de internet a almacenar los datos de conexión de usuarios durante doce meses. El documento es conocido como &#8220;pyraweb&#8221;, en alusión a los informantes policiales de la dictadura stronista (pyragues).</p>
<p>Emitido por el programa &#8220;Día a Día&#8221; de Telefuturo el 5 de marzo de 2015.</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='480' src='http://www.youtube.com/embed/bzKqV1EAHcA?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3168" data-postid="3168" class="themify_builder_content themify_builder_content-3168 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-tv-arnaldo-giuzzio-en-telefuturo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El Dip. Bernardo Villalba defiende el proyecto #pyrawebs</title>
		<link>http://pyrawebs.tedic.org/el-dip-bernardo-villalba-defiende-el-proyecto-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/el-dip-bernardo-villalba-defiende-el-proyecto-pyrawebs/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:50:12 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Bernardo Villalba]]></category>
		<category><![CDATA[pyrawebs]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3166</guid>
		<description><![CDATA[Los defensores del proyecto de ley “pyrawebs” argumentan, principalmente, que la normativa será de gran ayuda en la investigación fiscal. Esta propuesta legislativa obligará a los proveedores de internet a almacenar los datos de tráfico de los ciudadanos por un año. Informe de ABC TV el 11 de marzo de 2015]]></description>
				<content:encoded><![CDATA[<p>Los defensores del proyecto de ley “pyrawebs” argumentan, principalmente, que la normativa será de gran ayuda en la investigación fiscal. Esta propuesta legislativa obligará a los proveedores de internet a almacenar los datos de tráfico de los ciudadanos por un año.</p>
<p>Informe de ABC TV el 11 de marzo de 2015</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='390' src='http://www.youtube.com/embed/NMif-LFP35c?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3166" data-postid="3166" class="themify_builder_content themify_builder_content-3166 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-dip-bernardo-villalba-defiende-el-proyecto-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs en TV: Informe y entrevista de AAM</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/</link>
		<comments>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 19:38:20 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[AAM]]></category>
		<category><![CDATA[Algo Anda Mal]]></category>
		<category><![CDATA[informe]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[Santiago González]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3161</guid>
		<description><![CDATA[El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay. El proyecto pretende que empresas de telefonía e internet [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>El programa Algo Anda Mal entrevistó a Maricarmen Sequera, Directora Ejecutiva de Tedic, que impulsó la campaña contra la Ley de Retención de Datos de Tráfico bautizada popularmente como &#8220;pyrawebs&#8221; por la alusión al Archivo del Terror de la dictadura stronista de 35 años en Paraguay.</p>
<p>El proyecto pretende que empresas de telefonía e internet almacenen por 12 meses muchos datos de sus usuarios y entregarlos a un juez cuando cometan hechos punibles. Este tipo de legislaciones violan derechos a la privacidad, libertad de expresión e inviolabilidad de las comunicaciones.</p>
<p>Entrevista emitida el domingo 8 de marzo de 2015 por El Trece.</p>
<span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='640' height='390' src='http://www.youtube.com/embed/YUo-BKH5LIU?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span>
<div id="themify_builder_content-3161" data-postid="3161" class="themify_builder_content themify_builder_content-3161 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/pyrawebs-en-tv-informe-y-entrevista-de-aam/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>#Pyrawebs: Amnistía considera un paso positivo el rechazo dado en Diputados</title>
		<link>http://pyrawebs.tedic.org/pyrawebs-amnistia-considera-un-paso-positivo-el-rechazo-dado-en-diputados/</link>
		<pubDate>Tue, 24 Mar 2015 23:37:25 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Amnistía Internacional]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3158</guid>
		<description><![CDATA[Publicado por Agenda Legislativa, 12 de marzo de 2o15. Mediante un comunicado, Amnistía Internacional destacó que los legisladores dieron una positiva señal en precautelar y garantizar el pleno respeto a los derechos humanos, en particular los derechos a la privacidad, durante el tratamiento este jueves  de la ley de retención de datos, que cuenta con [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Publicado por <a href="http://www.agendalegislativa.com.py/paraguay/8762-pyrawebs-amnistia-considera-un-paso-positivo-el-rechazo-dado-en-diputados" target="_blank">Agenda Legislativa, 12 de marzo de 2o15</a>.</h4>
<p>Mediante un comunicado, Amnistía Internacional destacó que los legisladores dieron una positiva señal en precautelar y garantizar el pleno respeto a los derechos humanos, en particular los derechos a la privacidad, durante el tratamiento este jueves  de la ley de retención de datos, que cuenta con media sanción por el Senado.</p>
<hr />
<p>El citado proyecto de ley  otorgaría acceso irrestricto  y masivo  a los datos personales de las y los usuarios, incluyendo la geolocalización en tiempo real a empresas proveedoras de servicios de internet.  Más aún, la ley obligaría a los proveedores del servicio a mantener los metadatos de las comunicaciones por un año.</p>
<p>“Amnistía Internacional considera que cualquier vigilancia, ya sea de contenidos o de metadatos, debe ser autorizada de conformidad con leyes que sean públicamente accesibles y previsibles. En ese sentido, en oportunidad de una declaración pública efectuada al respecto, Amnistía Internacional manifestó su preocupación sobre algunas deficiencias del proyecto en cuestión: no habiendo sido suficientemente claro en todos sus términos ni brindado a la ciudadanía indicaciones adecuadas sobre las condiciones y circunstancias bajo las cuales las autoridades cuentan con la facultad para solicitar medidas de vigilancia secreta y recolección de datos”, señala la misiva.</p>
<p>En otro punto, Amnistía Internacional considera que cualquier proyecto de ley que se precie de respetuoso a estándares de derechos humanos, las medidas de vigilancia deben ser estrictamente necesarias y proporcionales para un fin legítimo, los cuales únicamente se cumplen cuando existen las garantías adecuadas y efectivas contra su uso arbitrario. Insiste en que existe una mayor preocupación de que esta información pueda ser utilizada con fines corruptos, los cuales pudieran poner en gran riesgo a las personas.</p>
<p>“Consideramos una señal positiva, para el respeto al derecho a la privacidad de las personas y con ello indirectamente de otros derechos humanos. Celebramos que en el debate se hayan expuesto argumentos del Derecho Internacional de los Derechos Humanos y que se haya ratificado el compromiso de la Cámara en su observación y promoción. Esperamos que la Cámara de Senadores, estudie con detenimiento y actúe conforme a estándares a los derechos humanos. Algo queda claro, la ciudadanía está alzando la voz por sus derechos”, señaló Fabián Forestieri, presidente de la sección Paraguaya de Amnistía Internacional.</p>
<p>&nbsp;</p>
<div id="themify_builder_content-3158" data-postid="3158" class="themify_builder_content themify_builder_content-3158 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
		<item>
		<title>Organización latinoamericana considera “desproporcionada” ley de retención de datos</title>
		<link>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/</link>
		<comments>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:35:24 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[datos personales]]></category>
		<category><![CDATA[Derechos Digitales]]></category>
		<category><![CDATA[desproporcionalidad]]></category>
		<category><![CDATA[metadatos]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[regulación]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3156</guid>
		<description><![CDATA[Asunción, IP Paraguay, 6 de marzo de 2015.- La propuesta legislativa para que las operadoras de internet conserven los datos de tráfico es “una medida desproporcionada” la organización de alcance latinoamericano “Derechos Digitales”. El proyecto de ley está en estudio en la Cámara de Diputados y puede tener sanción automática el próximo 12 de marzo. [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="td-post-text-content">
<p><em>Asunción, <a href="http://www.ip.gov.py/ip/?p=6266" target="_blank">IP Paraguay, 6 de marzo de 2015</a>.-</em> La propuesta legislativa para que las operadoras de internet conserven los datos de tráfico es “una medida desproporcionada” la organización de alcance latinoamericano “Derechos Digitales”. El proyecto de ley está en estudio en la Cámara de Diputados y puede tener sanción automática el próximo 12 de marzo.</p>
<hr />
<p>Según la organización, que menciona un precedente sentado en 2006 por el Tribunal de Justicia Europeo cuando estudió la legalidad de este tipo de medidas, una ley de retención de datos no es compatible con el principio de proporcionalidad ya que representa “una norma desmedida para el objetivo perseguido y constituye una injerencia desproporcionada al derecho a la vida privada de los usuarios”, pese a que su finalidad es legítima.</p>
<p>Derechos Digitales, organización que aboga por la promoción y defensa de los derechos humanos en el entorno digital y tiene su asiento en Chile, sostiene que si bien el proyecto planteado en Paraguay persigue un fin legítimo, que es prevenir y sancionar hechos criminales mediante la entrega de información que permita la identificación de quienes los cometen, lo intrusivo de la norma es el hecho que atenta contra el derecho fundamental a la privacidad, planteando la pregunta sobre la idoneidad de la medida.</p>
<p>El proyecto de ley de retención de datos se refiere específicamente a los datos sobre tráfico en internet o “metadatos”: dirección IP, origen y destino de la comunicación, hora y fecha de conexión y desconexión, itinerario, tamaño y duración de la comunicación y no incluye el contenido de la comunicación.</p>
<p>Sin embargo, según la organización, estos metadatos por sí solos son suficientemente ilustrativos a la hora de identificar a una persona y sus circunstancias, sin necesidad de acceder al contenido de sus comunicaciones.</p>
<p>“Como ejemplo, si analizamos los metadatos de una llamada de una mujer al ginecólogo, luego a su madre, luego a un hombre con quien habla frecuentemente, luego a una clínica de abortos, podemos deducir más que de una conversación con ella. Los metadatos pueden ser tanto o más importantes que el contenido de una comunicación, por lo que no hay buenas razones para argumentar que ellos merecen una protección más débil que el contenido de las comunicaciones”, señala.</p>
<p>Según Derechos Digitales, la legitimidad de la medida depende de la forma en que pretende cumplirse. “El proyecto se refiere expresamente a hechos tipificados en el Código Penal de Paraguay además de ‘otras leyes penales especiales’, sin mención alguna a las garantías exigibles para evitar abusos y con escasos contrapesos sobre la mantención de esos datos o el accesos mismos”, sostiene.</p>
<p>“Paraguay hoy no tiene una regulación sofisticada y robusta de protección de datos personales que garantice también los derechos sobre esos datos en internet. Una ley de retención de datos de tráfico se presenta en un contexto en que no existen resguardos suficientes para la protección de los datos retenidos y de sus titulares”, afirma la organización latinoamericana.</p>
</div>
<p>&nbsp;</p>
<div id="themify_builder_content-3156" data-postid="3156" class="themify_builder_content themify_builder_content-3156 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/organizacion-latinoamericana-considera-desproporcionada-ley-de-retencion-de-datos/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Una campaña en redes sociales frena una ley de vigilancia de Internet</title>
		<link>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/</link>
		<comments>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:30:38 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Archivo del Terror]]></category>
		<category><![CDATA[Corte Interamericana de Derechos Humanos]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3154</guid>
		<description><![CDATA[Publicado por iProfesional, 13 de marzo de 2015. Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay La Cámara de Diputados de Paraguay rechazó el proyecto de ley que pretendía obligar a los proveedores de Internet a almacenar datos de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4>Publicado por <a href="http://www.iprofesional.com/notas/207978-Una-campaa-en-redes-sociales-frena-una-ley-de-vigilancia-de-Internet" target="_blank">iProfesional, 13 de marzo de 2015</a>.</h4>
<p>Un grupo dedicado a la defensa de los derechos humanos consideró que la ley podría ser usada para controlar el comportamiento ciudadano en Paraguay</p>
<hr />
<div class="contenido">
<p>La <strong>Cámara de Diputados de Paraguay </strong>rechazó el proyecto de ley que pretendía obligar a los proveedores de <strong>Internet </strong>a almacenar datos de tráfico de los ciudadanos en la red durante 12 meses para facilitar el rastreo policial.</p>
<p>El texto, que fue rechazado por unanimidad, volverá a la <strong>Cámara de Senadores </strong>que lo había aprobado en septiembre del año pasado.</p>
<p>El proyecto de ley contaba con el rechazo de varias organizaciones dedicadas a la defensa de los derechos humanos como <strong>Amnistía Internacional </strong>y <strong>Tedic</strong>.</p>
<p>El proyecto de <strong>Retención de Datos de Tráfico de Paraguay </strong>contaba con el apoyo de varios diputados oficialistas del <strong>Partido Colorado</strong>, así como de la Fiscalía, el Ministerio de Interior y la Policía Nacional.</p>
<p>Según Tedic, grupo dedicado a la defensa de los derechos humanos en Internet, la ley podría ser usada para controlar masivamente el comportamiento ciudadano.</p>
<p>Tedic había lanzado a través de las redes sociales una llamada a luchar contra el proyecto, al que llaman &#8220;pyrawebs&#8221;, un juego de palabras que mezcla el concepto de página web con el término en lengua guaraní &#8220;pyrague&#8221;, con el que se conocía en Paraguay a los soplones e infiltrados de la Policía de la dictadura, informó la agencia Efe.</p>
<p>La campaña se convirtió en viral debido a la sensibilidad que existe en el país por el recuerdo reciente del régimen militar que creó el conocido &#8220;<strong>Archivo del Terror</strong>&#8220;, documentos que contenían los registros de filiación política y otros datos personales, usados para reprimir a cientos de miles de ciudadanos en Suramérica.</p>
<p>Desde el opositor Frente Guasú, el diputado <strong>Ramón Duarte </strong>pidió en el pleno el rechazo de la ley en recuerdo &#8220;de las más de 100.000 víctimas directas de la dictadura&#8221; de <strong>Alfredo Stroessner</strong> (1954-1989).</p>
<p>&#8220;En nombre de los luchadores sociales expulsados del país tenemos que pedir un no rotundo al proyecto y ojalá los senadores también sean responsables y mande al archivo la ley&#8221;, añadió Duarte.</p>
<p>El sistema de almacenamiento de los &#8220;metadatos&#8221; ya ha sido rechazado por el tribunal de Justicia de la Unión Europea, y no existe en países del Cono Sur.</p>
<p>Argentina declaró inconstitucional una legislación similar en el año 2005, y la <strong>Corte Interamericana de Derechos Humanos</strong> (Corte IDH) sentenció en contra de Brasil en 2009 por aplicar seguimiento y escuchas a ciudadanos amparándose en un texto similar al que está en discusión en el Congreso paraguayo, recordó.</p>
<p>En Paraguay solo el 25 por ciento de la población tiene acceso a Internet, por lo que también hay un desconocimiento general sobre los derechos que los ciudadanos tienen en la red, según Tedic.</p>
</div>
<div class="alertas"></div>
<div id="themify_builder_content-3154" data-postid="3154" class="themify_builder_content themify_builder_content-3154 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/una-campana-en-redes-sociales-frena-una-ley-de-vigilancia-de-internet/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>¿Qué pasará con proyecto de “pyrawebs”?</title>
		<link>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 23:24:40 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[Cámara de Senadores]]></category>
		<category><![CDATA[Maricarmen Sequera]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3149</guid>
		<description><![CDATA[Publicado por Paraguay.com el 13 de marzo de 2015. El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados. Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="copete">Publicado por <a href="http://www.paraguay.com/nacionales/que-pasara-con-proyecto-de-pyrawebs-125220">Paraguay.com el 13 de marzo de 2015</a>.</h4>
<hr />
<p class="copete">El proyecto de ley vuelve a su cámara de origen, es decir al Senado. Con esto inicia una nueva batalla para que se pueda aceptar el rechazo que se dio en Diputados.</p>
<p>Maricarmen Sequera, directora ejecutiva de la organización Tedic, manifestó en conversación con Monumental AM que el proyecto de ley conocida como “pyrawebs” vuelve al Senado luego de ser rechazada en Diputados.</p>
<div class="news_story">
<p>En la cámara alta se verá si se acepta la decisión de Diputados o se aprueba el proyecto de ley como se encuentra actualmente. Aclaró que el documento no puede ser sometido a modificaciones.</p>
<p>Si los senadores aceptan el rechazo de los diputados el proyecto será archivado, de lo contrario volverá a ser estudiado por la cámara baja.</p>
<p>Sequera indicó que el Senado tiene 120 días para volver a estudiar el proyecto de ley, destacó que se tratará de acelerar el proceso.</p>
<p>En setiembre de 2014 el proyecto tuvo media sanción en el Senado, mientras que el pasado jueves fue rechazado en Diputados.</p>
<p><strong>El proyecto</strong></p>
<p>El proyecto de ley “Que establece la obligación de conservar los datos de tráfico”,  más conocida como “pyrawebs”, obligaría a las empresas que brindan el servicio de internet a almacenar los datos de navegación de todos sus usuarios.</p>
<p>Los que se encuentran a favor del proyecto de normativa afirman que es necesaria para investigar delitos, mientras los que se oponen argumentar que viola el derecho a la privacidad.</p>
</div>
<div id="themify_builder_content-3149" data-postid="3149" class="themify_builder_content themify_builder_content-3149 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/que-pasara-con-proyecto-de-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.715 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:40:53 -->
