<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>usuarios &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/usuarios/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Vigilarán el uso de celulares e internet de los paraguayos</title>
		<link>http://pyrawebs.tedic.org/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos/</link>
		<pubDate>Tue, 24 Mar 2015 21:47:22 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[pyrawebs]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[usuarios]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3118</guid>
		<description><![CDATA[La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs. El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que [&#8230;]]]></description>
				<content:encoded><![CDATA[<section class="post-lead">
<h5 class="subtitle">La normativa fue bautizada &#8220;Pyrawebs&#8221; por internautas y ONGs.</h5>
<hr />
<h5 class="subtitle"></h5>
</section>
<section class="postbody-wrapper postlayout-default">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost"></article>
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">
<div class="post-column pull-left">
<article class="post-7099 post type-post status-publish format-standard has-post-thumbnail hentry category-actualidad entry last_archivepost">El proyecto de ley fue impulsado por legisladores con el objetivo de investigar a narcotraficantes y pedófilos, pero se presenta ambiguo porque propone que todos los usuarios de internet sean vigilados por un año por las compañías telefónicas.“Si aprueban el proyecto, las empresas telefónicas tienen que guardar por obligación legal por 12 meses absolutamente todo. Sabrán la hora de conexión en las redes sociales, qué sitios visitó, adónde fuiste, con quién hablaste; es una violación a la intimidad de las personas”, señaló David Bogado de la ONG TEDIC.</p>
<p>Dijo que el proyecto cuenta con media sanción de la Cámara de Senadores y si no es tratada por los Diputados tendrá sanción fixta, es decir automática. “Esta normativa no garantiza que los empleados de la compañías no filtren las informaciones y no chantajeen a los usuarios”, subrayó.</p>
<p><strong>“PYRAWEBS”</strong></p>
<p>Bogado señaló que bautizaron al proyecto de ley como: “Pyrawebs”, ya que se asemeja al sistema de delatores de la dictadura stronista. “Ahora las informaciones van a ser ‘pyraguetado’ digital”, expresó. Agregó que la aprobación del proyecto obligaría a las compañías telefónicas a invertir mucho dinero para implementar el sistema.</p>
<p>A su turno, la diputada Olga Ferreira manifestó que este proyecto refleja un retroceso y un atentado contra la intimidad de las personas. En declaraciones a la 780 AM manifestó su oposición al tema, alegando que podría prestarse a chantajes y extorsiones.</p>
<p><strong><a href="http://www.extra.com.py/actualidad/vigilaran-el-uso-de-celulares-e-internet-de-los-paraguayos.html" target="_blank">Publicado en la Edición Impresa del diario Extra, 5 de marzo de 2015</a>.</strong></p>
</article>
</div>
</article>
</div>
</section>
<div id="themify_builder_content-3118" data-postid="3118" class="themify_builder_content themify_builder_content-3118 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.550 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:30 -->
