@media screen and (max-width: 1200px) {
	
	.pagewidth,
	.sidebar-none .section-inner,
	.full_width .themify_builder_row .row_inner,
	.single .section-inner {
		max-width: 92%;
	}
	.sidebar-none .loops-wrapper.list-post .fullwidth .section-inner,
	.sidebar-none.full_width .themify_builder_row.fullwidth .row_inner,
	.single .fullwidth.section-inner,
	.section-post.gallery .section-inner {
		max-width: 100%;
	}
	.sidebar-none.full_width .themify_builder_row.fullwidth .row_inner {
		width: 100%;
	}
	.sidebar-none.full_width .themify_builder_row .row_inner {
		max-width: 92%;
		width: auto;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	#header hgroup {
		display: block;
		overflow: hidden;
		float: left;
	}
	/* site logo */
	#site-logo {
		font-size: 2em;
		text-align: left;
		width: auto;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	/************************************************************************************
	NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		position: absolute;
		height: 25px;
		top: 16px;
		right: 0;
		cursor: pointer;
		text-transform: none;
		padding: 5px;
		padding:0 \0; /* IE8 fix */
		background-color: #fff;
		font-size: 1.5em;
		color: #222527;
		text-transform: uppercase;
		font-size: 1em;
	}
	#menu-icon,
	#search-icon {
		background-color:#fff \9 !important; /* IE fix */
	}
	/* menu icon */
	#menu-icon {
		display: block;
		font-size: 1em;
	}
	#menu-icon:after {
		content: '\e807';
		display: inline-block;
		padding-left: 10px;
	}
	#menu-icon-close {
		display: block;
		position: absolute;
		color: #fff;
		opacity: .6;
		right: 20px;
		top: 20px;
		font-size: 1.25em;
	}
	#menu-icon-close:after {
		content: '\e804';
		display: inline-block; 
	}
	#menu-icon-close:hover {
		opacity: 1;
	}

	/************************************************************************************
	MAIN NAV (MOBILE)
	*************************************************************************************/
	/* Mobile Menu Styles */
	.sidemenu {
		transition: all .2s ease-in-out;
		width: 250px;
		padding: 160px 25px 25px;
		background: #000;
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 111;
	}
	.admin-bar .sidemenu {
		top: 32px;
	}
	#mobile-menu {
		right: -300px;
	}
	#mobile-menu.sidemenu-on {
		right: 0;
	}
	.sidemenu-active {
		position: relative;
	}
	.sidemenu-active, .sidemenu-active #headerwrap {
		left: 0;
		transition: left .2s ease-in-out;
	}
	.sidemenu-right, .sidemenu-right #headerwrap {
		left: -300px;
	}
	.sidemenu-left, .sidemenu-left #headerwrap {
		left: 300px;
	}

	/* Navigation menu */
	#main-nav-wrap {
		float: none;
		position: static;
	}
	#headerwrap #main-nav {
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
	}
	#main-nav {
		position: static;
	}
	#headerwrap #main-nav li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: none;
		border-bottom: solid 1px rgba(255,255,255,.2);
	}

	/* main level link */
	#headerwrap #main-nav a {
		color: #fff;
		border-top: none;	
		padding: 10px 0;
	}
	/* main level link :hover */
	#headerwrap #main-nav a:hover,
	#headerwrap #main-nav .current_page_item a,
	#headerwrap #main-nav .current-menu-item a {
		color: #ee2c49;
		border: none;
	}

	/* current link */
	#headerwrap #main-nav .current_page_item a, 
	#headerwrap #main-nav .current-menu-item a {
		color: #fff;
	}

	/* dropdown ul */
	#headerwrap #main-nav ul {
		visibility: visible;
		opacity: 1;
		position: static;
		float: none;
		clear: both;
		margin: 0;
		padding-left: 20px;
		list-style: none;
		background: transparent;
	}
	#headerwrap #main-nav ul:after {
		content: none;
	}
	#headerwrap #main-nav ul li {
		background: none;
		padding: 0;
		margin: 0;
		float: none;
		text-align: left;
		border-top: none;
	}
	#headerwrap #main-nav ul li:last-child,
	#headerwrap #main-nav > li:last-of-type {
		border-bottom: none;
	}	
	#headerwrap #main-nav ul li a {
		font-size: .875em;
		text-transform: none;
		letter-spacing: 0;
	}

	/* menu ul margin reset */
	#headerwrap #main-nav ul ul,
	#headerwrap #main-nav li:hover > ul,
	#headerwrap #main-nav li ul li:hover > ul {
		margin: 0;
	}

	#headerwrap #main-nav ul a:hover, 
	#headerwrap #main-nav .current_page_item ul a:hover, 
	#headerwrap #main-nav ul .current_page_item a:hover, 
	#headerwrap #main-nav .current-menu-item ul a:hover, 
	#headerwrap #main-nav ul .current-menu-item a:hover,
	#headerwrap #main-nav ul li:hover > a {
		color: #ee2c49;
		border: 0;
	}

	/* remove font icon */
	#headerwrap #main-nav .menu-item-has-children > a:after,
	#headerwrap #main-nav .page_item_has_children > a:after,
	#headerwrap #main-nav .has-sub-menu > a:after {
		display: none;
	}
	
	#headerwrap #main-nav ul .menu-item-has-children {
		margin-bottom: 20px;
		margin-top: 20px;
		border-bottom: none;
	}
	#headerwrap #main-nav .menu-item-has-children:first-child {
		margin-top: 0;
	}

	/*cart*/
	#headerwrap #main-nav ul.cart li a {
		padding: 6px 6px 6px 15px;
		text-align: left;
	}

	/*
	Social Widget
	================================================ */
	.social-widget {
		margin: 0;
		position: absolute;
		top: 36px;
	}
	.social-widget li a:after, .social-widget .rss a:before {
		color: #fff !important;
	}

	/* 
	SEARCH FORM
	================================================ */
	#searchform-wrap {
		position: static !important;
		float: none;
		clear: both;
		margin: 0;
		z-index: 999;
	}

	#headerwrap #searchform {
		position: absolute;
		top: 100px; 
		right: 0;
		left: 26px;
		bottom: auto;
	}
	#headerwrap #searchform #s,
	#headerwrap #searchform #s:focus,
	#headerwrap #searchform #s:hover,
	#headerwrap #searchform .fa-search:hover + #s  {
		width: 83%;
		background: rgba(255,255,255,.2);
		color: #fff !important;
		padding: 10px;
		margin: -5px 0 0;
		float: none;
		border: none;
	}
	#headerwrap #searchform .fa-search {
		color: #fff;
		font-size: 1.25em;
		position: absolute;
		right: 34px;
		top: 4px;
		cursor: pointer;
	}
	
	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth {
		max-width: 94%;
	}
		
	/* content */
	#content {
		width: 67.8%;
	}

	/* sidebar */
	#sidebar {
		margin: 7% 0 5%;
		width: 26.2%;
	}
	#sidebar .secondary {
		width: 47.4%;
	}
	.single-portfolio-expanded .pagewidth {
		width: auto;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	/* post content */
	.post-content {
		overflow: hidden;
	}

	.blog .post-content,
	.gallery-post .post-content {
		padding-left: 130px !important;
	}
	.post-meta {
		width: auto !important;
	}
	.loops-wrapper.list-post .post-meta,
	.single .list-post .post-meta {
		width: 120px !important;
	}
	.post-tag {
		text-align: left !important;
	}
	.loops-wrapper.list-post .post-tag,
	.single .list-post .post-tag {
		text-align: right !important;
	}

	/************************************************************************************
	Portfolio Single
	*************************************************************************************/
	.single-portfolio #content {
		margin: 0;
	}

	.single-portfolio .post-content p {
		overflow: hidden;
	}	
	.sidebar-none.single-portfolio .post-image {
		float: left;
		margin-right: 4%;
	}

	.portfolio.loops-wrapper.grid4 .portfolio-post .post-content,
	.portfolio.loops-wrapper.grid3 .portfolio-post .post-content {
		padding: 20px 10% 0;
	}

	/************************************************************************************
	Team Single
	*************************************************************************************/
	.single .team.loops-wrapper.list-post .team-content-wrap {
		position: static !important;
		float: none;
		clear: both;
		width: 100%;
	}

	.single .team.loops-wrapper.list-post .skillset-wrap,
	.single .skillset-wrap {
		position: static !important;
		float: none;
		clear: both;
		width: auto;
		margin: 0;
		padding: 0;
	}
	.slider .team-slider .skillset-wrap {
		margin: 40px 0 40px 160px;
		padding-left: 0;
	}
	.slider .team-slider .skillset-wrap {
		margin: 40px 0 40px 0;
	}
	.section-inner .shortcode.team .team-social {
		float: left;
		margin-top:10px;
	}	

	.slider .team-slider .post-image img {
		width: 70px;
		height: auto;
	}
	.slider .team-slider .post-title {
		margin: 0 0 5px;
	}
	
}

@media screen and (min-width: 1200px) {
	/* Allow it to be visible if it was closed at a smaller size */
	#slide-nav {
		display: block !important;
	}
}
/*************************** max-width: 800px *************************************************************************************/

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		margin: 0;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* header widget */
	.header-widget {
		position: static !important;
		float: none;
		text-align: left;
		clear: both;
		margin: 0;
	}
	.header-widget .widget {
		margin: 0 0 10px;
	}
	
	/* social widget */
	#header .social-widget {
		padding: 5px 0 0;
	}
	
	/* site logo */
	#site-logo a {
		font-size: 30px;
	}

	/************************************************************************************
	SECTION
	*************************************************************************************/
	.section-post {
		padding: 0 !important;
		height: auto !important;
		min-height: 240px;
	}
	.section-post.fullwidth .section-inner,
	.menubar-bottom .section-inner,
	.section-inner {
		padding-top: 12%;
		padding-bottom: 12%;
	}
	.section-title {
		font-size: 1.8em !important;
		margin: 0 0 30px;
	}
	.section-post.message .section-content {
		width: 94%;
		margin: 0 3%;
		padding: 0;
	}

	/*
	VIDEO SECTION
	================================================ */
	.section-post.video .post-video {
		width: 100%;
	}

	/*
	GALLERY SECTION
	================================================ */
	.section-post.gallery .gallery-image-holder {
		min-height: 600px !important;
	}
	
	/* gallery caption */
	.gallery-caption .text-caption {
		font-size: 1em;
		padding: 20px;
	}
	
	.twg-gallery-post_type .text-caption {
		display: none;
	}

	/************************************************************************************
	FULL SECTION SCROLLING FOR BUILDER
	*************************************************************************************/
	.full_width.full-section-scrolling .themify_builder_row {
		min-height: 360px
	}
	.full_width.full-section-scrolling .themify_builder_row .row_inner {
		padding-top: 10%;
		padding-bottom: 7%;
	}
	.full_width.full-section-scrolling .themify_builder_row.fullheight .row_inner {
		padding-top: 0;
		padding-bottom: 0;
	}	

	/************************************************************************************
	POST
	*************************************************************************************/
	.post-title {
		font-size: 1.25em !important;
	}

	/* list large image */
	.list-large-image .post-image {
		float: none;
		margin-right: 0;
	}
	.list-large-image .post-content {
		overflow: visible;
		float: none;
	}

	/************************************************************************************
	Portfolio Single
	*************************************************************************************/
	.single-portfolio .post-image {
		width: auto !important;
		float: none !important;
		margin-right: 0 !important;
	}
	.single-portfolio .post-meta {
		font-size: .85em;
	}
	
	/*icon font arrows*/
	.shortcode.post-slider .carousel-prev:after,
	.shortcode.slider .carousel-prev:after,
	.carousel-prev:after {
		top: 0;
	}
	.shortcode.post-slider .carousel-next:after,
	.shortcode.slider .carousel-next:after,
	.carousel-next:after {
		top: 0;
	}
	
	/************************************************************************************
	Team
	*************************************************************************************/
	.section-inner .shortcode.team .post-image {
		float: none;
	}

	.team.loops-wrapper.list-post .post-content p,
	.team.loops-wrapper.list-style .post-content p {
		margin-left: 0;
	}

	.slider .team-slider .post-image,
	.slider .team-slider .post-title {
		float: none;
		text-align: center;
	}
	.slider .team-slider .post-image {
		margin-right: 0;
	}
	.slider .team-slider .post-image img {
		width: 100px;
		height: auto;
	}
	.slider .team-slider .post-title {
		margin: 10px 0;
	}
	.slider .team-slider .team-social {
		text-align: center;
		margin-bottom: 40px;
	}
	.team.loops-wrapper.list-post .team-content-wrap,
	.team.loops-wrapper.list-style .team-content-wrap,
	.team.loops-wrapper.list-post .skillset-wrap,
	.shortcode.team.loops-wrapper.list-post .team-content-wrap,
	.shortcode.team.loops-wrapper.list-style .team-content-wrap,
	.shortcode.team.loops-wrapper.list-post .skillset-wrap {
		width: 100%;
		float: none; 
	}

	/************************************************************************************
	GALLERY SINGLE
	*************************************************************************************/
	.gallery-wrapper .item {
		width: 100px;
	}

	/************************************************************************************
	FOOTER 
	*************************************************************************************/
	#footer-tab {
		position: absolute;
		width: 50px;
		height: 32px;
		left: 50%;
		margin: 0 0 0 -30px;
	}
	#footer-tab a {
		width: 50px;
		height: 32px;
		font-size: 22px;
		padding-top: 2px;
	}
	.expanded #footer-tab a:after {
		font-size: 14px;
	}
	.menubar-top #footer-tab {
		margin-top: -34px;
	}

}

/*************************** 600 px *************************************************************************************/

@media screen and (max-width: 600px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	/************************************************************************************
	HEADING
	*************************************************************************************/
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.3em;
	}
	
	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* site logo */
	#site-logo {
		font-size: 2em;
		text-align: left;
		width: auto;
	}
	
	/* site description */
	#site-description {
		display: none;
		visibility: hidden;
	}

	/************************************************************************************
	LAYOUTS
	*************************************************************************************/
	/* list post */
	.loops-wrapper.list-post .post,
	.single .list-post .post {
		padding-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}
	.loops-wrapper.list-post .post-meta,
	.single .list-post .post-meta {
		width: 100% !important;
		text-align: left;
		position: static;
		margin-bottom: 20px;
	}
	.loops-wrapper.list-post .post-meta span,
	.single .list-post .post-meta span {
		display: inline;
		margin: 0 5px 0 0;
	}
	.loops-wrapper.list-post .post-icon {
		width: 27px;
		height: 30px;
		display: block;
		float: left;
		margin: 2px 14px 5px 0;
		border: none;
		position: static;
	}
	.loops-wrapper.list-post .post-date,
	.single .list-post .post-date {
		float: right !important;
		margin-right: 10px;
	}
	.loops-wrapper.list-post .comment-author img {
	   width: 50px;
	   height: 50px;
	   float: left;
	   margin-right: 10px;
	}

	/************************************************************************************
	PAGE
	*************************************************************************************/
	.page-title {
		font-size: 1.9em;
	}
	
	/************************************************************************************
	POST
	*************************************************************************************/
	/* grid4 */
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post {
		width: 100% !important;
		margin-left: 0 !important;
		float: none;
	}

	/************************************************************************************
	Team
	*************************************************************************************/
	.section-inner .shortcode.team .post-image {
		float: left;
	}
	
	/************************************************************************************
	Portfolio Post Section
	*************************************************************************************/
	.portfolio.loops-wrapper.grid4 .post,
	.portfolio.loops-wrapper.grid3 .post {
		width: 50% !important;
		margin-left: 0;
		float: left;
	}

	.portfolio .portfolio-post {
		width: 100% !important;
		float: none;
	}
	.portfolio .portfolio-post p {
		display: block;
		visibility: visible;
	}

	.portfolio .portfolio-post .post-content > p {
		display: block;
		visibility: visible;
	}
	.portfolio.grid4 .portfolio-post .post-content,
	.portfolio.grid3 .portfolio-post .post-content {
		padding: 6% 2%;
	}

	/************************************************************************************
	Portfolio Single
	*************************************************************************************/
	.single .portfolio .post-image,
	.single .portfolio .post-meta,
	.single .portfolio .post-content {
		clear: both;
		float: none;
		position: static !important;
	}
	.single .portfolio .post-image {
		width: 100%;
		margin-bottom: 40px;
	}
	.single .portfolio .post-meta {
		float: right;
	}
	.single .portfolio .post-content {
		margin-top: 40px;
	}

	/*TEAM*/
	.slider .team-slider .team-title-wrapper {
		padding-top: 4px;

	}
	.slider .team-slider .post-title {
		margin: 10px 0 5px 0;
		font-size: 2em !important;
		line-height: 1em;
	}
	.slider .team-slider .post-image img {
		height: auto;
		width: 140px;
	}
	.slider .team-slider .post-image {
		float: left;
		text-align: left;
		margin-right: 40px;
	}
	.slider .team-slider .post-title, 
	.slider .team-slider .team-social{
		text-align: left;
	}

	/************************************************************************************
	GALLERY SECTION
	*************************************************************************************/
	.section-post.gallery .gallery-image-holder {
		min-height: 360px !important;
	}
	
	.gallery-info .gallery-title {
		font-size: 1.6em;
	}
	.gallery-info a.shortcode.button {
		font-size: .8em;
	}
	
	/* gallery slider */
	.twg-controls .twg-list li {
		width: 47px !important;
	}
	.section-post.gallery .gallery-slider-thumbs li a,
	.section-post.gallery .gallery-slider-thumbs li a img {
		width: 50px;
	}
	.section-post.gallery .gallery-slider-wrap {
		height: 50px;
		bottom: 0 !important;
	}
	.section-post.gallery .gallery-slider-prev, 
	.section-post.gallery .gallery-slider-next {
		height: 50px;
	}

	/************************************************************************************
	GALLERY SINGLE
	*************************************************************************************/
	.gallery-wrapper .item {
		width: 70px;
	}
	.gallery-wrapper .item a span {
		display: none !important;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	/* post */
	.post-content {
		padding-left: 0;
	}
	.blog .post-content,
	.gallery-post .post-content {
		padding-left: 0 !important;
	}

	.team .post-title,
	.team .post-tag {
		text-align: left;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin: 0 0 10px;
	}
	
	/************************************************************************************
	Portfolio Post Section
	*************************************************************************************/
	.portfolio.loops-wrapper.grid4 .post,
	.portfolio.loops-wrapper.grid3 .post {
		width: 100% !important;
		margin-left: 0 !important;
	}

	/************************************************************************************
	Portfolio Single
	*************************************************************************************/
	.single-portfolio .post-content {
		clear: both;
		float: none;
		position: static !important;
		width: 100%;
	}

	.post-nav .prev, .post-nav .next {
		clear: none;
	}
	.single-portfolio .post-nav .prev,
	.post-nav .next {
		width: auto !important;
	}

	/************************************************************************************
	Portfolio Lightbox
	*************************************************************************************/
	#portfolio-full .portfolio-expanded .post-image {
		margin-right: 0 !important;
	}
	
	/************************************************************************************
	TESTIMONIAL
	*************************************************************************************/
	.shortcode.testimonial.slider .testimonial-content {
		font-size: 1.2em;
	}
	.shortcode.testimonial.slider .carousel-pager a {
		max-width: 40px;
	}

	/************************************************************************************
	Team
	*************************************************************************************/
	.single .skillset-wrap {
		margin: 0;
		padding-left: 0;
	}
	
	.shortcode.team .team-social
	.shortcode.team .team-content-wrap {
		text-align: center;
	}
	.shortcode.team .post-image,
	.section-inner .shortcode.team .post-image {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.team.loops-wrapper.list-post .post-image,
	.loops-wrapper.list-post h1.post-title,
	.team.loops-wrapper.list-post .team-social {
		float: none;
		text-align: center;
		width: 100%;
	}
	.section-inner .shortcode.team .team-social,
	.team .post-title, .team .post-tag,
	.slider .team-slider .post-image,
	.slider .team-slider .post-title {
		float: none;
		text-align: center;
	}
	.slider .team-slider .post-image {
		margin-right: 0;
	}

	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 10px 10px 0;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footer-logo {
		position: static;
	}
	.footer-nav {
		padding: 0;
	}

	/************************************************************************************
	FULLPAGE NAV
	*************************************************************************************/
	#fullPage-nav.right {
		right: 2px !important;
	}

}


/*************************** max-width:320px *************************************************************************************/

@media only screen and (max-width:320px) {
	.slider .team-slider .post-image {
		float: none;
		margin-right: 0;
		text-align: center;
	}
	.slider .team-slider .post-title, .slider .team-slider .team-social {
	text-align: center;
	}
	.slider .team-slider .post-content > p {
		margin-top: 0;
		text-align: center;
	}

	/*portfolio*/
	.portfolio .portfolio-post .post-content > p {
		display: none;
		visibility: hidden;
	}

	/*team*/
	.shortcode.team .team-title-wrapper .post-title,
	.shortcode.team .team-title-wrapper .team-social {
		float: none;
		text-align: center;
	}

	.shortcode.team .post-image {
		margin: 0;
		float: none;
		text-align: center;
	}

}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
@media screen and (max-height:900px) {
	#footerwrap .footer-widgets {
		overflow: auto; /* prevent overflowing the page */
		max-height: 600px;
	}
}

@media screen and (max-height:750px) {
	#footerwrap {
		font-size: .9em; /* smaller font size on tablet */
	}
	
	#footerwrap .footer-widgets {
		padding: .2em 0 0;
		max-height: 400px;
	}
}

@media screen and (max-height:600px) {
	#footerwrap .footer-widgets {
		max-height: 300px;
	}
}

@media screen and (max-height:480px) {
	#footerwrap .footer-widgets {
		max-height: 250px;
	}
}

@media screen and (max-height:400px) {
	#footerwrap .footer-widgets {
		max-height: 200px;
	}
}

@media screen and (max-height:320px) {
	#footerwrap .footer-widgets {
		max-height: 130px;
	}
}

@media screen and (max-height:280px) {
	#footerwrap .footer-widgets {
		max-height: 120px;
	}
}

/* Admin Bar Tweaks */
@media screen and ( max-width: 782px ) {
	.admin-bar #portfolio-full .portfolio-expanded .post-nav,
	.admin-bar.single-portfolio .post-nav,
	.admin-bar #footerwrap {
		top: 46px;
	}
}
@media screen and ( max-width: 600px ) {
	.admin-bar #portfolio-full .portfolio-expanded .post-nav,
	.admin-bar.single-portfolio .post-nav,
	.admin-bar #footerwrap {
		top: 0;
	}
}