<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Edward Snowden &#8211; Pyrawebs</title>
	<atom:link href="http://pyrawebs.tedic.org/tag/edward-snowden/feed/" rel="self" type="application/rss+xml" />
	<link>http://pyrawebs.tedic.org</link>
	<description>No a la retención de datos de tráfico</description>
	<lastBuildDate>Mon, 29 Feb 2016 20:48:32 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>El Espectador Colombia: Todos somos culpables</title>
		<link>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/</link>
		<comments>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:43:07 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Blog]]></category>
		<category><![CDATA[Cámara de Diputados]]></category>
		<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[intimidad]]></category>
		<category><![CDATA[Olga Ferreira]]></category>
		<category><![CDATA[tedic]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3134</guid>
		<description><![CDATA[Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente. Por: Santiago La Rotta En Twitter: @troskiller La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de [&#8230;]]]></description>
				<content:encoded><![CDATA[<h4 class="lead">Mañana, Paraguay decide la aprobación de una de las leyes de vigilancia masiva más drásticas del continente.</h4>
<hr />
<p>Por: Santiago La Rotta</p>
<div class="una_noticia ">
<div class="ee-twitter-author-node">En Twitter: <a href="https://twitter.com/troskiller" target="_blank">@troskiller</a></div>
<div class="clear"></div>
</div>
<p>La Cámara de Diputados de Paraguay decide mañana la aprobación (o no) de una ley que impondría la retención masiva de datos en este país hasta por un año, una de las iniciativas más drásticas de la región en este tema.</p>
<p>Retención masiva de datos es un término que, al menos mediáticamente, cobró relevancia luego de las revelaciones de Edward Snowden, extécnico de la CIA, quien filtró documentos en los que mostraba cómo la Agencia Nacional de Seguridad de Estados Unidos (NSA, por sus siglas en inglés) estableció una red de vigilancia sobre las comunicaciones de millones de ciudadanos, una operación que realizó en conjunto con agencias de inteligencia de países como el Reino Unido.</p>
<div class="eplanning_video_inline">En la práctica, lo que la retención masiva significa es la imposición sobre los operadores de telecomunicaciones de guardar los datos de actividad y tráfico de todos sus clientes. ¿Qué datos? Casi cualquier pieza de legislación sobre el tema deja claro que no se solicitan los contenidos de las comunicaciones (la grabación de una llamada, por ejemplo), sino los metadatos de éstas: hora y fecha, lugar y direcciones IP (una especie de huella digital electrónica por la cual se sabe quién está a cada lado de la línea).</div>
<p>El tema acá es que los metadatos a menudo revelan tanta (o hasta más) información sobre una comunicación. Esta información es particularmente sensible en el caso de activistas de derechos humanos o disidentes políticos, sólo por mencionar dos casos. Aunque, en últimas, potencialmente debilita la vida privada de cualquier persona.</p>
<p>En el caso de la ley paraguaya (Ley de Retención de Datos de Tráfico, popularmente conocida como Pyrawebs), el registro de la información se realizaría por 12 meses y afectaría a todos los usuarios de servicios de telecomunicaciones, sin importar si sobre estos pesa o no una investigación judicial. Este es uno de los puntos que más molestan de la iniciativa, por decir lo menos. “…este proyecto de ley violenta derechos básicos como el de la libertad de expresión, intimidad, inviolabilidad de la comunicación privada y presunción de inocencia, consagrados en nuestra Constitución Nacional”, asegura Tedic, una ONG paraguaya que monitorea temas de derechos humanos en internet.</p>
<p>La diputada Olga Ferreira, una de las más duras opositoras al proyecto (que con amplia mayoría fue aprobado a finales del año pasado en el Senado), tiene una opinión similar a Tedic al afirmar que la iniciativa “Daña derechos constitucionales como la privacidad, asociación y libertad de expresión, porque lo que propone esta ley es la vigilancia masiva de las personas, como si todas fueran culpables. Además, pone en peligro la privacidad de actores políticos y sociales y, en general, de todos los ciudadanos. Con este monitoreo, datos que se van a conservar por un año, se puede saber quién habla con quién, a qué hora, con quién se reúnen las personas; quiénes son las fuentes de un periodista, por ejemplo”.</p>
<p><strong>¿Por qué fue presentada la ley?</strong></p>
<p>La ley la presentó el Ministerio Público con el objetivo de hacer más rápidamente ciertos controles porque en nuestro país existen muchos delitos. Está el caso del EPP (Ejército del Pueblo Paraguayo), que tiene un secuestrado en este momento. También hay temas como mafias y pedofilia. Pero quienes trabajamos en derechos humanos no estamos de acuerdo con que por las conductas de unos se investigue a todos. Aquí se hizo una consulta en la que más del 90% de los paraguayos rechazó esta ley; no es un resultado vinculante, pero sí genera presión.</p>
<p><strong>¿Para qué se podría utilizar esa retención de datos?</strong></p>
<p>Para revisar cualquier tipo de delitos. Es una violación a la intimidad. Pero además hay que tener en cuenta en manos de cuántas personas va a quedar nuestra información. Con estos datos se puede dar lugar a chantajes, a que se descubran secretos industriales. Esto pasa por manos de funcionarios en las empresas de telefonía, en el Ministerio del Interior y en la Fiscalía.</p>
<p><strong>¿Para dónde cree que se incline esa votación?</strong></p>
<p>Está subiendo la presión popular. Creo que se va a rechazar la ley.</p>
<p>&nbsp;</p>
<p><strong><a href="http://www.elespectador.com/tecnologia/todos-somos-culpables-articulo-548643" target="_blank">Publicado en la Edición Impresa de El Espectador, 10 de marzo de 2015</a>.</strong></p>
<div id="themify_builder_content-3134" data-postid="3134" class="themify_builder_content themify_builder_content-3134 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-espectador-colombia-todos-somos-culpables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>El día que la ciudadanía le ganó a los #pyrawebs</title>
		<link>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/</link>
		<comments>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/#respond</comments>
		<pubDate>Tue, 24 Mar 2015 22:10:35 +0000</pubDate>
		<dc:creator><![CDATA[David Bogado]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>
		<category><![CDATA[1984]]></category>
		<category><![CDATA[Amnistía Internacional]]></category>
		<category><![CDATA[Citizenfour]]></category>
		<category><![CDATA[Constitución Nacional]]></category>
		<category><![CDATA[Edward Snowden]]></category>
		<category><![CDATA[tedic]]></category>
		<category><![CDATA[vigilancia]]></category>

		<guid isPermaLink="false">http://pyrawebs.tedic.org/?p=3121</guid>
		<description><![CDATA[Por Andrés Colmán Gutiérrez – Twitter: @andrescolman No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate. Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se [&#8230;]]]></description>
				<content:encoded><![CDATA[<div id="OBJETO1091" class="CLASS20">
<div id="Object_1091_481" class=" clearfix">
<div class="news-detail-obj">
<div class="newDetailTextChange">
<h3 class="summary newDetailTextChange">Por Andrés Colmán Gutiérrez – Twitter: <a href="http://twitter.com/andrescolman" target="_blank">@andrescolman</a></h3>
<hr />
<p class="summary newDetailTextChange">No hubo multitudes en las plazas, ni marchas en las calles, ni piquetes cerrando rutas. Solo activistas con carteles frente al Congreso, siguiendo el debate.</p>
<p>Y, sin embargo, fue una de las movilizaciones ciudadanas más contundentes y exitosas en defensa de la libertad y la democracia, aunque se haya librado más en redes sociales de internet, medios de comunicación y diálogos tipo lobby con autoridades y referentes políticos.</p>
<p>Lo que sucedió marca una interesante evolución en la dinámica política del Paraguay.</p>
<p>El proyecto de ley &#8220;que obliga a conservar leyes de tráfico&#8221; ya había obtenido una media sanción en el Senado, mientras gran parte de la ciudadanía —y quizás de la misma prensa—, no dimensionaba aún sus peligros totalitarios, ni sus conceptos claramente anticonstitucionales.</p>
<p>La iniciativa parlamentaria —quizás bien intencionada, buscando frenar la impunidad de algunos delitos cometidos a través de tecnologías digitales de comunicación— pretende obligar a empresas proveedoras a retener metadatos de sus clientes durante un año, y que las autoridades puedan acceder en forma irrestricta a dichos datos privados.</p>
<p>Significa —para dar un ejemplo— que puedan violar legalmente las correspondencias electrónicas privadas que los periodistas mantenemos con nuestras fuentes, a pesar de que la Constitución ampara la confidencialidad de las mismas.</p>
<p>Lo interesante fue la creativa y original campaña de información que desarrollaron los miembros de organizaciones de la sociedad civil, como la Ong Tedic y Amnistía Internacional, rebautizando a la ley con un caricaturesco y certero nombre (pyrawebs), que reflotaba la oscura figura de los siniestros soplones stronistas, uniéndola con los modernos sistemas de intervención estatal en la privacidad de los ciudadanos.</p>
<p>A los pocos días, ya nadie nombraba a la ley por su nombre original.</p>
<p>Quienes hayan podido ver la estupenda película documental Citizenfour, de Laura Poitras, ganadora del Oscar 2015, sobre el caso Edward Snowden, pueden dimensionar lo monstruoso de un Gobierno (en este caso, el de Estados Unidos) espiando a sus ciudadanos, como si todos fuéramos criminales sospechosos en potencia.</p>
<p>Es la pesadilla del Gran Hermano (de la novela 1984, de George Orwell) controlándolo todo.</p>
<p>Hay que destacar la actitud de varios diputados, que entendieron los riesgos y cambiaron su postura inicial, rechazando el proyecto.</p>
<p>Ahora cabe esperar que en el Senado tengan el mismo espíritu de apertura crítica.</p>
<p>Hay que buscar un modelo de leyes que nos protejan sin violar nuestra libertad e intimidad.</p>
<p><a href="http://www.ultimahora.com/el-dia-que-la-ciudadania-le-gano-los-pyrawebs-n880213.html" target="_blank"><strong>Publicado en la Edición Impresa del diario Última Hora, 14 de marzo de 2015</strong></a></p>
</div>
</div>
</div>
</div>
<div id="OBJETO2379" class="CLASS46"></div>
<div id="themify_builder_content-3121" data-postid="3121" class="themify_builder_content themify_builder_content-3121 themify_builder themify_builder_front">
	</div>
<!-- /themify_builder_content -->]]></content:encoded>
			<wfw:commentRss>http://pyrawebs.tedic.org/el-dia-que-la-ciudadania-le-gano-a-los-pyrawebs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.566 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-03-01 19:44:11 -->
